:root {
  —-app-height: 100%;
  --ctrl-height: 0px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 46px;
  bottom: calc(55px + var(--ctrl-height));
  left: 0;
  z-index: 10001;
  display: block;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.tooltip {
  z-index: 10001;
}

.sidebar #listCompetitor {
  max-height: calc(100vh - 182px);
  max-height: calc(var(--app-height) - 182px - var(--ctrl-height));
}

.sidebar #listCompetitor.with_search_bar {
  max-height: calc(100vh - 220px);
  max-height: calc(var(--app-height) - 220px - var(--ctrl-height));
}

.sidebar #listOptions {
  max-height: calc(100vh - 142px);
  max-height: calc(var(--app-height) - 142px - var(--ctrl-height));
}

.time_bar {
  position: absolute;
  padding-top: 5px;
  bottom: 0px;
  left: 0px;
  height: calc(55px + var(--ctrl-height));
  background-color: #e5e5e5;
}

.time_bar.loading {
  height: 40px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  position: fixed;
  top: 46px;
  bottom: calc(55px + var(--ctrl-height));
  right: 0px;
  left: 0px;
}

.sidebar.loading,
.main.loading {
  bottom: 46px;
}

.main-alerts {
  position: fixed;
  top: 46px;
  right: 0px;
  left: 0px;
}
.main .page-header .main-alerts {
  margin-top: 0;
}

.runner-icon-dark {
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.runner-icon.icon-focused > span {
  padding: 0px 5px;
  background: #fff;
  outline: 2px solid #000;
  border-radius: 5px;
}

.runner-icon-light {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#progress_bar {
  overflow: initial;
}

.fa-circle.fa-3x.icon-sidebar {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.125), 1px -1px 0 rgba(0, 0, 0, 0.125),
    -1px 1px 0 rgba(0, 0, 0, 0.125), 1px 1px 0 rgba(0, 0, 0, 0.125);
}

.runner-icon span {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 15px;
  white-space: nowrap;
}

.icon-focused {
  z-index: 10000000 !important;
}

.close {
  margin-bottom: 3px;
}

/* REQUIRED */
#share_button {
  margin-left: 5px;
}

.modal-backdrop,
#eventNotStartedModal,
#eventLoadingModal,
#colorModal {
  top: 46px;
}

.navbar {
  z-index: 1000000;
}

.leaflet-left.has-leaflet-pan-control .leaflet-control-rotate {
  position: relative;
  left: 24px;
}

.time_bar .btn-secondary:focus {
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: -4px;
}

.speedometer,
.odometer {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  color: #666;
  font-size: 0.6em;
}

#live_button {
  background-color: #8e1600;
  border-color: #8e1600;
  text-transform: uppercase;
}

#live_button.active {
  background-color: #e50000;
  border-color: #e50000;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  user-select: none;
  -webkit-user-select: none;
}

.route-displayed .fa-crosshairs {
  color: black;
}

.route-not-displayed .fa-crosshairs {
  color: #aaa;
}

.route-not-displayed .fa-highlighter {
  color: #aaa;
}

.route-not-displayed .fa-location-dot {
  color: #aaa;
}

.route-displayed .fa-crosshairs.route-focused {
  color: #20c997;
}

.route-displayed .fa-highlighter.competitor-highlighted {
  color: #20c997;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.2rem;
}

.leaflet-control-layers-selector {
  box-sizing: border-box;
  appearance: none;
  outline: none;
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 14px;
  height: 14px;
  vertical-align: -1px;
  margin: 3px 3px 0 0;
  box-shadow: 0 0 0 2px #ccc;
  cursor: pointer;
}

.leaflet-control-layers-selector:checked {
  background: #0d6efd;
  box-shadow: 0 0 0 2px #0d6efd;
}

.leaflet-control-layers-base > label > span {
  cursor: pointer;
}

.competitor-switch {
  cursor: pointer;
}
