:root {
  color-scheme: light;
  --app-height: 100%;
  --ctrl-height: 0px;
  --sidebar-size: 30px;
  --footer-size: 45px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 46px;
  bottom: calc(var(--footer-size) + var(--ctrl-height));
  left: 0;
  z-index: 10001;
  display: block;
  padding: 5px;
  padding-right: var(--sidebar-size);
  overflow-x: hidden;
  overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
  background-color: var(--bs-secondary-bg);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#permanent-sidebar {
  width: var(--sidebar-size);
  padding: 1px;
  position: fixed;
  top: 46px;
  bottom: calc(var(--footer-size) + var(--ctrl-height));
  right: 0;
  z-index: 10002;
  background-color: var(--bs-secondary-bg);
  border-left: 1px solid rgba(0, 0, 0, 0);
}

#permanent-sidebar.no-sidebar {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.main.no-sidebar {
  right: var(--sidebar-size);
  width: calc(100% - var(--sidebar-size));
}

.tooltip {
  z-index: 10001;
}
.no-competitor-warning {
  height: calc(100vh - 59px - var(--footer-size) - var(--ctrl-height));
}
.sidebar #competitorList {
  overflow-y: auto;
  display: block !important;
  max-height: calc(
    var(--app-height) - 93px - var(--footer-size) - var(--ctrl-height)
  );
}

.sidebar #competitorList.without-competitor {
  max-height: calc(
    var(--app-height) - 59px - var(--footer-size) - var(--ctrl-height)
  );
}

.sidebar #optionsSidebar {
  max-height: calc(
    var(--app-height) - 54px - var(--footer-size) - var(--ctrl-height)
  );
}

.time_bar {
  position: absolute;
  padding-top: 5px;
  bottom: 0px;
  left: 0px;
  height: calc(var(--footer-size) + var(--ctrl-height));
  background-color: var(--bs-secondary-bg);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#full_progress_bar {
  background-color: var(--bs-dark-bg-subtle);
}

.time_bar.loading {
  display: none;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  position: fixed;
  top: 46px;
  bottom: calc(var(--footer-size) + var(--ctrl-height));
  right: 0px;
  left: 0px;
}

.sidebar.loading,
#permanent-sidebar.loading,
.main.loading {
  bottom: calc(var(--footer-size) - 11px);
}

#permanent-sidebar {
  display: block;
}
#permanent-sidebar.loading {
  display: none;
}

.main-alerts {
  position: fixed;
  top: 46px;
  right: 0px;
  left: 0px;
}
.main .page-header .main-alerts {
  margin-top: 0;
}

.runner-icon-dark {
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.runner-icon.icon-focused > span {
  padding: 0px 5px;
  background: #fff;
  outline: 2px solid #000;
  border-radius: 5px;
}

.runner-icon-light {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#progress_bar {
  overflow: initial;
}

.fa-circle.fa-3x.icon-sidebar {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.125), 1px -1px 0 rgba(0, 0, 0, 0.125),
    -1px 1px 0 rgba(0, 0, 0, 0.125), 1px 1px 0 rgba(0, 0, 0, 0.125);
}

.runner-icon span {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0 15px;
  white-space: nowrap;
}

.runner-icon.flags-polyfill span {
  font-family: "Twemoji Country Flags", "Atkinson Hyperlegible", sans-serif;
}

.icon-focused {
  z-index: 10000000 !important;
}

.close {
  margin-bottom: 3px;
}

.modal-backdrop,
#eventNotStartedModal,
#eventLoadingModal,
#colorModal {
  top: 46px;
}

.navbar {
  z-index: 1000000;
}

.leaflet-left.has-leaflet-pan-control .leaflet-control-rotate {
  position: relative;
  left: 18px;
}

.time_bar .btn-secondary:focus {
  box-shadow: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: -4px;
}

.speedometer,
.odometer {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  color: RGBA(var(--bs-body-color-rgb), 0.5);
  font-size: 0.6em;
}

#live_button.btn-secondary {
  background-color: #8e1600;
  border-color: #8e1600;
}

#live_button.btn-secondary.active {
  background-color: #e50000;
  border-color: #e50000;
  text-transform: uppercase;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  user-select: none;
  -webkit-user-select: none;
}

.route-displayed .focused i,
.route-displayed .highlighted i {
  color: #20c997;
}

.competitor-card button:disabled,
.competitor-card button[disabled] {
  border-color: transparent;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 0.2rem;
}

.leaflet-control-layers-selector {
  box-sizing: border-box;
  appearance: none;
  outline: none;
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  width: 14px;
  height: 14px;
  vertical-align: -1px;
  margin: 3px 3px 0 0;
  box-shadow: 0 0 0 2px #ccc;
  cursor: pointer;
}

.leaflet-control-layers-selector:checked {
  background: #0d6efd;
  box-shadow: 0 0 0 2px #0d6efd;
}

.leaflet-control-layers-base > label > span {
  cursor: pointer;
}

.competitor-switch {
  cursor: pointer;
}

.leaflet-control-locate {
  width: 0;
  height: 0;
  display: none;
}

.leaflet-touch .leaflet-control-pan-right-wrap {
  left: 40px;
}
.leaflet-touch .leaflet-control-pan-up-wrap {
  left: 20px;
}
.leaflet-touch .leaflet-control-pan-down-wrap {
  left: 20px;
}

#permanent-sidebar .btn {
  border-width: 0px;
  padding: 1px;
}
#permanent-sidebar .btn.active {
  color: #20c997;
}

#permanent-sidebar .bottom-btn {
  position: fixed;
  bottom: calc(var(--footer-size) + var(--ctrl-height));
}

.higher-z-index {
  z-index: 10003;
}
