{% extends "dashboard/home.html" %}
{% load static %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h4>Email Addresses</h4>
        <p><a href="{% url 'account_email' %}" class="btn btn-primary">Edit email addresses</a></p>
        <h4>Password</h4>
        <p><a href="{% url 'account_set_password' %}" class="btn btn-primary">Change password</a></p>
        <h4>Two-Factor Authentication</h4>
        <p><a href="{% url 'kagi:two-factor-settings' %}" class="btn btn-primary">Two-Factor Settings</a></p>
        <h4>Sessions</h4>
        <p><a href="{% url 'user_sessions:session_list' %}" class="btn btn-primary">Review active sessions</a></p>
        <h4>Account Deletion</h4>
        <p><a href="{% url 'dashboard:account_delete_view' %}" class="btn btn-danger">Delete your account</a></p>
    </div>
</div>
{% endblock %}
