{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1><img src="{% static "/img/avatar-default.png" %}" width="80px" height="80px" alt="Avatar {{ user }}" class="rounded">  {{ user }}</h1>
    </div>
</div>
<ul class="nav nav-tabs mb-3">
    <li><a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:account_edit_view' %}active{% endif %}" href="{% url 'dashboard:account_edit_view' %}"><i class="fa-solid fa-user"></i> Your Details</a></li>
    <li><a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:account_emails' %}active{% endif %}" href="{% url 'dashboard:account_emails' %}"><i class="fa-solid fa-envelope"></i> Email Addresses</a></li>
    <li><a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:account_password_change' %}active{% endif %}" href="{% url 'dashboard:account_password_change' %}"><i class="fa-solid fa-key"></i> Password</a></li>
    <li><a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name|slice:":5" == 'kagi:' %}active{% endif %}" href="{% url 'kagi:two-factor-settings' %}"><i class="fa-solid fa-shield-halved"></i> Two-Factor Authentication</a></li>
    <li><a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:account_session_list' %}active{% endif %}" href="{% url 'dashboard:account_session_list' %}"><i class="fa-regular fa-window-restore"></i> Sessions</a></li>
</ul>
{% block sub_sub_content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mb-1" id="submit-btn"><i class="fa-solid fa-floppy-disk"></i> Save</button>
        <a href="{% url 'dashboard:account_delete_view' %}" class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete account</a>
    </form>
{% endblock %}
    </div>
</div>
{% endblock %}
