{% extends "dashboard/home.html" %}
{% load static %}
{% load bootstrap3 %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <h4>Email Addresses</h4>
        <a href="{% url 'account_email' %}">Edit email addresses</a><br/>
        <h4>Password</h4>
        <a href="{% url 'account_set_password' %}">Change password</a><br/>
        <h4>Sessions</h4>
        <a href="{% url 'user_sessions:session_list' %}">Review active sessions</a><br/>
    </div>
</div>
{% endblock %}