{% load static %}{% load django_bootstrap5 %}{% load compress %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Calibrate Map</title>
{% compress css %}
<link rel="stylesheet" href="{% static '/vendor/bootstrap-5.1.1/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.7.1/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.css' %}" />
<link rel="stylesheet" href="{% static 'styles/dashboard/calibration.css' %}?_=2021100200" />
{% endcompress %}
</head>
<body>
<div class="container">
<h1>Calibrate Map</h1>
<div class="row">
<div class="col-md-12">
<div class="alert alert-info" role="alert">
<span id="help_text"></span>
</div>
</div>
</div>
<form method="POST" action="" enctype="multipart/form-data">
<div id="step2">
<div class="row">
<div class="col-md-6">
<div id="raster_map" class="leaflet_map"></div>
</div>
<div class="col-md-6">
<div id="tile_map" class="leaflet_map"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" id="reset_raster_markers_button" class="btn btn-danger" role="button">Delete Image Map Reference Points</a>
<a href="#" id="reset_world_markers_button" class="btn btn-danger" role="button">Delete World Map Reference Points</a>
<a href="#" id="to_step3_button" class="btn btn-primary disabled" role="button">Preview Map</a>
</div>
</div>
</div>
<div id="step3" class="d-none">
<div class="row">
<div class="col-md-12">
<div id="preview_map" class="leaflet_map"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" id="back_step2_button" class="btn btn-primary">Back</a>
<a href="#" id="to_step4_button" class="btn btn-danger">Validate Calibration</a>
</div>
</div>
</div>
</form>
</div>
 <footer class="page-footer font-small blue pt-4">
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">&copy; {% now 'Y' %} Copyright:
         <a href="{% url 'site:home_view' %}"> {{  site.name }}</a>
     </div>
     <!-- Copyright -->
 </footer>
 {% compress js %}
 <script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}?_=2022011800"></script>
 <script src="{% static '/vendor/leaflet-1.7.1/leaflet.js' %}"></script>
 <script src="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.js' %}"></script>
 <script src="{% static '/vendor/load-image-5.14.0/load-image.all.min.js' %}"></script>
 <script src="{% static '/js/leaflet.imageTransform.js' %}"></script>
 <script src="{% static '/vendor/detectmobilebrowser-20140801/detectmobilebrowser.js' %}?_=2022011800"></script>
 <script src="{% static '/scripts/dashboard/calibration.js' %}?_=2022022600"></script>
 {% endcompress %}
</body>
</html>
