{% load static %}{% load bootstrap3 %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Calibrate Map</title>
{% bootstrap_css %}
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.5.1/leaflet.css' %}"/>
<style>
.leaflet_map {
    height: 600px;
    background: #f5f5f5;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.map_preview {
   position: relative;
   width: 100%;
   padding: 15px 0;
}
.map_preview img {
   border: 1px solid #000;
   border-radius: 5px;
   max-width: 100%;
}
.map_preview .location {
    position: absolute;
   top: 20px;
   left: 5px;
   width: 45px;
   margin: 0;
}
.map_preview h2 {
   position: absolute;
   top: 60px;
   left: 0px;
   width: 100%;
   margin: 0;
}
.map_preview h2 span {
   color: white;
   font: bold 15px/30px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 0 10px 0 30px;
   margin: 0;
}
</style>
</head>
<body>
<div class="container">
<h1>Calibrate Map</h1>
<div class="row">
<div class="col-md-12">
<div class="alert alert-info" role="alert">
<span id="help_text"></span>
</div>
</div>
</div>
<form method="POST" action="" enctype="multipart/form-data">
<div id="step2">
<div class="row">
<div class="col-md-6">
<div id="raster_map" class="leaflet_map"></div>
</div>
<div class="col-md-6">
<div id="tile_map" class="leaflet_map"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" id="reset_raster_markers_button" class="btn btn-danger" role="button">Delete Your Map Reference Points</a>
<a href="#" id="reset_world_markers_button" class="btn btn-danger" role="button">Delete World Map Reference Points</a>
<a href="#" id="to_step3_button" class="btn btn-primary disabled" role="button">Preview Map</a>
</div>
</div>
</div>
<div id="step3" class="hidden">
<div class="row">
<div class="col-md-12">
<div id="preview_map" class="leaflet_map"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" id="back_step2_button" class="btn btn-primary">Back</a>
<a href="#" id="to_step4_button" class="btn btn-danger">Validate Calibration</a>
</div>
</div>
</div>
</form>
</div>
 <footer class="page-footer font-small blue pt-4">
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">&copy; <script>document.write(new Date().getFullYear())</script> Copyright:
         <a href="/"> {{  site.name }}</a>
     </div>
     <!-- Copyright -->
 </footer>
{% bootstrap_javascript jquery=1 %}
<script src="{%  static '/vendor/leaflet-1.5.1/leaflet.js' %}"></script>
<script src="{% static '/js/leaflet.imageTransform.js' %}"></script>
<script>
SpheroidProjection = (function(){
    var p = "prototype",
    m = Math,
    pi = m.PI,
    _180 = 180.0,
    rad = 6378137,
    originShift = pi * rad,
    pi_180 = pi/_180;
    function S(){
    }
    S[p].latlng_to_meters = function(latlng){
        return {x: latlng.lng * rad * pi_180, y: m.log(m.tan((90 + latlng.lat) * pi_180 / 2)) * rad};
    };
    S[p].meters_to_latlng = function(mxy){
        return {lat: (2 * m.atan(m.exp(mxy.y / rad)) - pi / 2) / pi_180, lng: mxy.x / rad / pi_180};
    };
    S[p].resolution = function(zoom){
        return (2 * originShift) / (256 * m.pow(2, zoom));
    };
    S[p].zoom_for_pixel_size = function(pixelSize ){
        for(i=0; i<30; i++){
            if(pixelSize > resolution(i)){
                return m.max(i-1,0);
            }
        }
    };
    S[p].pixels_to_meters = function(px, py, zoom){
        var res = resolution( zoom ),
            mx = px * res - originShift,
            my = py * res - originShift;
        return {x: mx, y: my};
    };
    return S;
})();
</script>
<script>
    function adj(m) { // Compute the adjugate of m
        return [
            m[4] * m[8] - m[5] * m[7], m[2] * m[7] - m[1] * m[8], m[1] * m[5] - m[2] * m[4],
            m[5] * m[6] - m[3] * m[8], m[0] * m[8] - m[2] * m[6], m[2] * m[3] - m[0] * m[5],
            m[3] * m[7] - m[4] * m[6], m[1] * m[6] - m[0] * m[7], m[0] * m[4] - m[1] * m[3]
        ];
    }

    function multmm(a, b) { // multiply two matrices
        var c = Array(9);
        for (var i = 0; i !== 3; ++i) {
            for (var j = 0; j !== 3; ++j) {
                var cij = 0;
                for (var k = 0; k !== 3; ++k) {
                    cij += a[3 * i + k] * b[3 * k + j];
                }
                c[3 * i + j] = cij;
            }
        }
        return c;
    }

    function multmv(m, v) { // multiply matrix and vector
        return [
            m[0] * v[0] + m[1] * v[1] + m[2] * v[2],
            m[3] * v[0] + m[4] * v[1] + m[5] * v[2],
            m[6] * v[0] + m[7] * v[1] + m[8] * v[2]
        ];
    }

    function basisToPoints(x1, y1, x2, y2, x3, y3, x4, y4) {
        var m = [
            x1, x2, x3,
            y1, y2, y3,
            1,  1,  1
        ];
        var v = multmv(adj(m), [x4, y4, 1]);
        return multmm(m, [
            v[0], 0, 0,
            0, v[1], 0,
            0, 0, v[2]
        ]);
    }

    function general2DProjection(
        x1s, y1s, x1d, y1d,
        x2s, y2s, x2d, y2d,
        x3s, y3s, x3d, y3d,
        x4s, y4s, x4d, y4d
    ) {
        var s = basisToPoints(x1s, y1s, x2s, y2s, x3s, y3s, x4s, y4s);
        var d = basisToPoints(x1d, y1d, x2d, y2d, x3d, y3d, x4d, y4d);
        return multmm(d, adj(s));
    }

    function project(m, x, y) {
        var v = multmv(m, [x, y, 1]);
        return [v[0] / v[2], v[1] / v[2]];
    }
</script>
<script>
$(function(){
    var map_a = null;
    var map_b = null;
    var map_c = null;
    var markers_a = [];
    var markers_b = [];
    var raster_map_image;
    var corners_latlng = [];
    var calib_string = null;

    var icons = [
        color_icon('blue'),
        color_icon('red'),
        color_icon('green'),
        color_icon('orange')
    ];
    var help_texts = [
        'Select 4 distincts points on your map and on the world map.',
        'Check that your map is aligned with the world map.',
        'Finally give a name to your map and set a privacy level.'
    ];

    function color_icon(color){
        return new L.Icon({
            iconUrl: "{% static 'vendor/leaflet-color-markers-1.0.0/img/' %}marker-icon-2x-" + color + '.png',
            shadowUrl: "{%  static 'vendor/leaflet-color-markers-1.0.0/img/marker-shadow.png' %}",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        })
    }

    function resetOrientation(src, callback) {
        var img = new Image();
        img.crossOrigin = "anonymous";
        img.onload = function() {
            var width = img.width,
                height = img.height,
                canvas = document.createElement('canvas'),
                ctx = canvas.getContext("2d");
            canvas.width = width;
            canvas.height = height;
            ctx.drawImage(img, 0, 0);
            // export base64
            callback(canvas.toDataURL('image/jpeg', 0.4));
        }
        img.src = src;
    }

    function loadImage() {
        var imageInput = window.opener.document.querySelector('#id_image');
        var imageURL = $(imageInput).parent().children('a').attr('href');
        if (imageInput.files && imageInput.files[0]) {
            var fr = new FileReader();
            fr.onload = function (e) {
                resetOrientation(
                    e.target.result,
                    function(imgDataURI) {
                        var img = new Image();
                        img.onload = function () {
                            $('#help_text').text(help_texts[0]);
                            display_raster_map(img);
                            display_world_map();
                        };
                        img.src = imgDataURI;
                    }
                );
            };
            fr.readAsDataURL(imageInput.files[0]);
        } else if (imageURL) {
            var img = new Image();
            img.addEventListener("load", function () {
                $('#help_text').text(help_texts[0]);
                display_raster_map(img);
                display_world_map();
            });
            img.src = imageURL;
        } else {
            window.close();
        }
    }

    function display_raster_map(image){
        map_a = L.map('raster_map', {crs: L.CRS.Simple, minZoom: -5, maxZoom:2});
        var bounds = [map_a.unproject([0,0]), map_a.unproject([image.width, image.height])];
        L.imageOverlay(image.src, bounds).addTo(map_a);
        map_a.fitBounds(bounds);
        raster_map_image = image;
        map_a.on('click', function(e) {
            set_ref_pts_a(map_a.project(e.latlng, 0));
        });
    }
    function display_world_map(){
        map_b = L.map('tile_map').setView([0,0], 2);

        L.TileLayer.Common = L.TileLayer.extend({initialize: function(options){L.TileLayer.prototype.initialize.call(this, this.url, options);}});
        L.TileLayer['osm'] = L.TileLayer.Common.extend({url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', options:{attribution: '\u0026copy\u003B \u003Ca href\u003D\u0022http://openstreetmap.org\u0022\u003EOpenStreetMap\u003C/a\u003E contributors, \u003Ca href\u003D\u0022http://creativecommons.org/licenses/by\u002Dsa/2.0/\u0022\u003ECC\u002DBY\u002DSA\u003C/a\u003E'}});
        L.TileLayer['gmap-street'] = L.TileLayer.Common.extend({url: 'https://mt0.google.com/vt/x\u003D{x}\u0026y\u003D{y}\u0026z\u003D{z}', options:{attribution: '\u0026copy\u003B Google'}});
        L.TileLayer['gmap-hybrid'] = L.TileLayer.Common.extend({url: 'https://mt0.google.com/vt/lyrs\u003Dy\u0026hl\u003Den\u0026x\u003D{x}\u0026y\u003D{y}\u0026z\u003D{z}', options:{attribution: '\u0026copy\u003B Google'}});
        L.TileLayer['finland-topo'] = L.TileLayer.Common.extend({url: 'http://tiles.kartat.kapsi.fi/peruskartta/{z}/{x}/{y}.jpg', options:{attribution: '\u0026copy\u003B National Land Survey of Finland'}});
        L.TileLayer['mapant'] = L.TileLayer.Common.extend({url: 'https://wmts.mapant.fi/wmts_EPSG3857.php?z\u003D{z}\u0026x\u003D{x}\u0026y\u003D{y}', options:{attribution: 'MapAnt and National Land Survey of Finland'}});

        var baseLayers = {};
        var defaultLayer = new L.TileLayer['osm'];

        baseLayers["Open Street Map"] = defaultLayer;
        baseLayers["Google Map Street"] = new L.TileLayer['gmap-street'];
        baseLayers["Google Map Satellite"] = new L.TileLayer['gmap-hybrid'];
        baseLayers["Finland Topo"] = new L.TileLayer['finland-topo'];
        baseLayers["MapAnt"] = new L.TileLayer['mapant'];

        map_b.addLayer(defaultLayer);
        map_b.addControl(new L.Control.Layers(baseLayers))
        map_b.on('click', function(e) {
            set_ref_pts_b(e.latlng);
        });
    }
    function display_preview_map(){
        map_c = L.map('preview_map');


        L.TileLayer.Common = L.TileLayer.extend({initialize: function(options){L.TileLayer.prototype.initialize.call(this, this.url, options);}});
        L.TileLayer['osm'] = L.TileLayer.Common.extend({url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', options:{attribution: '\u0026copy\u003B \u003Ca href\u003D\u0022http://openstreetmap.org\u0022\u003EOpenStreetMap\u003C/a\u003E contributors, \u003Ca href\u003D\u0022http://creativecommons.org/licenses/by\u002Dsa/2.0/\u0022\u003ECC\u002DBY\u002DSA\u003C/a\u003E'}});
        L.TileLayer['gmap-street'] = L.TileLayer.Common.extend({url: 'https://mt0.google.com/vt/x\u003D{x}\u0026y\u003D{y}\u0026z\u003D{z}', options:{attribution: '\u0026copy\u003B Google'}});
        L.TileLayer['gmap-hybrid'] = L.TileLayer.Common.extend({url: 'https://mt0.google.com/vt/lyrs\u003Dy\u0026hl\u003Den\u0026x\u003D{x}\u0026y\u003D{y}\u0026z\u003D{z}', options:{attribution: '\u0026copy\u003B Google'}});
        L.TileLayer['finland-topo'] = L.TileLayer.Common.extend({url: 'http://tiles.kartat.kapsi.fi/peruskartta/{z}/{x}/{y}.jpg', options:{attribution: '\u0026copy\u003B National Land Survey of Finland'}});
        L.TileLayer['mapant'] = L.TileLayer.Common.extend({url: 'https://wmts.mapant.fi/wmts_EPSG3857.php?z\u003D{z}\u0026x\u003D{x}\u0026y\u003D{y}', options:{attribution: 'MapAnt and National Land Survey of Finland'}});

        var baseLayers = {};
        var defaultLayer = new L.TileLayer['osm'];

        baseLayers["Open Street Map"] = defaultLayer;
        baseLayers["Google Map Street"] = new L.TileLayer['gmap-street'];
        baseLayers["Google Map Satellite"] = new L.TileLayer['gmap-hybrid'];
        baseLayers["Finland Topo"] = new L.TileLayer['finland-topo'];
        baseLayers["MapAnt"] = new L.TileLayer['mapant'];

        map_c.addLayer(defaultLayer);
        map_c.addControl(new L.Control.Layers(baseLayers))
        var bounds = corners_latlng;

        var transformedImage = L.imageTransform(raster_map_image.src, bounds , {opacity: 0.7});
        transformedImage.addTo(map_c);

        map_c.fitBounds(bounds)
    }

    function set_ref_pts_a(xy){
        if(markers_a.length < 4){
            var marker = L.marker(map_a.unproject(xy, 0), {icon: icons[markers_a.length], draggable:'true'}).addTo(map_a);
            markers_a.push(marker);
            check_calib();
        }
    }

    function set_ref_pts_b(latlng){
        if(markers_b.length < 4){
            var marker = L.marker(latlng, {icon: icons[markers_b.length], draggable:'true'}).addTo(map_b);
            markers_b.push(marker);
            check_calib();
        }
    }

    function check_calib(){
        if(markers_a.length == 4 && markers_b.length==4){
            $('#to_step3_button').removeClass('disabled');
        } else {
            $('#to_step3_button').addClass('disabled');
        }
    }

    function compute_calib_string(){
        var xy_a = [];
        var xy_b = [];
        var proj = new SpheroidProjection();
        for(var i=0; i< markers_a.length; i++){
            xy_a[i] = map_a.project(markers_a[i].getLatLng(), 0)
        }
        for(var i=0; i< markers_b.length; i++){
            xy_b[i] = proj.latlng_to_meters(markers_b[i].getLatLng())
        }
        var matrix3d = general2DProjection(
          xy_a[0].x, xy_a[0].y, xy_b[0].x, xy_b[0].y,
          xy_a[1].x, xy_a[1].y, xy_b[1].x, xy_b[1].y,
          xy_a[2].x, xy_a[2].y, xy_b[2].x, xy_b[2].y,
          xy_a[3].x, xy_a[3].y, xy_b[3].x, xy_b[3].y,
        );
        var corners_m = [
            project(matrix3d, 0, 0),
            project(matrix3d, raster_map_image.width, 0),
            project(matrix3d, raster_map_image.width, raster_map_image.height),
            project(matrix3d, 0, raster_map_image.height)
        ];
        for(var i=0; i< corners_m.length; i++){
            corners_latlng[i] = proj.meters_to_latlng({x: corners_m[i][0], y: corners_m[i][1]})
        }
        build_calib_string(corners_latlng);
    }

    function round5(x){
        return Math.round(x*1e5)/1e5;
    }

    function build_calib_string(c){
        var parts = [];
        for(var i=0; i< c.length; i++){
            parts.push(round5(c[i].lat) + ',' + round5(c[i].lng));
        }
        calib_string = parts.join(',');
    }

    $('#reset_raster_markers_button').on('click', function(e){
        e.preventDefault();
        for(var i=0; i< markers_a.length; i++){
            markers_a[i].remove();
        }
        markers_a = [];

        $('#to_step3_button').addClass('disabled');
    });

    $('#reset_world_markers_button').on('click', function(e){
        e.preventDefault();
        for(var i=0; i< markers_b.length; i++){
            markers_b[i].remove()
        }
        markers_b = [];

        $('#to_step3_button').addClass('disabled');
    });
    $('#to_step3_button').on('click', function(e){
        e.preventDefault();
        compute_calib_string();
        $('#step2').addClass('hidden');
        $('#step3').removeClass('hidden');
        $('#help_text').text(help_texts[1]);
        display_preview_map();
    });
    $('#back_step2_button').on('click', function(e){
        e.preventDefault();
        map_c.remove();
        $('#help_text').text(help_texts[0]);
        $('#step3').addClass('hidden');
        $('#step2').removeClass('hidden');
    });

    $('#to_step4_button').on('click', function(e){
        e.preventDefault();
        var el = window.opener.document.querySelector('#id_corners_coordinates');
        el.value = calib_string;
        var event = document.createEvent('Event');
        event.initEvent('input', true, true);
        el.dispatchEvent(event);
        window.close();
    });
    if(!window.opener) {
        window.location.href = '/';
    } else {
        loadImage()
    }
})
</script>
</body>
</html>
