{% load static %}{% load django_bootstrap5 %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Check Map Calibration</title>
<link rel="stylesheet" href="{% static '/vendor/bootstrap-5.1.1/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.7.1/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/dashboard/check_calibration.css' %}?_=2021100200" />
</head>
<body>
<div class="container">
<h1>Check Map Calibration</h1>
<div class="row">
<div>
<div class="row">
<div class="col-md-12">
<div id="preview_map" class="leaflet_map"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a href="#" id="back_button" class="btn btn-primary">Close</a>
</div>
</div>
</div>
</div>
 <footer class="page-footer font-small blue pt-4">
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">&copy; <script>document.write(new Date().getFullYear())</script> Copyright:
         <a href="{% url 'site:home_view' %}"> {{  site.name }}</a>
     </div>
     <!-- Copyright -->
 </footer>
<script src="{% static '/vendor/jquery-1.12.4/jquery.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-1.7.1/leaflet.js' %}"></script>
<script src="{% static '/vendor/load-image-5.14.0/load-image.all.min.js' %}"></script>
<script src="{% static '/js/leaflet.imageTransform.js' %}"></script>
<script src="{% static '/scripts/dashboard/check_calibration.js' %}?_=2021100100"></script>
</body>
</html>
