{% extends "dashboard/home.html" %}
{% load static django_bootstrap5 hosts compress %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}
{% block sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>
                <img src="{% if club.logo %}{{ club.logo_url }}{% else %}{% static "/img/club-default.png" %}{% endif %}" width="80px" height="80px" alt="Club {{ club.name }} Logo" class="rounded">
                {{ club.name }}
            </h1>
        </div>
    </div>
    <a class="btn btn-success btn-sm mb-3"
       href="{% url 'dashboard:club_select_view' %}"><i class="fa-solid fa-arrow-right-arrow-left"></i> Switch Club</a>
    {% if not club.upgraded %}
        <p class="p-1 text-center"
           style="background: linear-gradient(120deg, #98d6a699 0%, #98cdd699 100%)">
            Support the platform, <a href="{% url 'dashboard:upgrade' %}">Become Partner!</a>
        </p>
    {% endif %}
    <ul class="nav nav-tabs mb-3">
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name in 'dashboard:club_view dashboard:club_custom_domain_view dashboard:club_invite_add_view' %}active{% endif %}"
               href="{% url 'dashboard:club_view' %}"><i class="fa-solid fa-house-flag"></i> Club Info</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name in 'dashboard:device_list_view dashboard:device_add_view' %}active{% endif %}"
               href="{% url 'dashboard:device_list_view' %}"><i class="fa-solid fa-mobile-screen-button"></i> Devices</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name in 'dashboard:map_list_view dashboard:map_create_view dashboard:map_upload_kmz_view dashboard:map_upload_gpx_view dashboard:map_edit_view dashboard:map_draw_view' %}active{% endif %}"
               href="{% url 'dashboard:map_list_view' %}"><i class="fa-regular fa-map"></i>  Maps</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name in 'dashboard:event_set_list_view dashboard:event_set_create_view dashboard:event_set_edit_view' %}active{% endif %}"
               href="{% url 'dashboard:event_set_list_view' %}"><i class="fa-solid fa-folder-open"></i> Event Sets</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name in 'dashboard:event_list_view dashboard:event_create_view dashboard:event_edit_view dashboard:event_route_upload_view dashboard:quick_event_view' %}active{% endif %}"
               href="{% url 'dashboard:event_list_view' %}"><i class="fa-solid fa-trophy"></i> Events</a>
        </li>
    </ul>
    {% block sub_sub_content %}
        <p>
            Club page hosted at <a href="{{ club.nice_url }}">{{ club.nice_url }}</a>
        </p>
        <p>
            <a class="btn btn-info mb-1 me-1"
               href="{% url 'dashboard:club_custom_domain_view' %}"><i class="fa-solid fa-link"></i> Custom Domain Management</a>
            {% if club.analytics_site %}
                <a href="{{ club.analytics_site }}" class="btn btn-info mb-1"><i class="fa-solid fa-chart-pie"></i> Pages Analytics</a>
            {% endif %}
        </p>
        <hr />
        <h3>Edit info</h3>
        <p id="invite-btn">
            <a class="btn btn-info mb-1"
               href="{% url 'dashboard:club_invite_add_view' %}"><i class="fa-solid fa-user-plus"></i> Invite more people</a>
        </p>
        <form action=""
              method="post"
              enctype="multipart/form-data"
              id="change_form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mb-1 me-1" id="submit-btn">
                <i class="fa-solid fa-floppy-disk"></i> Save
            </button>
            <a href="{% url 'dashboard:club_delete_view' %}"
               class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete</a>
        </form>
        {% if club.upgraded %}
            <hr />
            <p class="p-1 text-center">
                Thank you for being a partner! You can manage your subscription on <a href="https://store.routechoices.com/billing" target="_blank">LemonSqueezy</a>.
            </p>
        {% endif %}
    {% endblock sub_sub_content %}
{% endblock sub_content %}
{% block extra_body %}
    {% if request.resolver_match.view_name == 'dashboard:club_view' %}
        <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700" data-api-base-url="{% host_url 'api_doc' host 'api' %}" data-club-slug="{{club.slug}}" data-club-nice-url="{{club.nice_url}}" data-club-has-analytics="{% if club.analytics_site %}1{% endif %}">
        </script>
        {% compress js %}
            <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
            <script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
            <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
            <script src="{% static '/vendor/slugify-1.6.5/slugify.js' %}"></script>
            <script src="{% static '/scripts/dashboard/common.js' %}"></script>
            <script src="{% static '/scripts/dashboard/club_edit.js' %}"></script>
            <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock extra_body %}
