{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'dashboard:club_create_view'%}" class="btn btn-primary">Create new club</a>
        <h1>Your Clubs</h1>
        {% if not clubs %}
            <p>You haven't created any club yet.</p>
        {% else %}
        {% if clubs.paginator.num_pages > 1 %}{% bootstrap_pagination clubs extra=request.GET.urlencode %}{% endif %}
        <table class="table table-striped">
            <tr><th>Name</th></tr>
            {% for club in clubs %}
            <tr><td><a href="{% url 'dashboard:club_edit_view' id=club.aid %}">{{ club.name }}</a></td></tr>
            {% endfor %}
        </table>
        {% if clubs.paginator.num_pages > 1 %}{% bootstrap_pagination clubs extra=request.GET.urlencode %}{% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
