{% extends "dashboard/home.html" %}
{% load static django_bootstrap5 hosts compress %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
{% endblock extra_head %}
{% block sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>
                <img class="card-img-left" src="{% static "/img/club-default.png" %}" width="100px" height="100px" alt="Default club Logo">
                New Club
            </h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary mb-1" id="submit-btn">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
            </form>
        </div>
    </div>
{% endblock sub_content %}
{% block extra_body %}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700" data-api-base-url="{% host_url 'api_doc' host 'api' %}">
    </script>
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
        <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
        <script src="{% static '/vendor/slugify-1.6.5/slugify.js' %}"></script>
        <script src="{% static '/scripts/dashboard/common.js' %}"></script>
        <script src="{% static '/scripts/dashboard/club_edit.js' %}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
