{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap5.css' %}" />
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1>{% if context == 'edit' %}Edit Club{% else %}New CLub{% endif %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Save" class="btn btn-primary">
            {% if context == 'edit' %}<a href="{% url 'dashboard:club_delete_view' id=club.aid %}" class="btn btn-danger">Delete</a>{% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script src="{% host_url 'site_specs_js' host 'api' %}"></script>
{% if context != 'edit' %}<script src="{% static '/scripts/dashboard/club_edit_case_new.js' %}?_=2021100100"></script>{% endif %}
<script src="{% static '/scripts/dashboard/club_edit.js' %}?_=2021100200"></script>
{%  endblock %}