{% extends "dashboard/home.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{%  block sub_extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <h1>New club</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block sub_extra_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script>
$('#id_admins').selectize({
    valueField: 'id',
    labelField: 'username',
    searchField: 'username',
    create: false,
    load: function(query, callback) {
        if (!query.length || query.length < 2) return callback();
        $.ajax({
            url: '/api/user/search/?q=' + encodeURIComponent(query),
            type: 'GET',
            error: function() {
                callback();
            },
            success: function(res) {
                callback(res.results);
            }
        });
    }
});
</script>
{%  endblock %}