{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap5.css' %}" />
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1>{% if context == 'edit' %}Edit Club{% else %}New Club{% endif %}</h1>
        {% if context == 'edit' %}<p>Club page hosted at <a href="{{ club.nice_url }}">{{ club.nice_url }}</a></p>
        <p><a class="btn btn-info" href="{% url 'dashboard:club_custom_domain_view' id=club.aid %}">{% if club.domain %}Edit your{% else %}Use a{% endif %} custom domain</a></p>{% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Save" class="btn btn-primary">
            {% if context == 'edit' %}<a href="{% url 'dashboard:club_delete_view' id=club.aid %}" class="btn btn-danger">Delete</a>{% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/jquery-1.12.4/jquery.min.js' %}?_=2022011800"></script>
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/club_edit.js' %}?_=2022011800" data-api-base-url="{% host_url 'api_doc' host 'api' %}"></script>
{%  endblock %}
