{% extends "dashboard/home.html" %}
{% load static %}
{% load bootstrap3 %}

{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap3.css' %}" />
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <h1>{% if context == 'edit' %}Edit Club{% else %}New CLub{% endif %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Submit" class="btn btn-primary">
            {% if context == 'edit' %}<a href="{% url 'dashboard:club_delete_view' id=club.aid %}" class="btn btn-danger">Delete</a>{% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script>
$('#id_admins').selectize({
    valueField: 'id',
    labelField: 'username',
    searchField: 'username',
    multiple: true,
    create: false,
    load: function(query, callback) {
        if (!query.length || query.length < 2) return callback();
        $.ajax({
            url: '/api/user/search/?q=' + encodeURIComponent(query),
            type: 'GET',
            error: function() {
                callback();
            },
            success: function(res) {
                callback(res.results);
            }
        });
    }
});
</script>
{%  endblock %}