{% extends "dashboard/club_view.html" %}
{% load static django_bootstrap5 hash compress %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/dashboard/device_list.css' %}" />
    {% endcompress %}
{% endblock extra_head %}
{% block sub_sub_content %}
    <div class="row">
        <div class="mb3">
            {% if not devices %}<p>You haven't added any devices.</p>{% endif %}
            <a href="{% url 'dashboard:device_add_view' %}"
               class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Add new device</a>
            {% if devices %}
                <br>
                <br>
                <a href="{% url 'dashboard:device_list_download' %}"
                   class="btn btn-info mb-1"><i class="fa-solid fa-download"></i> Download device list</a>
            {% endif %}
        </div>
        {% if devices %}
            {% if devices.paginator.num_pages > 1 %}
                {% bootstrap_pagination devices extra=request.GET.urlencode pages_to_show=4 %}
            {% endif %}
            <table class="table table-striped mb-3" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Nickname</th>
                        <th>Last Seen</th>
                        <th>Battery&nbsp;%</th>
                        <th>Last Used By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for device_ownership in devices %}
                        {% with device=device_ownership.device %}
                            <tr class="collapsable">
                                <td>
                                    <button class="btn btn-sm copy-btn btn-dark text-nowrap"
                                            data-value="{{ device.aid }}"
                                            type="button">
                                        {{ device.aid }} <i class="fa-regular fa-copy"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm edit-nick-btn float-end"
                                            style="margin-top: -4px"
                                            data-nick="{{ device_ownership.nickname }}"
                                            data-dev-id="{{ device.aid }}"
                                            type="button">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    {% if device_ownership.nickname %}
                                        {{ device_ownership.nickname }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.last_location %}
                                        <button class="btn btn-sm text-nowrap border border-0" disabled type="button">
                                            <i class="fa-solid fa-stopwatch"></i> <span class="date-utc text-nowrap"
       data-date="{{ device.last_location_datetime|date:"c" }}">{{ device.last_location_datetime|date:'Y-m-d H:i:s' }} UTC</span>
                                        </button>
                                        <br />
                                        <a class="btn btn-sm btn-success text-nowrap"
                                           target="_blank"
                                           rel="noopener noreferrer"
                                           href="https://www.openstreetmap.org/?mlat={{ device.last_location.1 }}&mlon={{ device.last_location.2 }}"><i class="fa-solid fa-map-location-dot"></i> {{ device.last_location.1 }}, {{ device.last_location.2 }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.battery_level %}
                                        {{ device.battery_level }}% <i class="fa-solid fa-battery-{{ device.battery_level_text }}"
    style="color: {% if device.battery_level_0_4 == 0 %}red{% elif device.battery_level_0_4 == 1 %}orange{% elif device.battery_level_0_4 == 2 %}#EFCC00{% else %}green{% endif %}"></i>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if last_usage|hash:device.id %}
                                        {{ last_usage|hash:device.id }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-danger remove-btn"
                                            data-dev-id="{{ device.aid }}"
                                            type="button">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            {% if devices.paginator.num_pages > 1 %}
                {% bootstrap_pagination devices extra=request.GET.urlencode pages_to_show=4 %}
            {% endif %}
        {% endif %}
    </div>
{% endblock sub_sub_content %}
{% block extra_body %}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700"
            data-csrf-token="{{ csrf_token }}"
            data-club-slug="{{ club.slug }}"></script>
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/scripts/dashboard/device_list.js' %}"></script>
        <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
