{% extends "dashboard/club_view.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load compress %}
{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
{%  endblock %}

{% block sub_sub_content %}
<div class="row">
    <div class="col-12">
        <h1>Add your device</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Add" class="btn btn-primary mb-1">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/scripts/load-local-variables.js' %}?_=2022072900"
  data-api-base-url="{% host_url 'api_doc' host 'api' %}">
</script>
{% compress js %}
<script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
<script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/device_add.js' %}"></script>
{% endcompress %}

{%  endblock %}
