{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block sub_content %}
<div class="row">
    <div class="col">
        <a href="{% url 'dashboard:device_add_view'%}" class="btn btn-primary">Add new device</a>
        <h1>Your Devices</h1>
        {% if not devices %}
            <p>You haven't added any devices as yours yet.</p>
        {% else %}
        <table class="table table-striped">
            <tr><th>Device ID</th><th>Last Date Seen</th><th>Last Position Coordinates</th><th>Action</th></tr>
            {% for device in devices %}
            <tr>
                <td><button class="btn btn-sm copy-btn btn-dark" data-value="{{ device.aid }}">{{ device.aid }} <i class="fa fa-copy"></i></button></td>
                <td>{% if device.last_location %}<span class="date-utc" data-date="{{device.last_date_viewed|date:"c"}}">{{device.last_date_viewed|date:'Y-m-d H:i:s'}} UTC</span>{% else %}-{% endif %}</td>
                <td>{% if device.last_location %}{{ device.last_position.0 }}, {{ device.last_position.1 }}{% else %}-{% endif %}</td>
                <td><a class="btn btn-danger" href="{% url 'dashboard:device_remove_view' id=device.aid %}"><i class="fa fa-times"></i> Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% bootstrap_pagination devices extra=request.GET.urlencode %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/device_list.js' %}?_=2021100100"></script>
{% endblock %}
