{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load compress %}
{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap5.css' %}" />
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1>Add your device</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/scripts/load_variables.js' %}?_=2022031600" data-api-base-url="{% host_url 'api_doc' host 'api' %}"></script>
{% compress js %}
<script src="{% static '/vendor/jquery-1.12.4/jquery.min.js' %}?_=2022011800"></script>
<script src="{%  static '/vendor/selectize-0.13.3/selectize.min.js' %}?_=2022011800"></script>
<script src="{% static '/scripts/dashboard/device_add.js' %}?_=2022031600"></script>
{% endcompress %}

{%  endblock %}
