{% extends "dashboard/home.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'dashboard:event_create_view'%}" class="btn btn-primary">Create new event</a>
        <h1>Your Clubs Events</h1>
        {% if not events %}
            <p>You haven't created any event yet.</p>
        {% else %}
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Start Date (UTC)</th>
                <th>Privacy</th>
                <th>Is Live</th>
                <th>Club</th>
                <th>Actions</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{% url 'dashboard:event_edit_view' id=event.aid %}">{{ event.name }}</a></td>
                <td>{{ event.start_date|date:'Y-m-d H:i:s' }}</a></td>
                <td>{{ event.get_privacy_display }}</a></td>
                <td>{{ event.is_live }}</a></td>
                <td>{{ event.club }}</td>
                <td>{% if not event.hidden %}<a href="{{ event.get_absolute_url }}" class="btn btn-primary">View</a> <a href="{% url 'dashboard:event_gpx_upload_view' id=event.aid %}" class="btn btn-default">Upload GPX routes</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% bootstrap_pagination events extra=request.GET.urlencode %}
        {% endif %}
    </div>
</div>
{% endblock %}