{% load static %}{% load django_bootstrap5 %}{% load compress %}<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Competitors of {{event.name}}</title>
{% compress css %}
<link rel="stylesheet" href="{% static '/vendor/bootstrap-5.2.3/bootstrap.min.css' %}"/>
{% endcompress %}
<style>
    @media print {
        body {
            font-size: 0.5em;
        }
    }
</style>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-12">
        <h3>Competitors of {{event.name}} <button id="print-btn" class="btn btn-success d-print-none mb-1">Print</button></h3>
        <table class="table competitor_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Device</th>
                    <th>Start Time</th>
                </tr>
            </thead>
            {% for competitor in competitors %}
                <tr class="competitor">
                    <td>
                        {{competitor.name}}
                    </td>
                    <td >
                        {{competitor.device_display_str}}
                    </td>
                    <td>
                        <span class="date-utc text-nowrap" data-date="{{competitor.start_time|date:"c"}}">{{competitor.start_time|date:'Y-m-d H:i:s'}} UTC</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/event_competitors_printer.js' %}"></script>
{% endcompress %}
</body>
</html>
