{% extends "dashboard/club_view.html" %}
{% load static django_bootstrap5 hosts qr_code compress %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}
{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            {% if event_set.url %}
                <div class="text-center d-flex">
                    <div>
                        <p>
                            {% qr_from_text event_set.shortcut size="t" image_format="png" error_correction="l" %}
                            <br>
                            <small><a class="small qrUrlText fw-bold" href="{{ event_set.shortcut }}">{{ event_set.shortcut_text }}</a></small>
                        </p>
                    </div>
                </div>
            {% endif %}
            <h1>
                {% if context == 'edit' %}
                    Edit Event Set
                {% else %}
                    New Event Set
                {% endif %}
            </h1>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-primary me-1 mb-1" id="submit-btn">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
                {% if context == 'edit' %}
                    <a href="{% url 'dashboard:event_set_delete_view' event_set_id=event_set.aid %}"
                       class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
    {% if event_set %}
        <hr />
        {% if event_set.events.all %}
            <h4>Contains following events</h4>
            <ul>
                {% for event in event_set.events.all %}
                    <li>
                        <a href="{% url 'dashboard:event_edit_view' event_id=event.aid %}">{{ event.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Not used in any events</h4>
        {% endif %}
    {% endif %}
{% endblock sub_sub_content %}
{% block extra_body %}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700"
            data-club-url="{{club.nice_url}}"></script>
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/slugify-1.6.5/slugify.js' %}"></script>
        <script src="{% static '/scripts/dashboard/common.js' %}"></script>
        <script src="{% static '/scripts/dashboard/event_set_edit.js' %}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
