{% extends "dashboard/club_view.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load qr_code %}
{% load compress %}

{% block sub_sub_content %}
<div class="row">
    <div class="col-12">
        {% if event_set.url %}
        <div  class="text-center d-flex">
            <div><p>{% qr_from_text event_set.url size="t" image_format="png" error_correction="l" %}<br><small><a class="small qrUrlText fw-bold" href="{{ event_set.url }}">{{ event_set.url }}</a></small></p></div>
        </div>
        {% endif%}
        <h1>{% if context == 'edit' %}Edit Event Set{% else %}New Event Set{% endif %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary mb-1" type="submit" class="save btn btn-secondary" id="submit-btn"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            {% if context == 'edit' %}<a href="{% url 'dashboard:event_set_delete_view' event_set_id=event_set.aid %}" class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete</a>{% endif %}
        </form>
    </div>
</div>
{% if event_set %}
<hr/>
{% if event_set.events.all %}
<h4>Contains following events</h4>
<ul>
{% for event in event_set.events.all %}<li><a href="{% url 'dashboard:event_edit_view' event_id=event.aid %}">{{event.name}}</a></li>{% endfor %}
</ul>{% else %}
<h4>Not used in any events</h4>
{% endif %}
{% endif %}
<script
  src="{% static '/scripts/load-local-variables.js' %}?_=2022072900"
  data-club-url="{{club.nice_url}}"></script>
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/slugify-1.6.5/slugify.js' %}"></script>
<script src="{% static '/scripts/dashboard/event_set_edit.js' %}"></script>
{% endcompress %}
{% endblock %}
