{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1>Upload Competitor Route on Event {{ event.name }}</h1>
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script>
    $(function(){
        $('#id_gpx_file').attr('accept', '.gpx')
        $('#id_gpx_file').on('change', function(){
            if(this.files[0].size > 1e7){
                swal({
                    title: 'Error!',
                    text: 'File is too big!',
                    type: 'error',
                    confirmButtonText: 'OK'
                });
                this.value = "";
            }
        });
    })
</script>
{% endblock %}
