{% extends "dashboard/club_view.html" %}
{% load static django_bootstrap5 hosts qr_code compress %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
        <link rel="stylesheet"
              href="{% static '/vendor/tempus-dominus-6-custom-2/css/tempus-dominus.css' %}" />
        <link rel="stylesheet"
              href="{% static 'styles/dashboard/event_edit.css' %}" />
    {% endcompress %}
{% endblock extra_head %}
{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            {% if event %}
                {% if event.shortcut %}
                    <div class="text-center d-flex">
                        <div>
                            <p>
                                {% qr_from_text event.shortcut size="t" image_format="png" error_correction="l" %}
                                <br />
                                <small><a class="small qrUrlText fw-bold" href="{{ event.shortcut }}">{{ event.shortcut_text }}</a></small>
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div>
                    <div class="mb-2">
                        <h6>Links for all</h6>
                        <a href="{{ event.get_absolute_url }}"
                           class="btn btn-primary btn-sm mb-1 me-1"><i class="fa-solid fa-right-to-bracket"></i> Event Page</a>
                        {% if not event.hidden %}
                            <a href="{{ event.club.nice_url }}{{ event.slug }}/export"
                               class="btn btn-sm btn-secondary me-1 mb-1"><i class="fa-solid fa-floppy-disk"></i> Export Page</a>
                        {% endif %}
                        {% if event.started and event.allow_route_upload or event.open_registration and not event.ended %}
                            <a href="{{ event.club.nice_url }}{{ event.slug }}/contribute"
                               class="btn btn-sm btn-secondary me-1 mb-1"><i class="fa-solid fa-circle-plus"></i> Competitor
                                {% if event.open_registration and not event.ended %}registration{% endif %}
                                {% if event.open_registration and event.allow_route_upload and event.started and not event.ended %}or{% endif %}
                                {% if event.started and event.allow_route_upload %}route upload{% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="mb-2">
                        <h6>Links for admins</h6>
                        {% if event.started %}
                            <a href="{% url 'dashboard:event_route_upload_view' event_id=event.aid %}"
                               class="btn btn-secondary btn-sm me-1 mb-1"
                               id="upload_route_btn"><i class="fa-solid fa-upload"></i> Upload Competitors Routes</a>
                        {% endif %}
                        <a href="{% url 'dashboard:event_competitors_printer_view' event_id=event.aid %}"
                           class="btn btn-secondary btn-sm me-1 mb-1"><i class="fa-solid fa-print"></i> Competitor List For Printing</a>
                    </div>
                </div>
                <hr />
            {% endif %}
            <h1>
                {% if context == 'edit' %}
                    Edit Event
                {% else %}
                    New Event
                {% endif %}
                <small><span class="utc-offset"></span></small>
            </h1>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <h4>Extra Maps</h4>
                <div class="form-text">Extra maps can be used for example if the route is split in multiple parts</div>
                {% bootstrap_formset_errors extra_map_formset %}
                <table class="table map_table">
                    {{ extra_map_formset.management_form }}
                    {% for form in extra_map_formset %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th {% if not field.field.required %}class="fw-normal"{% endif %}>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        <tr class="extra_map_formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                    {% endif %}
                                    {% bootstrap_field field show_label=False %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <hr />
                <h3>Announcement</h3>
                {% bootstrap_form notice_form %}
                <h3>Competitors</h3>
                {% if not use_competitor_formset and context == 'edit' %}
                    <p>
                        You have more than 100 competitors <a class="btn btn-primary"
    href="{% url 'dashboard:event_competitors_view' event_id=event.aid %}"
    target="_blank">Manage existing competitors</a>
                    </p>
                    <h4>Add more competitors</h4>
                {% endif %}
                {% bootstrap_formset_errors formset %}
                <table class="table competitor-table">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {% bootstrap_form_errors form type='non_fields' %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th {% if not field.field.required %}class="fw-normal"{% endif %}>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                    {% endif %}
                                    {% bootstrap_field field show_label=False %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <div class="iof-upload">
                    <div id="iof-step-1">
                        <label for="iof_input" class="form-label">Import competitors from IOF XML 3.0</label>
                        <input type="file"
                               name="iof_input"
                               id="iof_input"
                               class="form-control"
                               accept="text/xml" />
                    </div>
                    <div id="iof-step-2" class="d-none">
                        <label for="iof_class_input" class="form-label">Select Class</label>
                        <select type="select"
                                name="iof_class_input"
                                id="iof_class_input"
                                class="form-control mb-1"></select>
                        <button class="btn btn-info me-1" id="iof-class-submit-btn" type="button">Import</button>
                        <button class="btn btn-danger" id="iof-class-cancel-btn" type="button">Cancel</button>
                    </div>
                </div>
                <hr />
                <div class="csv-upload">
                    <label for="csv_input" class="form-label">Import competitors from CSV</label>
                    <input type="file"
                           name="csv_input"
                           id="csv_input"
                           class="form-control"
                           accept="text/csv" />
                    <div class="form-text">
                        Follow the following format for the CSV:
                        <br />
                        Column A - Full name - displayed in the menu on the left during the event
                        <br />
                        Column B - Shortname - displayed next to the marker on the event
                        <br />
                        Column C - Start time for the competitor in the ISO format (2014-05-31T08:57:00Z). Make sure this column is formatted as Text if you use Excel.
                        <br />
                        Column D - The ID of the GPS device
                        <br />
                        File must be UTF-8 encoded
                        <br />
                        <a href={% static "assets/startlist.csv" %}>Download example file</a>
                    </div>
                </div>
                <hr />
                <button class="btn btn-primary mb-1 me-1 save" id="submit-btn" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
                <button class="btn btn-secondary mb-1 me-1"
                        name="save_continue"
                        value="True"
                        type="submit">
                    <i class="fa-solid fa-floppy-disk"></i> Save and Continue Editing
                </button>
                {% if context == 'edit' %}
                    <a href="{% url 'dashboard:event_delete_view' event_id=event.aid %}"
                       class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock sub_sub_content %}
{% block extra_body %}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700"
            data-api-base-url="{% host_url 'api_doc' host 'api' %}"
            data-event-id="{{event.aid}}"
            data-club-id="{{club.aid}}"
            data-club-slug="{{club.slug}}"
            data-club-url="{{club.nice_url}}"
            data-csrf-token="{{ csrf_token }}"></script>
    {% compress js %}
        <script src="{% static '/vendor/jquery-3.6.3/jquery.min.js' %}"></script>
        <script src="{% static '/vendor/jquery-formset-1.3.2/jquery.formset.js' %}"></script>
        <script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
        <script src="{% static '/vendor/tempus-dominus-6-custom-2/js/tempus-dominus.js' %}"></script>
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/papaparse-5.3.2/papaparse.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
        <script src="{% static '/vendor/slugify-1.6.5/slugify.js' %}"></script>
        <script src="{% static '/scripts/dashboard/common.js' %}"></script>
        <script src="{% static '/scripts/dashboard/event_edit.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
