{% extends "dashboard/club_view.html" %}
{% load static hosts django_bootstrap5 compress %}
{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                {% if not event_sets %}<p>You haven't created any event sets.</p>{% endif %}
                <a href="{% url 'dashboard:event_set_create_view' %}"
                   class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Create new event set</a>
            </div>
            {% if event_sets %}
                {% if event_sets.paginator.num_pages > 1 %}
                    {% bootstrap_pagination event_sets extra=request.GET.urlencode pages_to_show=4 %}
                {% endif %}
                <table class="table table-striped mb-3">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Event Count</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event_set in event_sets %}
                            <tr>
                                <td>
                                    <a href="{% url 'dashboard:event_set_edit_view' event_set_id=event_set.aid %}">{{ event_set.name }}</a>
                                </td>
                                <td>{{ event_set.events.all.count }}</td>
                                <td>
                                    {% if event_set.url %}
                                        <a href="{{ event_set.url }}"
                                           target="_blank"
                                           class="btn btn-primary btn-sm"
                                           role="button"><i class="fa-solid fa-arrow-up-right-from-square"></i> Open</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if event_sets.paginator.num_pages > 1 %}
                    {% bootstrap_pagination event_sets extra=request.GET.urlencode pages_to_show=4 %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock sub_sub_content %}
