{% extends "dashboard/home.html" %}
{% load compress static %}
{% block sub_content %}
    {% if event.external_id %}
    <div class="row">
        <div class="col-12">
            <h3>
                <i class="fa-solid fa-triangle-exclamation"></i> You can not delete event <i>{{ event.name }} as it is externally managed</i>
            </h3>
            <a class="btn btn-primary dashboard-link float-end" role="button" href="./">
                <i class="fa-regular fa-circle-left"></i> <span>Return</span></a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <h1>
                <i class="fa-solid fa-triangle-exclamation"></i> Delete event <i>{{ event.name }}</i>?
            </h1>
            <p>This will delete all data under this event.</p>
            <p>There is no way to recover your data if you confirm this step.</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="type-confirmation" class="form-label">Type "DELETE" to confirm</label>
                    <input name="type-confirmation"
                           type="text"
                           class="form-control"
                           autocomplete="off">
                </div>
                <button type="submit" class="btn btn-danger mb-1" id="submit-btn" disabled>
                    <i class="fa-solid fa-trash"></i> <span>Delete</span>!
                </button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock sub_content %}

{% block extra_body %}
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
