{% extends "dashboard/home.html" %}
{% load static %}

{% block sub_content %}
<div class="row">
  <div class="col-12">
      <h1><i class="fa-solid fa-triangle-exclamation"></i> Delete event {{ event.name }}?</h1>
      <p>This will delete all data under this event.</p>
      <p>There is no way to recover your data if you confirm this step.</p>
      <form action="" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> I understand the risk and I want to delete all this event data!</button>
      </form>
  </div>
</div>
{% endblock %}
