{% extends "dashboard/home.html" %}
{% load static django_bootstrap5 compress %}
{% block sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>Upload Competitor Route on Event {{ event.name }}</h1>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" id="submit-btn" class="btn btn-primary mb-1">
                    <i class="fa-solid fa-file-arrow-up"></i> Upload
                </button>
            </form>
        </div>
    </div>
{% endblock sub_content %}
{% block extra_body %}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/dashboard/event_gpx_upload.js' %}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
