{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static '/vendor/tempus-dominus-6alpha1/css/tempus-dominus.css' %}"/>
{%  endblock %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        {% if event %}<h1>{{event.name}}</h1>
        {% if event.shortcut %}
        <div>
        <p><img id='qr_img' src='' alt="qr_link" /><br><small><a class="small qrUrlText" href="{{ event.shortcut }}">{{ event.shortcut }}</a></small></p>
        </div>
        {% endif%}
        {% endif%}
        <h1>{% if context == 'edit' %}Edit Event{% else %}New Event{% endif %} <small><span class="utc-offset"></span></small></h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <h4>Extra Maps</h4>
            <div class="form-text">Extra maps can be used for example if the route is split in multiple parts</div>
            {% bootstrap_formset_errors extra_map_formset %}
            <table class="table">
            {{ extra_map_formset.management_form }}
            {% for form in extra_map_formset %}
               {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="extra_map_formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% bootstrap_form_errors form layout='inline' %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% bootstrap_field field show_label=False %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
            <hr/>
            <h3>Announcement</h3>
            {% bootstrap_form notice_form %}

            <h3>Competitors{% if event.started %} <a href="{% url 'dashboard:event_gpx_upload_view' id=event.aid %}" class="btn btn-primary">Upload Competitors Routes</a>{% endif %}</h3>
            {% bootstrap_formset_errors formset %}
            <table class="table competitor_table">
            {{ formset.management_form }}
            {% for form in formset %}
               {% bootstrap_form_errors form type='non_fields' %}
               {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {% bootstrap_field field show_label=False %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>

            <label for="csv_input" class="form-label">Import competitors from CSV</label>
            <input type="file" name="csv_input" id="csv_input" class="form-control"accept="text/csv"/>
            <div class="form-text">
                Follow the following format for the CSV:<br/>
                Column A - Full name / displayed in the menu on the left during the event /<br/>
                Column B - Shortname / displayed next to the marker on the live event /<br/>
                Column C - Start time for the competitor in the following format (2014-05-31 08:57:00). Make sure this column is formatted as Text.<br/>
                Column D - The ID of the GPS device
            </div>
            <hr/>

            <input type="submit" value="Save" class="btn btn-primary" id="submit-btn">
            <button type="submit" name="save_continue" value="True" class="btn btn-secondary">Save and Continue Editing</button>
            {% if context == 'edit' %}<a href="{% url 'dashboard:event_delete_view' id=event.aid %}" class="btn btn-danger">Delete</a>{% endif %}
        </form>
    </div>
</div>
{% endblock %}

{%  block extra_body %}
{{ block.super }}
<script src="{% static '/vendor/qrcode-generator-1.4.4/qrcode.min.js' %}"></script>
<script src="{% static '/vendor/jquery-formset-1.3.2/jquery.formset.js' %}"></script>
<script src="{% static '/vendor/popper-2.9.3/popper.min.js' %}"></script>
<script src="{% static '/vendor/tempus-dominus-6alpha1/js/tempus-dominus.js' %}?2021090900"></script>
<script type="text/javascript">
  $(function () {
    $('.datetimepicker').map(function(i, el) {
      var options = {
          useCurrent: false,
          display: {
            components: {
              useTwentyfourHour: true,
              seconds: true,
            }
          }
      }
      $el = $(el);
      var val = $el.val()
      if(val) {
        val = val.substring(0,10) + 'T' + val.substring(11, 19) + 'Z'
        options.defaultDate = new Date(new Date(val).toLocaleString('en-US', { timeZone: "UTC" }));
      }
      new tempusDominus.TempusDominus(el, options);
    })
  });
</script>
<script>
    $("label[for$='DELETE']").parents('.form-group').hide()
    $('.formset_row').formset({
        addText: '<i class="fa fa-plus-circle"></i> Add Competitor',
        addCssClass: 'btn btn-primary add-competitor-btn',
        deleteText: '<i class="fa fa-trash fa-2x"></i>',
        prefix: 'competitors'
    });
    $('.extra_map_formset_row').formset({
        addText: '<i class="fa fa-plus-circle"></i> Add Map',
        addCssClass: 'btn btn-primary add-map-btn',
        deleteText: '<i class="fa fa-trash fa-2x"></i>',
        prefix: 'map_assignations',
        formCssClass: 'extra_map_formset_row',
    });
</script>
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script>
function selectizeDeviceInput(){
    $("select[name$='device']").selectize({
        valueField: 'id',
        labelField: 'device_id',
        searchField: 'device_id',
        multiple: true,
        create: false,
        plugins: [ 'preserve_on_blur' ],
        load: function(query, callback) {
            console.log(query)
            if (!query.length || query.length < 2) return callback();
            $.ajax({
                url: '{% host_url 'device_search_api' host 'api' %}?q=' + encodeURIComponent(query),
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res.results);
                }
            });
        }
    });
}
$(function(){
    selectizeDeviceInput();
    $('.add-competitor-btn').on('click', function(){
        selectizeDeviceInput();
    })
    {% if event.shortcut %}
    var qrUrl = '{{ event.shortcut }}';
    $('.qrUrlText').text(qrUrl.replace(/^https?:\/\//, '')); 
    var qr = qrcode(0, 'L');
    qr.addData(qrUrl)
    qr.make()
    var qrDataUrl = qr.createDataURL(4);
    $("#qr_img")[0].src = qrDataUrl;
    {% endif %}
})
</script>
<script src="{% static '/vendor/papaparse-5.0.0-beta/papaparse.min.js' %}"></script>
<script>
function onCsvParsed(result){
    document.getElementById("csv_input").value = "";
    var errors = false;
    if (result.errors.length>0) {
        errors = true;
    }
    if(!errors) {
        result.data.forEach(function(l){
            var empty = false;
            if(l.length==1 && l[0] == "") {
                empty = true;
            }
            if(!empty && l.length != 3 && l.length != 4) {
                errors = true;
            } else {
                if(!empty && !l[2].match(/^\d{4}-[01]\d-[0-3]\d[ T][0-2]\d:[0-5]\d(:[0-5]\d)?Z?$/)){
                    errors = true;
                }
            }
        })
    }
    if(errors){
        swal({
            title: 'Error!',
            text: 'Could not parse this file',
            type: 'error',
            confirmButtonText: 'OK'
        });
        return
    }
    // clear empty lines
    $('.formset_row').each(function(j, e){
        if($(e).find('input').filter(
            function(i, el){
                return $(el).attr('type')!='hidden' && el.value != ''
            }).length == 0) {
            $(e).find('.delete-row').click()
        }
    })
    result.data.forEach(function(l) {
        $('.add-competitor-btn').click();
        if(l.length!=1) {
            var inputs = $('.formset_row').last().find('input');
            if (l.length > 3) {
                inputs[2].value = l[3]
            }
            inputs[3].value = l[0];
            inputs[4].value = l[1];
            inputs[5].value = l[2];
        }
    });
    $('.add-competitor-btn').click();
}

function showLocalTime(el) {
    var val = $(el).val();
    if (val) {
        var stillUtc = moment.utc(val).toDate();
        var local = moment(stillUtc).local().format('YYYY-MM-DD HH:mm:ss');
        $(el).parent().find('.local_time').text(local + ' Local time')
    } else {
        $(el).parent().find('.local_time').text('')
    }
}

$(function(){
    var originalEventStart = $('#id_start_date').val();
    var competitorsWithSameStartAsEvents = $('.competitor_table .datetimepicker').filter(function(idx, el){
        return originalEventStart !== '' && $(el).val() == originalEventStart;
    }).map(function(idx, el){
        return $(el).attr('id');
    }).toArray();

    $('#csv_input').change(function(){
        Papa.parse($('#csv_input')[0].files[0], {complete: onCsvParsed});
    })
    $('.datetimepicker').each(function(idx, el){
        $(el).attr("autocomplete", "off");
        showLocalTime(el);
        el.addEventListener(tempusDominus.Namespace.events.change, function(e) {
            var elId = $(e.target).attr('id');
            if (competitorsWithSameStartAsEvents.includes(elId)) {
                const index = competitorsWithSameStartAsEvents.indexOf(elId);
                if (index > -1) {
                    competitorsWithSameStartAsEvents.splice(index, 1);
                }
            }
            showLocalTime(e.target);
        });
    });

    document.getElementById('id_start_date').addEventListener(tempusDominus.Namespace.events.change, function(e) {
        var newValue = $(e.target).val();
        $(competitorsWithSameStartAsEvents).each(function(idx, id){
            $('#'+id).val(newValue);
        })
    });
})
</script>
{%  endblock %}
