{% extends "dashboard/home.html" %}
{% load staticfiles %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'dashboard:event_create_view'%}" class="btn btn-primary">Create new event</a>
        <h1>Your events</h1>
        {% if not events %}
            <p>You haven't created any event yet.</p>
        {% else %}
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Start Date (UTC)</th>
                <th>Is Live</th>
                <th>Club</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{% url 'dashboard:event_edit_view' id=event.aid %}">{{ event.name }}</a></td>
                <td>{{ event.start_date|date:'Y-m-d H:i:s' }}</a></td>
                <td>{{ event.is_live }}</a></td>
                <td>{{ event.club }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}