{% extends "dashboard/club_view.html" %}
{% load compress django_bootstrap5 hosts qr_code static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            {% if event_set.url %}
                <div class="text-center d-flex">
                    <div>
                        <p>
                            {% qr_from_text event_set.shortcut size="t" image_format="png" error_correction="l" %}
                            <br>
                            <small><a class="small qrUrlText fw-bold" href="{{ event_set.shortcut }}">{{ event_set.shortcut_text }}</a></small>
                        </p>
                    </div>
                </div>
            {% endif %}
            <h2>
                {% if context == 'edit' %}
                    Edit Bundle <i>{{ event_set.name }}</i>
                {% else %}
                    New Bundle
                {% endif %}
            </h2>
            <form action="" method="post" {% if event_set.external_id %}inert{% endif %}>
                {% if event_set.external_id %}<span class="text-danger">You can not edit this bundle as it is externally managed.</span>{% endif %}
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-primary dashboard-link float-end" id="submit-btn" {% if event_set.external_id %}disabled{% endif %}>
                    <i class="fa-solid fa-floppy-disk" ></i> <span>Save</span>
                </button>
                {% if context == 'edit' %}
                    <a href="{% url 'dashboard_club:event_set:delete_view' event_set_id=event_set.aid club_slug=request.club.slug %}"
                       class="btn btn-danger dashboard-link {% if event_set.external_id %}disabled{% endif %}"><i class="fa-solid fa-trash"></i> <span>Delete</span></a>
                {% endif %}
            </form>
        </div>
    </div>
    {% if event_set %}
        <hr />
        {% if event_set.events.all %}
            <h4>Contains following events</h4>
            <ul>
                {% for event in event_set.events.all %}
                    <li>
                        <a href="{% url 'dashboard_club:event:edit_view' event_id=event.aid club_slug=request.club.slug %}">{{ event.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Not used in any events</h4>
        {% endif %}
    {% endif %}
{% endblock sub_sub_content %}

{% block extra_body %}
    <script src="{% static 'scripts/load-local-variables.js' %}?v=2023112700"
            data-club-url="{{ club.nice_url }}"></script>
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'vendor/slugify-1.6.5/slugify.js' %}"></script>
        <script src="{% static 'scripts/dashboard/common.js' %}"></script>
        <script src="{% static 'scripts/dashboard/event_set_edit.js' %}"></script>
        <script src="{% static 'scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
