{% extends "dashboard/home.html" %}
{% load static %}
{% load hosts %}
{% load bootstrap3 %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'dashboard:event_create_view'%}" class="btn btn-primary">Create new event</a>
        <h1>Your Clubs Events <small><span class="utc-offset"></span></small></h1>
        {% if not events %}
            <p>You haven't created any event yet.</p>
        {% else %}
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>Privacy</th>
                <th>Is Live</th>
                <th>Club</th>
                <th>Actions</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{% url 'dashboard:event_edit_view' id=event.aid %}">{{ event.name }}</a></td>
                <td><span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i:s' }}</span></td>
                <td>{{ event.get_privacy_display }}</a></td>
                <td>{% if event.is_live %}<i style="color:green" class="fa fa-check-circle"></i>{% else %}<i style="color:red" class="fa fa-times-circle"></i>{% endif %}</a></td>
                <td>{{ event.club }}</td>
                <td>
                    <a href="{{ event.get_absolute_url }}" class="btn btn-primary" style="margin-bottom: 2px"><i class="fa fa-sign-in"></i> Open</a>
                    {% if not event.ended and event.open_registration %} <a href="{% host_url 'event_registration_view' slug=event.slug host 'clubs' club_slug=event.club.slug %}" class="btn btn-default" style="margin-bottom: 2px"><i class="fa fa-user-plus"></i> Registration Page</a>{% endif %}
                    {% if event.started and event.allow_route_upload %} <a href="{% host_url 'event_route_upload_view' slug=event.slug host 'clubs' club_slug=event.club.slug %}" class="btn btn-default" style="margin-bottom: 2px"><i class="fa fa-upload"></i> Route Upload Page</a>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% bootstrap_pagination events extra=request.GET.urlencode %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script>
$(function(){
    $('.date-utc').each(function(i, el){
        $el = $(el);
        $el.text(dayjs($el.data('date')).local().format('YYYY-MM-DD HH:mm:ss'));
    });
})
</script>
{% endblock %}
