{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/vendor/bootstrap-datetime-picker-4.17.47/bootstrap-datetimepicker.min.css' %}"/>
<style>
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
</style>
{% endblock %}

{% block content %}
  <div class="row">
    <ul class="nav nav-tabs" style="margin-bottom:1em;">
      <li role="presentation" {% if request.resolver_match.view_name == 'dashboard:account_edit_view' %}class="active"{% endif %}><a href="{% url 'dashboard:account_edit_view' %}">Account</a>
      <li role="presentation" {% if request.resolver_match.view_name == 'dashboard:device_list_view' %}class="active"{% endif %}><a href="{% url 'dashboard:device_list_view' %}" class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:device_list_view' %}active{% endif %}">Devices</a>
      <li role="presentation" {% if request.resolver_match.view_name == 'dashboard:club_list_view' %}class="active"{% endif %}><a href="{% url 'dashboard:club_list_view' %}" class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:club_list_view' %}active{% endif %}">Clubs</a>
      <li role="presentation" {% if request.resolver_match.view_name == 'dashboard:map_list_view' %}class="active"{% endif %}><a href="{% url 'dashboard:map_list_view' %}" class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:map_list_view' %}active{% endif %}">Maps</a>
      <li role="presentation" {% if request.resolver_match.view_name == 'dashboard:event_list_view' %}class="active"{% endif %}><a href="{% url 'dashboard:event_list_view' %}" class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard:event_list_view' %}active{% endif %}">Events</a>
    </ul>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          {% block sub_content %}
          <div class="jumbotron">
            <h3>Welcome to your dashboard.</h3>
          </div>
          <div class="alert alert-warning">
            <p><i class="fa fa-warning"></i> Routechoices.com is a open source project, available to all for free, and hosted by vonlunteer.</p>
            <p>You can help contribute to the payment of the cost of hosting this solution through monthly donations and access to news about this project.</p>
            <p>Follow this link if you want to contribute <a href="https://www.patreon.com/rphlo"><i class="fa fa-heart"></i> Become a Patron</a></p>
          </div>
        {% endblock %}
        </div>
      </div><!--/.col-xs-12.col-sm-9-->
    </div>
  </div><!--/row-->
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/moment-2.24.0/moment.js' %}"></script>
<script src="{% static '/vendor/bootstrap-datetime-picker-4.17.47/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(function () {
    var offset = moment().utcOffset();
    var offsetText = (offset > 0 ? '+' : '-') +
        ('0' + Math.floor(Math.abs(offset / 60))).slice(-2) + ':' +
        ('0' + Math.round(offset % 60)).slice(-2);
    $('.utc-offset').text('(UTC Offset ' + offsetText + ')');
    $('.datetimepicker').map(function(i, el) {
      var options = {
          useCurrent: false,
          format: 'YYYY-MM-DD HH:mm:ss',
          locale:  moment.locale('en', {
            week: { dow: 1 }
          }),
      }
      $el = $(el);
      if($el.val()) {
        options.date = moment($el.val());
      }
      $el.datetimepicker(options);
    })
  });
</script>
<script>
$(document).ready(function () {
  $('[data-toggle="offcanvas"]').click(function () {
    $('.row-offcanvas').toggleClass('active')
  });
});
</script>
{% endblock %}