{% extends "dashboard/club_view.html" %}
{% load static django_bootstrap5 compress %}
{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>Send invite to manage club</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button id="submit-btn" type="submit" class="btn btn-primary mb-1">
                    <i class="fa-solid fa-paper-plane"></i> Send
                </button>
            </form>
        </div>
    </div>
{% endblock sub_sub_content %}
{% block extra_body %}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
