{% extends "dashboard/club_view.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load compress %}

{% block sub_sub_content %}
<div class="row">
    <div class="col-12">
        <h1>{% if context == 'edit' %}Edit Map{% else %}New Map{% endif %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p id="calibration_help" {% if context == 'create' %}class="d-none"{% endif %}>
                To help figuring out the corners coordinates of the map <a target="_blank" rel="opener" href="{% url 'dashboard:calibration_view' %}">Click Here</a><br/>
            </p>
            <p id="calibration_preview" {% if context == 'create' %}class="d-none"{% endif %}>
                To check calibration <a target="_blank" rel="opener" href="{% url 'dashboard:check_calibration_view' %}">Click Here</a>
            </p>
            <input type="submit" value="Save" class="btn btn-primary">
            {% if context == 'edit' %}<a href="{% url 'dashboard:map_delete_view' map_id=map.aid %}" class="btn btn-danger">Delete</a>{% endif %}
        </form>
        {% if map %}
        <hr/>
        {% if used_in %}
        <h4>Used in following events</h4>
        <ul>
        {% for event in used_in %}<li><a href="{% url 'dashboard:event_edit_view' event_id=event.aid %}">{{event.name}}</a></li>{% endfor %}
        </ul>{% else %}
        <h4>Not used in any events</h4>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/pdfjs-2.7.570/pdf.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/map_edit.js' %}"></script>
{% endcompress %}
{% endblock %}
