{% extends "dashboard/home.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block sub_content %}
<div class="row">
    <div class="col-12">
        <h1>Upload GPX</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}?_=2022011800"></script>
<script src="{% static '/scripts/dashboard/map_gpx_upload.js' %}?_=2022012400"></script>
{% endblock %}
