{% extends "dashboard/club_view.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load compress %}

{% block extra_head %}
{{ block.super }}
{% compress css %}
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.9.3/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.css' %}" />
<link rel="stylesheet" href="{% static 'styles/dashboard/map_edit.css' %}" />
{% endcompress %}
{% endblock %}

{% block sub_sub_content %}
<div class="row">
    <div id="main" class="col-12">
        <h1>{% if context == 'edit' %}Edit Map{% else %}New Map{% endif %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p>
              <span id="calibration_help" {% if context == 'create' %}class="d-none"{% endif %}>
                <button id="calibration-helper-opener" class="btn btn-info mb-1"><i class="fa-solid fa-screwdriver-wrench"></i> Calibration Tool</button>
              </span>
              <span id="calibration_preview" {% if context == 'create' %}class="d-none"{% endif %}>
                <button id="calibration-preview-opener" class="btn btn-info mb-1"><i class="fa-solid fa-magnifying-glass"></i> Calibration Check</button>
              </span>
            </p>
            <button type="submit" class="btn btn-primary" id="submit-btn"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            {% if context == 'edit' %}<a href="{% url 'dashboard:map_delete_view' map_id=map.aid %}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</a>{% endif %}
        </form>
        {% if map %}
        <hr/>
        {% if used_in %}
        <h4>Used in following events</h4>
        <ul>
        {% for event in used_in %}<li><a href="{% url 'dashboard:event_edit_view' event_id=event.aid %}">{{event.name}}</a></li>{% endfor %}
        </ul>{% else %}
        <h4>Not used in any events</h4>
        {% endif %}
        {% endif %}
    </div>
    <div id="calibration-viewer" class="col-12 d-none">
      <h1>Check Map Calibration</h1>
      <div class="row">
        <div class="col-md-12 mb-1">
          <div id="preview-map" class="leaflet-map"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-1">
          <button id="back-from-preview-button" class="btn btn-primary"><i class="fa-solid fa-circle-arrow-left"></i> Back</a>
        </div>
      </div>
    </div>
    <div id="calibration-helper" class="col-12 d-none">
      <h1>Calibrate Map</h1>
      <div class="alert alert-info" role="alert">
        <span id="calibration-help-text"></span>
      </div>
      <div id="calibration-step-1">
        <div class="row">
          <div class="col-md-6 mb-1">
            <div id="raster-map" class="leaflet-map mb-1"></div>
            <button id="reset-raster-markers-button" class="btn btn-success mb-1" role="button">Delete Image Map Reference Points</button>
          </div>
          <div class="col-md-6 mb-1">
            <div id="world-map" class="leaflet-map mb-1"></div>
            <button id="reset-world-markers-button" class="btn btn-success mb-1" role="button">Delete World Map Reference Points</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-1">
              <button id="close-calibration-button" class="btn btn-danger mb-1" role="button"><i class="fa-solid fa-circle-arrow-left"></i> Back</button>
              <button id="to-calibration-step-2-button" class="btn btn-primary disabled mb-1" role="button"><i class="fa-solid fa-magnifying-glass"></i> Preview Map</button>
            </div>
        </div>
      </div>
      <div id="calibration-step-2" class="d-none">
        <div class="row">
          <div class="col-md-12 mb-1">
            <div id="test-map" class="leaflet-map"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-1">
            <button id="back-to-step-1-button" class="btn btn-danger"><i class="fa-solid fa-circle-arrow-left"></i> Back</button>
            <button id="validate-calibration-button" class="btn btn-primary"><i class="fa-solid fa-circle-check"></i> Validate Calibration</button>
          </div>
        </div>
      </div>
    </div>
</div>

</div>

{% endblock %}

{% block extra_body %}
{{ block.super }}
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/load-image-5.16.0/load-image.all.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-1.9.3/leaflet.js' %}"></script>
<script src="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.js' %}"></script>
<script src="{% static '/vendor/leaflet-image-transform-2022.02.26/leaflet-image-transform.min.js' %}"></script>
<script src="{% static '/vendor/pdfjs-3.3.122/pdf.js' %}"></script>
<script src="{% static '/scripts/backdrop_maps.js' %}"></script>
<script src="{% static '/scripts/dashboard/map_edit.js' %}"></script>
{% endcompress %}
{% endblock %}
