{% extends "dashboard/home.html" %}
{% load static %}
{% load hosts %}
{% load bootstrap3 %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <a href="{% url 'dashboard:map_create_view'%}" class="btn btn-primary">Create new map</a>
        <a href="{% url 'dashboard:map_upload_kmz_view'%}" class="btn btn-default">Import from KMZ/KML</a>
        <a href="{% url 'dashboard:map_upload_gpx_view'%}" class="btn btn-default">Import from GPX</a>
        <h1>Your Clubs Maps</h1>
        {% if not maps %}
            <p>You haven't created any map yet.</p>
        {% else %}
        <table class="table table-striped">
            <tr><th>Name</th><th>Club</th><th>Download</th></tr>
            {% for map in maps %}
            <tr>
                <td><a href="{% url 'dashboard:map_edit_view' id=map.aid %}">{{ map.name }}</a></td>
                <td>{{ map.club }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% host_url 'map_kmz_download' map_id=map.aid host 'api' %}"><i class="fa fa-download"></i> KMZ</a>
                    <a class="btn btn-sm btn-primary" href="{{map.image.url}}"><i class="fa fa-download"></i> JPEG</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% bootstrap_pagination maps extra=request.GET.urlencode %}
        {% endif %}
    </div>
</div>
{% endblock %}