{% extends "dashboard/home.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block sub_content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Create Map</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p id="calibration_help" class="hidden">
                To help you figuring out the corners coordinates of your map <a target="_blank" rel="opener" href="{% url 'dashboard:calibration_view' %}">Click Here</a><br/>
                To check calibration <a target="_blank" rel="opener" href="{% url 'dashboard:check_calibration_view' %}">Click Here</a>
            </p>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script>
    $(function(){
        $('#id_image').on('change', function(){
            $('#calibration_help').removeClass('hidden')
        });
    })
</script>
{% endblock %}