{% extends "dashboard/club_view.html" %}
{% load static compress %}
{% block extra_head %}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static '/vendor/leaflet-1.9.4/leaflet.css' %}" />
        <link rel="stylesheet"
              href="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.css' %}" />
        <link rel="stylesheet"
              href="{% static '/vendor/leaflet-locate-control-0.79.0/L.Control.Locate.min.css' %}" />
        <link rel="stylesheet"
              href="{% static '/vendor/leaflet-draw-1.0.4/leaflet.draw.css' %}" />
        <style>
#map {
    width: 100%;
    height: 500px;
}
        </style>
    {% endcompress %}
{% endblock extra_head %}
{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            <h3>Draw map</h3>
            <div id="map" class="mb-3"></div>
            <form enctype="multipart/form-data"
                  method="post"
                  action="{% url 'dashboard:map_upload_gpx_view' %}?from=drawing">
                <input type="file" class="d-none" id="id_gpx_file" name="gpx_file">
                <button id="submit-btn" class="btn btn-primary mb-1" type="submit">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock sub_sub_content %}
{% block extra_body %}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/vendor/leaflet-1.9.4/leaflet.js'%}"></script>
        <script src="{% static '/vendor/leaflet-control-geocoder-2.4.0/Control.Geocoder.js'%}"></script>
        <script src="{% static '/vendor/leaflet-draw-1.0.4/leaflet.draw.js'%}"></script>
        <script src="{% static '/scripts/backdrop_maps.js'%}"></script>
        <script src="{% static '/scripts/dashboard/map_draw.js'%}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
