{% load static %}{% load django_bootstrap5 %}{% load compress %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PDF to JPEG</title>
<link rel="stylesheet" href="{% static '/vendor/bootstrap-5.1.1/bootstrap.min.css' %}"/>
</head>
<body>
<div class="container">
<h1>Convert PDF to JPEG</h1>
<form method="POST" action="" enctype="multipart/form-data">
<div>
 <div class="row">
    <div class="col-md-12" id="step1">
      <div class="form-group">
          <label for="exampleInputFile" class="form-label" >PDF file</label>
          <input type="file" id="pdfInputFile" class="form-control" accept=".pdf">
          <p class="form-text">Only first page is converted to JPEG.</p>
      </div>
    </div>
    <div class="col-md-12" id="step2">
      <h1>Done</h1>
    </div>
 </div>
</div>
</form>
</div>
 <footer class="page-footer font-small blue pt-4">
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">&copy; <script>document.write(new Date().getFullYear())</script> Copyright:
         <a href="{% url 'site:home_view' %}"> {{  site.name }}</a>
     </div>
     <!-- Copyright -->
 </footer>
 {% compress js %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}?_=2022011800"></script>
<script src="{% static '/vendor/pdfjs-2.7.570/pdf.min.js' %}"></script>
<script src="{% static '/vendor/filesaver-2.0.5/filesaver.min.js' %}"></script>
<script src="{% static '/scripts/dashboard/pdf_to_jpg.js' %}?_=2022011800"></script>
{% endcompress %}
</body>
</html>
