{% load static %}{% load bootstrap3 %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PDF to JPEG</title>
{% bootstrap_css %}
</head>
<body>
<div class="container">
<h1>Convert PDF to JPEG</h1>
<form method="POST" action="" enctype="multipart/form-data">
<div>
 <div class="row">
    <div class="col-md-12" id="step1">
      <div class="form-group">
          <label for="exampleInputFile">PDF file</label>
          <input type="file" id="pdfInputFile" accept=".pdf">
          <p class="help-block">Only first page is converted to JPEG.</p>
      </div>
    </div>
    <div class="col-md-12" id="step2">
      <h1>Done</h1>
    </div>
 </div>
</div>
</form>
</div>
 <footer class="page-footer font-small blue pt-4">
     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">&copy; <script>document.write(new Date().getFullYear())</script> Copyright:
         <a href="{% url 'site:home_view' %}"> {{  site.name }}</a>
     </div>
     <!-- Copyright -->
 </footer>
{% bootstrap_javascript jquery=1 %}
<script src="{% static '/vendor/pdfjs-2.7.570/pdf.min.js' %}"></script>
<script src="{% static '/vendor/filesaver-2.0.5/filesaver.min.js' %}"></script>
<script>
pdfjsLib.GlobalWorkerOptions.workerSrc = '{% static '/vendor/pdfjs-2.7.570/pdf.worker.min.js' %}';

var onPDF = function(ev, filename) {
    console.log(ev.target.result)
    var loadingTask = pdfjsLib.getDocument({data: new Uint8Array(ev.target.result)});
    loadingTask.promise.then(function(pdf) {
        pdf.getPage(1).then(function(page) {
            var PRINT_RESOLUTION = 300;
            var PRINT_UNITS = PRINT_RESOLUTION / 72.0;
            var CSS_UNITS = 96.0 / 72.0
            var viewport = page.getViewport({scale: 1});;
            var width = Math.floor(viewport.width * CSS_UNITS) + 'px';
            var height = Math.floor(viewport.height * CSS_UNITS) + 'px';
            
            // Prepare canvas using PDF page dimensions
            var canvas = document.createElement('canvas');
            canvas.height = Math.floor(viewport.height * PRINT_UNITS);
            canvas.width = Math.floor(viewport.width * PRINT_UNITS);
            var context = canvas.getContext('2d')
            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: context,
                transform: [PRINT_UNITS, 0, 0, PRINT_UNITS, 0, 0],
                viewport: viewport
            };
            var renderTask = page.render(renderContext);
            renderTask.promise.then(function () {
                var ext = filename.split('.').pop();
                filename = filename.slice(0, filename.length - ext.length) + 'jpg';
                canvas.toBlob(function(blob){saveAs(blob, filename);$('#step1').hide();$('#step2').show();}, 'image/jpeg', 0.8);
            });
        });
    });
}
$(function(){
    $('#step2').hide()
    $('#pdfInputFile').on('change', function(ev) {
        var file = ev.target.files[0];
        var fr = new FileReader();
        fr.onload = function(ev) {onPDF(ev, file.name)};
        fr.readAsArrayBuffer(file);
    });
})
</script>
</body>
</html>
