build
*CACHE*
dist
MANIFEST
.coverage
.env
.DS_Store
*.pyc
*.egg-info
*.egg
*.sqlite3
*~
*.save
*.save.*
*.idea
*.vscode
*.bak
*.mmdb
*.json.gz
media/
static/
htmlcov/
env/
var/
letsencrypt/
tmp/
log/
logs/
cache/
routechoices/settings_overrides.py
cypress/screenshots/
cypress/videos/
node_modules/
nginx/certs/
.coverage*
htmlcov/
coverage.xml
