build
*CACHE*
dist
MANIFEST
.coverage
.DS_Store
*.pyc
*.egg-info
*.egg
*.sqlite3
*~
*.save
*.save.*
*.idea
*.vscode
*.bak
*.mmdb
*.json.gz
media/*
static/*
htmlcov/*
env/*
var/*
log/*
logs/*
cache/*
routechoices/local_settings.py
cypress/screenshots/*
cypress/videos/*
node_modules/*
yarn.lock
package.json
nginx/certs/*
.coverage*
htmlcov/*
