aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
attrs==23.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.34.143
botocore==1.34.143
cbor2==5.6.4
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
coverage==7.5.4
cryptography==42.0.8
curl-cffi==0.7.0
cython==3.0.10
defusedxml==0.7.1
diskcache==5.6.3
django==5.0.7
django-admincommand @ git+https://github.com/rphlo/django-admincommand.git@09f8b0ad150754be88d20c0e7c6a1473b8006872
django-allauth==0.63.4
django-appconf==1.0.6
django-background-tasks @ git+https://github.com/rphlo/django-background-tasks@6b247d0b3a7565613656d0ec07b55f6c66aa03cc
django-bootstrap5 @ git+https://github.com/rphlo/django-bootstrap5.git@8c80f8000f62028aa27624205a64e385d497ac42
django-compressor==4.5
django-cors-headers==4.4.0
django-csp==3.8
django-environ==0.11.2
django-hijack==3.6.0
django-hosts==6.0
django-markdownify==0.9.5
django-minify-html==1.8.0
django-oauth-toolkit==2.4.0
django-qr-code==4.1.0
django-s3-storage==0.15.0
django-user-sessions==2.0.0
djangorestframework==3.15.2
drf-orjson-renderer==1.7.2
drf-yasg==1.21.7
frozenlist==1.4.1
geoip2==4.8.0
gps-data-codec @ git+https://github.com/routechoices/gps-data-codec@8d267eb11190c811d8c9dc07eddc7e3c228a708b
gpxpy==1.6.2
idna==3.7
inflection==0.5.1
jmespath==1.0.1
jwcrypto==1.5.6
jxlpy==0.9.5
kagi @ git+https://github.com/rphlo/kagi@9d02f068abf0963575819455f2e3f05888726153
markdown==3.6
maxminddb==2.6.2
minify-html==0.15.0
multidict==6.0.5
numpy==2.0.0
oauthlib==3.2.2
opencv-python==4.10.0.84
orjson==3.10.6
packaging==24.1
pillow==10.4.0
pillow-heif==0.17.0
psycopg==3.2.1
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pyopenssl==24.1.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.1
pyyaml==6.0.1
qrcode==7.4.2
rcssmin==1.1.2
requests==2.32.3
rjsmin==1.2.2
s3transfer==0.10.2
segno==1.6.1
sentry-sdk==2.9.0
setuptools==70.3.0
sewer @ git+https://github.com/rphlo/sewer@8d25ea1f1e95e97f52c2354c1752d2adbbfdafaf
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tinycss2==1.2.1
tornado==6.4.1
types-python-dateutil==2.9.0.20240316
typing-extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
uwsgi==2.0.26
webauthn==1.11.1
webencodings==0.5.1
yarl==1.9.4
