arrow
beautifulsoup4
coverage
cryptography
defusedxml
diskcache
django>=5.0
django-admincommand @ git+https://github.com/rphlo/django-admincommand.git
django-allauth
django-background-tasks @ git+https://github.com/rphlo/django-background-tasks@6b247d0b3a7565613656d0ec07b55f6c66aa03cc
django-bootstrap5 @ git+https://github.com/rphlo/django-bootstrap5.git
django-compressor
django-cors-headers
django-csp
django-environ
django-hijack
django-hosts
django-markdownify
django-minify-html
django-oauth-toolkit
django-qr-code
django-s3-storage
django-user-sessions
djangorestframework
drf-orjson-renderer
drf-yasg
geoip2
gps-data-codec @ git+https://github.com/routechoices/gps-data-codec#8d267eb11190c811d8c9dc07eddc7e3c228a708b
gpxpy
jxlpy @ git+https://github.com/rphlo/jxlpy
kagi @ git+https://github.com/rphlo/kagi@c5d239bb0d32a51549aa3835ccb255964fa1a456
numpy
opencv-python
orjson
pillow-heif
pillow
psycopg
python-magic
requests
sentry-sdk
sewer==0.8.4
tornado
uwsgi
websocket-client
