arrow
beautifulsoup4
cairosvg
coverage
cryptography
curl_cffi
defusedxml
diskcache
django<6
django-admincommand @ git+https://github.com/rphlo/django-admincommand.git
django-allauth
django-background-tasks @ git+https://github.com/rphlo/django-background-tasks@6b247d0b3a7565613656d0ec07b55f6c66aa03cc
django-bootstrap5 @ git+https://github.com/rphlo/django-bootstrap5
django-compressor
django-cors-headers
django-csp
django-environ
django-health-check
django-hijack
django-hosts
django-markdownify
django-minify-html
django-oauth-toolkit
django-permissions-policy
django-qr-code
django-s3-storage
django-user-sessions @ git+https://github.com/jazzband/django-user-sessions@1ad42f36758251f221e976683eca91a8c79df09e
djangorestframework
drf-orjson-renderer
drf-yasg
emoji-country-flag
geoip2
geojson-validator
gps-data-codec @ git+https://github.com/routechoiceslivegps/gps-data-codec
gpxpy
gunicorn
kagi @ git+https://github.com/rphlo/kagi@bfb7c5ea0a66d78e11a98bdb6cd1edb63a900455
lxml
numpy
opencv-python-headless
orjson
pillow
psutil
psycopg[binary,pool]
pyproj
python-magic
python-slugify[unidecode] @ git+https://github.com/un33k/python-slugify@7b6d5d96c1995e6dccb39a19a13ba78d7d0a3ee4
reverse-geocode
sentry-sdk[django]
setuptools
sewer @ git+https://github.com/rphlo/sewer@0.8.4b
shapely
staticmap
time-machine[dateutil]
tornado
