arrow
django
pillow
django-cors-headers
requests
djangorestframework
gpxpy
uwsgi
psycopg2-binary
django-allauth
django-bootstrap3
raven
lxml
cssselect
tornado
django-background-tasks
sneak @ git+https://github.com/zapier/django-sneak.git@b45d9ec3fea414084162a39836b29cbecf139560
django-admincommand @ git+https://github.com/rphlo/django-admincommand.git
django-s3-storage
orjson
drf-yasg
