.competitor_table > thead > tr > th:nth-child(2) {
    min-width: 150px
}
.competitor_table > thead > tr > th:nth-child(3) {
    min-width: 150px
}
.competitor_table > thead > tr > th:nth-child(4) {
    min-width: 150px
}
