{% extends "club/base.html" %}
{% load static hosts %}
{% block favicon %}
    <link rel="apple-touch-icon"
          href="{% static 'apple-touch-icon.png' %}?v=2023e">
    <link rel="icon" sizes="32x32" href="{% static 'favicon.ico' %}?v=2023e">
    <link rel="manifest" href="{% static 'manifest.json' %}?v=2023e">
{% endblock favicon %}
{% block content %}
    <div class="text-center">
        <h3>Club not found...</h3>
        <p>Join {{ site.name }} and start using this domain for the GPS tracking events of your club.</p>
        <a href="{% host_url 'site:account_signup' host 'www' %}"
           class="btn btn-success">Join</a> or <a href="{% host_url 'site:account_login' host 'www' %}">Login</a>
    </div>
{% endblock content %}
