{% extends "base.html" %}
{% load static define_action %}
{% block favicon %}
    {% if event.club %}
        {% define event.club as club %}
    {% endif %}
    <link rel="apple-touch-icon"
          href="{{ club.nice_url }}apple-touch-icon.png{{ club.logo_last_mod }}">
    <link rel="icon"
          sizes="32x32"
          href="{{ club.nice_url }}favicon.ico{{ club.logo_last_mod }}">
    <link rel="manifest"
          href="{{ club.nice_url }}manifest.json{{ club.logo_last_mod }}">
{% endblock favicon %}
