{% extends "base.html" %}
{% load static %}
{% load define_action %}

{% if event.club %}
  {% define event.club as club %}
{% endif %}

{% block favicon %}{% if club.logo %}<link rel="icon" type="image/png" href="{{club.nice_url}}logo">{% else %}<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="manifest" href="{% static 'manifest.json' %}">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}">{% endif %}{% endblock %}
