{% extends "club/base.html" %}
{% load static hosts django_bootstrap5 compress %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
{% endblock extra_head %}
{% block head_title %}
    {{ event.name }} contribution page | Powered by {{ site.name }}
{% endblock head_title %}
{% block head_description %}
    {{ event.name }} by {{ event.club.name }} contribution page
{% endblock head_description %}
{% block contentup %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="w-100" style="background-color: var(--bs-secondary-bg);">
                <div class="container content">
                    <div class="row">
                        {% if event.event_set %}
                            <h2 class="padded-multiline">
                                <span>{{ event.event_set.name }}</span>
                            </h2>
                        {% endif %}
                        <h2>
                            <a href="{{ event.club.nice_url }}{{ event.slug }}"
                               class="fw-bold text-decoration-none">{{ event.name }}</a>
                        </h2>
                        <h4>Contribute</h4>
                        <p>
                            Event
                            {% if not event.hidden %}
                                started {{ event.start_date|timesince }} ago,
                            {% else %}
                                starts in {{ event.start_date|timeuntil }},
                            {% endif %}
                            {% if event.ended %}
                                ended {{ event.end_date|timesince }} ago.
                            {% else %}
                                ends in {{ event.end_date|timeuntil }}.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1 1"
                 width="100%"
                 height="2em"
                 preserveAspectRatio="none"
                 fill="var(--bs-body-bg)"
                 style="margin-top: -2em"
                 class="p-0">
                <path d="M0 0 V1 H1" />
            </svg>
        </div>
    </div>
    <div class="container content">
        <div class="col-12">
            <div class="row">
                <h4 class="padded-multiline">
                    <span>Tracking App</span>
                </h4>
                <p>Install the tracker app on your smartphone to share your live position.</p>
                <p>
                    <a href="https://play.google.com/store/apps/details?id=com.routechoices.routechoicestracker"
                       class="me-1 text-decoration-none">
                        <img alt="Get it on Google Play"
                             height="60"
                             width="202"
                             src="{% static 'img/google-play-badge.svg' %}" />
                    </a>
                    <a href="https://apps.apple.com/us/app/routechoices-tracker/id1570437272?itsct=apps_box_link&itscg=30200">
                        <img alt="Get it on Apple App Store"
                             height="60"
                             width="180"
                             src="{% static 'img/apple-app-store-badge.svg' %}" />
                    </a>
                </p>
                <p>
                    Read more about how to share your location <a href="{% host_url 'site:trackers_view' host 'www' %}">here</a>
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <h4 class="padded-multiline">
                    <span>Competitors</span>
                </h4>
                <div class="mb-3">
                    {% for c in event.competitors.all %}
                        <div class="p-1 m-1 border-bottom">
                            <div class="ms-2 fw-bold">
                                {{ c.name }}
                                <button type="button"
                                        class="float-end btn btn-primary btn-sm upload-route-btn"
                                        data-competitor-aid="{{ c.aid }}"
                                        data-competitor-name="{{ c.name }}">
                                    <i class="fa-solid fa-circle-plus"></i> Upload Route
                                </button>
                            </div>
                        </div>
                    {% empty %}
                        <h4 class="text-muted">No competitors registered so far</h4>
                    {% endfor %}
                </div>
                {% if register_form %}
                    <h4 class="padded-multiline">
                        <span>Enter yourself</span>
                    </h4>
                    <div class="mb-3">
                        <form action="" method="post" id="registration-form">
                            {% csrf_token %}
                            {% bootstrap_form register_form %}
                            <p id="warning-if-device-id" class="d-none">
                                <i class="fa-solid fa-triangle-exclamation"></i> You can stream your GPS data to only one competitor at a time. If you register now, your GPS data stream from this device will be switched to this event competitor
                                {% if not event.hidden %}
                                    immediately.
                                {% else %}
                                    at latest on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date }} UTC</span>.
                                {% endif %}
                            </p>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-circle-plus"></i> Enter
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if upload_form %}
            <div class="modal" tabindex="-1" id="uploadRouteModal" style="top: 100px">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="" method="post" id="upload-form">
                            <div class="modal-header">
                                <h5 class="modal-title">
                                    Upload GPX for <span id="uploader-name"></span>
                                </h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                {% bootstrap_form upload_form %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock contentup %}
{% block extra_body %}
    {{ block.super }}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700" data-api-base-url="{% host_url 'api_doc' host 'api' %}" data-event-id="{{ event.aid }}" data-csrf-token="{{ csrf_token }}" {% if event_ended %}data-event-ended="1"{% endif %}>
    </script>
    {% compress js %}
        <script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
        <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/scripts/club/event_contribute.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
