{% extends "club/base.html" %}{% load static %}{% load django_bootstrap5 %}{% load hosts %}{% load compress %}

{% block head_title %}{{ event.name }} | Powered by {{ site.name }}{% endblock %}
{% block head_description %}GPS Tracking of {{ event.name }} by {{ event.club.name }}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }}" />
<meta property="og:url" content="{{ event.get_absolute_url }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% if request.is_secure %}<meta property="og:image:secure_url" content="https:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />{% endif %}
<link rel="canonical" href="{{ event.get_absolute_url }}">
{% compress css %}
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.9.3/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-mapcentercoord-0.7/L.Control.MapCenterCoord.min.css' %}" />
<link rel="stylesheet" href="{% static 'styles/club/event.css' %}" />
{% endcompress %}
{% endblock %}


{% block body %}
<!-- Fixed navbar -->
{% with is_event_page=True %}
{% include "club/navbar.html" %}
{% endwith %}
<div class="container-fluid">
  <div class="row">
    <div id="map" class="col-12 d-sm-block col-sm-7 col-lg-9 col-xxl-10 main loading">
    </div>
    <div id="sidebar" class="d-none d-sm-block col-sm-5 offset-sm-7 col-lg-3 offset-lg-9 col-xxl-2 offset-xxl-10 sidebar loading"></div>
  </div>
  <div class="row" id="bottom-div">
    <div class="col-12 time_bar loading" style="z-index: 110001">
      <div id="ctrl-wrapper">
        <div class="event-tool mb-1">
          <div class="d-flex flex-wrap">
            <div class="d-inline-flex flex-row flex-nowrap">
              <div class="btn-group mb-1 text-nowrap" role="group" id="view_mods_buttons">
                <button class="btn btn-xs btn-secondary text-nowrap fw-bold fst-italic" id="live_button">Live</button>
                <button class="btn btn-xs btn-secondary text-nowrap" id="replay_button">Replay</button>
              </div>
              <div class="btn-group mb-1 text-nowrap ms-1" role="group" id="replay_mode_buttons">
                <button class="btn btn-xs btn-secondary active text-nowrap" id="real_time_button">Real Time</button>
                <button class="btn btn-xs btn-secondary text-nowrap" id="mass_start_button">Mass start</button>
              </div>
            </div>
            <div class="d-inline-flex flex-row justify-content-between flex-nowrap flex-grow-1 ms-1">
              <div>
                <div class="btn-group mb-1 text-nowrap" role="group" id="replay_control_buttons">
                  <button class="btn btn-xs btn-secondary" id="prev_button"  aria-label="slower"><i class="fa-solid fa-backward"></i></button>
                  <button class="btn btn-xs btn-secondary" id="play_pause_button" aria-label="play/pause"><i class="fa-solid fa-fw fa-play"></i></button>
                  <button class="btn btn-xs btn-secondary" id="next_button" aria-label="faster"><i class="fa-solid fa-forward"></i></button>
                </div>
              </div>
              <div class="text-nowrap ms-1">
                <div class="btn-group mb-1" role="group"><button class="btn btn-xs btn-secondary" id="runners_show_button" aria-label="competitors"><i class="fa-solid fa-users"></i></button></div>
                <div class="btn-group mb-1" role="group" id="options_buttons"><button class="btn btn-xs btn-secondary" id="options_show_button" aria-label="options"><i class="fa-solid fa-gear"></i></button></div>
                <div class="btn-group mb-1" role="group" id="share_buttons"><button class="btn btn-xs btn-secondary" id="share_button" aria-label="share"><i class="fa-solid fa-share-nodes"></i></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="event-tool mb-1">
          <div id="full_progress_bar" class="progress" style="cursor: pointer">
            <div id="progress_bar" class="progress-bar progress-bar-info" role="progressbar" aria-label="time" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="transition: unset"><span id="progress_bar_text" class="p-2"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% with is_event_page=True %}{% include "club/footer.html" %}{% endwith %}
<div class="modal d-block" tabindex="-1" role="dialog" id="eventLoadingModal" style="z-index: 10002">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" preserveAspectRatio="xMidYMid meet" x="955"  stroke="#999" width="100"><g fill="none" fill-rule="evenodd" stroke-width="2"><circle cx="22" cy="22" r="1"><animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/><animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/></circle><circle cx="22" cy="22" r="1"><animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/><animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/></circle></g></svg>
        <h1 id="loading-text">Loading...</h1>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventNotStartedModal" style="z-index: 10002">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center text-center">
         <h2 class="modal-title" id="event-not-started-text">Event not yet started</h2>
      </div>
      <div class="modal-body text-center">
        <h4 id="event-start-date-text">Event start on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{event.start_date}} UTC</span></h4>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorModal" tabindex="-1" role="dialog"
     aria-labelledby="colorModalLabel" aria-hidden="true" style="z-index: 10002">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="color-picker" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel-text" data-bs-dismiss="modal" id="">Cancel</button>
        <button type="button" class="btn btn-primary save-text" id="save-color">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 110003">
  <div id="text-alert" class="toast align-items-center text-white border-0 bg-info" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <b id="heads-up-text"></b> <span class="text-alert-content"></span>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_body %}{{ block.super }}
<script src="{% static '/scripts/load-local-variables.js' %}?_=2022072900"
  data-event-id="{{event.aid}}"
  {% if event.privacy == "public" %}data-show-qr="1"{% endif%}
  data-data-url="{% host_url 'event_data' event_id=event.aid host 'api' %}"
  data-event-url="{% host_url 'event_detail' event_id=event.aid host 'api' %}"
  data-wms-service-url="{% host_url 'wms_service' host 'wms' %}"
  data-server-clock-url="{% host_url 'time_api' host 'api' %}"
  data-club-name="{{ event.club.name }}"
  data-static-root="{% static '' %}"
  data-csrf-token="{{ csrf_token }}"
  data-no-delay={% if no_delay %}"1"
  data-gps-stream-url="https://{{gps_server}}/sse/{{event.aid}}"{% else %}""{% endif %}
></script>
{% compress js %}
<script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}?langs=en-es-fi-fr-nl-sv"></script>
<script src="{% static '/vendor/banana-i18n-2.3.1/banana-i18n.js' %}"></script>
<script src="{% static '/vendor/server-clock-2023.01.21/server-clock.min.js' %}"></script>
<script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
<script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/tinycolor-1.5.2/tinycolor.min.js' %}"></script>
<script src="{% static '/vendor/iro-5.5.2/iro.min.js' %}"></script>
<script src="{% static '/vendor/qrious-4.0.2/qrious.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-1.9.3/leaflet.js' %}"></script>
<script src="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.js' %}" ></script>
<script src="{% static '/vendor/leaflet-line-utils-2022.09.29/leaflet.lineUtils.js' %}"></script>
<script src="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-mapcentercoord-0.7/L.Control.MapCenterCoord.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-rotate-0.2.5/leaflet-rotate.js' %}"></script>
<script src="{% static '/vendor/jdbscan-20210913/jdbscan.min.js' %}"></script>
<script src="{% static '/vendor/bn-5.2.1/bn.min.js' %}"></script>
<script src="{% static '/vendor/gps-encoding-2023.04.13/gps-encoding.js' %}"></script>
<script src="{% static '/scripts/backdrop_maps.js' %}"></script>
<script src="{% static '/scripts/club/event-core.js' %}"></script>
<script src="{% static '/scripts/club/event.js' %}"></script>
{% endcompress %}
{% endblock %}
