{% extends "club/home.html" %}
{% load static %}
{% load hosts %}
{% load bootstrap3 %}

{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/bootstrap-datetime-picker-4.17.47/bootstrap-datetimepicker.min.css' %}" />
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap3.css' %}" />
{%  endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Register for event {{ event.name }} by {{ event.club.name }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/moment-2.24.0/moment-with-locales.js' %}"></script>
<script src="{% static '/vendor/bootstrap-datetime-picker-4.17.47/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script>
  $(function () {
    var offset = moment().utcOffset();
    var offsetText = (offset > 0 ? '+' : '-') +
        ('0' + Math.floor(Math.abs(offset / 60))).slice(-2) + ':' +
        ('0' + Math.round(offset % 60)).slice(-2);
    $('.utc-offset').text('(UTC Offset ' + offsetText + ')');
    $('.datetimepicker').map(function(i, el) {
      var options = {
          useCurrent: false,
          format: 'YYYY-MM-DDTHH:mm:00Z',
          locale:  moment.locale('en', {
            week: { dow: 1 }
          }),
      }
      $el = $(el);
      if($el.val()) {
        options.date = moment($el.val());
      }
      $el.datetimepicker(options);
    })
  });
</script>
<script>
function selectizeDeviceInput(){
    $("select[name$='device']").selectize({
        valueField: 'id',
        labelField: 'device_id',
        searchField: 'device_id',
        multiple: true,
        create: false,
        plugins: [ 'preserve_on_blur' ],
        load: function(query, callback) {
            if (!query.length || query.length < 2) return callback();
            $.ajax({
                url: '{% host_url 'device_search_api' host 'api' %}?q=' + encodeURIComponent(query),
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res.results);
                }
            });
        }
    });
}
$(function(){
    selectizeDeviceInput();
})
</script>
{% endblock %}
