{% extends "base.html" %}
{% load static %}
{% load hosts %}

{% block content %}
<div class="row">
  <div>
      <h1>Export <a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h1>
  </div>

  {% if event.map %}
  <div>
    <table class="table table-striped">
      <tr><th>Map</th><th>Export</th></tr>
      <tr>
        <td>{% if event.map_title %}{{ event.map_title }}{% else %}Main map{% endif %}</a></td>
        <td>
          {% if event.started %}
          <a href="{{event.club.nice_url}}{{event.slug}}/map/" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> JPEG</a>
          <a href="{{event.club.nice_url}}{{event.slug}}/kmz/" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> KMZ</a>
          {% endif %}
        </td>
      </tr>
      {% for map in event.map_assignations.all %}
      <tr>
        <td>{{ map.title }}</a></td>
        <td>
          {% if event.started %}
          <a href="{{event.club.nice_url}}{{event.slug}}/map/{{forloop.counter}}" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> JPEG</a>
          <a href="{{event.club.nice_url}}{{event.slug}}/kmz/{{forloop.counter}}" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> KMZ</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  <div>
    <table class="table table-striped">
      <tr><th>Competitor</th><th>Start time</th><th>Export</th></tr>
      {% for competitor in event.competitors.all %}
      <tr>
        <td>{{ competitor.name }}</a></td>
        <td>{{ competitor.start_time|date:'Y-m-d H:i:s \U\T\C' }}</td>
        <td>{% if event.started %}<a href="{{ competitor.get_absolute_gpx_url }}" class="btn btn-xs btn-primary"><i class="fa fa-download"></i> GPX</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
