{% extends "site/event_list.html" %}
{% load static %}
{% load bootstrap3 %}
{% load hosts %}

{% block navbar %}
{% include "club/navbar.html" %}
{% endblock %}

{% block footer %}
<footer id="myFooter">
    <div class="second-bar">
        <div class="container">
            <h2 class="logo site-name"><a href="{% host_url 'site:home_view' host 'www'%}"><img src="{% static 'img/logo.svg' %}" alt="_" height="35px"> Powered by {{site.name}}</a></h2>
            <!--<div class="social-icons">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            </div>-->
        </div>
    </div>
</footer>
<!-- Footer -->
{% endblock %}