{% extends "club/base.html" %}
{% load static hosts django_bootstrap5 compress %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static '/vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
{% endblock extra_head %}
{% block head_title %}
    {{ event.name }} contribution page | Powered by {{ site.name }}
{% endblock head_title %}
{% block head_description %}
    {{ event.name }} by {{ event.club.name }} contribution page
{% endblock head_description %}
{% block contentup %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="w-100" style="background-color: var(--bs-secondary-bg);">
                <div class="container content">
                    <div class="row">
                        {% if event.event_set %}
                            <h2 class="padded-multiline">
                                <span>{{ event.event_set.name }}</span>
                            </h2>
                        {% endif %}
                        <h2>
                            <a href="{{ event.club.nice_url }}{{ event.slug }}"
                               class="fw-bold text-decoration-none">{{ event.name }}</a>
                        </h2>
                        <h4>Contribute</h4>
                        <p>
                            Event
                            {% if not event.hidden %}
                                started {{ event.start_date|timesince }} ago
                            {% else %}
                                starts on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date }} UTC</span>
                            {% endif %}
                            {% if event.ended %}, ended {{ event.start_date|timesince }} ago{% endif %}
                            .
                        </p>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1 1"
                 width="100%"
                 height="2em"
                 preserveAspectRatio="none"
                 fill="var(--bs-body-bg)"
                 style="margin-top: -2em"
                 class="p-0">
                <path d="M0 0 V1 H1" />
            </svg>
        </div>
    </div>
    <div class="container content">
        {% if register_form %}
            <div class="col-12">
                <div class="row">
                    <h4 class="padded-multiline">
                        <span>Enter competitor</span>
                    </h4>
                    <div class="mb-3">
                        <form action="" method="post" id="registration-form">
                            {% csrf_token %}
                            {% bootstrap_form register_form %}
                            <p id="warning-if-device-id" class="d-none">
                                <i class="fa-solid fa-triangle-exclamation"></i> You can stream your GPS data to only one competitor at a time. If you register now, your GPS data stream from this device will be switched to this event competitor
                                {% if not event.hidden %}
                                    immediately
                                {% else %}
                                    at latest on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date }} UTC</span>
                                {% endif %}
                                .
                            </p>
                            <input type="submit" value="Add competitor" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if upload_form %}
            <div class="col-12">
                <div class="row">
                    <h4 class="padded-multiline">
                        <span>Route upload</span>
                    </h4>
                    <div class="mb-3">
                        <form action="" method="post" id="upload-form">
                            {% csrf_token %}
                            {% bootstrap_form upload_form %}
                            {% if register_form %}
                                <p>
                                    <i class="fa-solid fa-triangle-exclamation"></i> If you want to upload GPS data to a new competitor first use the "Enter competitor" form then this this form.
                                </p>
                            {% else %}
                                <p>
                                    <i class="fa-solid fa-triangle-exclamation"></i> You can upload route of competitors that do not have yet any data uploaded.
                                </p>
                            {% endif %}
                            <input type="submit" value="Upload Route" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not register_form and not upload_form %}
            <div class="col-12 text-center">
                <h2>Registration and route upload closed.</h2>
            </div>
        {% endif %}
    </div>
{% endblock contentup %}
{% block extra_body %}
    {{ block.super }}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700" data-api-base-url="{% host_url 'api_doc' host 'api' %}" data-event-id="{{ event.aid }}" data-csrf-token="{{ csrf_token }}" {% if event_ended %}data-event-ended="1"{% endif %}>
    </script>
    {% compress js %}
        <script src="{% static '/vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
        <script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/scripts/club/event_contribute.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
