{% extends "club/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load compress %}

{% block head_title %}{{ event.name }} | Powered by {{ site.name }}{% endblock %}
{% block head_description %}Live GPS Tracking of {{ event.name }} by {{ event.club.name }}{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }}" />
<meta property="og:url" content="{{ event.get_absolute_url }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% if request.is_secure %}<meta property="og:image:secure_url" content="https:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />{% endif %}
<link rel="canonical" href="{{ event.get_absolute_url }}">
{% compress css %}
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.7.1/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/club/event.css' %}?_=2022020800" />
{% endcompress %}
{% endblock %}


{% block body %}
<!-- Fixed navbar -->
{% with is_event_page=True %}
{% include "club/navbar.html" %}
{% endwith %}

<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="d-none d-sm-block col-sm-4 col-lg-3 col-xxl-2 sidebar"></div>
    <div id="map" class="d-sm-block col-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xxl-10 offset-xxl-2 main"></div>
    <div class="page-alerts col-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xxl-10 offset-xxl-2 main-alerts">
      <div class="alert alert-info page-alert alert-dismissible" id="alert-2">
          <strong id="heads-up-text">Heads up!</strong> <span id="alert-text"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 time_bar" style="z-index: 110001">
      <div class="event-tool">
        <div class="d-sm-none btn-group" style="margin-bottom: 2px"><a href="#" role="button" class="btn btn-sm btn-secondary" id="runners_show_button"><i class="fa fa-users"></i></a></div>
        <div class="btn-group" role="group" id="view_mods_buttons" style="margin-bottom: 2px"><a href="#" role="button" class="btn btn-sm btn-secondary" id="live_button">Live</a><a href="#" role="button" class="btn btn-sm btn-secondary" id="replay_button">Replay</a></div>
        <div class="btn-group" role="group" id="replay_mode_buttons" style="margin-bottom: 2px"><a href="#" role="button" class="btn btn-sm btn-secondary active" id="real_time_button">Real Time</a><a href="#" role="button" class="btn btn-sm btn-secondary" id="mass_start_button">Mass start</a></div>
        <div class="btn-group" role="group" id="replay_control_buttons" style="margin-bottom: 2px"><a href="#" role="button" class="btn btn-sm btn-secondary" id="prev_button"  aria-label="slower"><i class="fa fa-backward"></i></a><a href="#" role="button" class="btn btn-sm btn-secondary" id="play_pause_button"  aria-label="play/pause"><i class="fa fa-play"></i></a><a href="#" role="button" class="btn btn-sm btn-secondary" id="next_button" aria-label="faster"><i class="fa fa-forward"></i></a></div>
        <div class="btn-group float-end" role="group" id="share_buttons" style="margin: 0 0 2px 5px"><a href="#" role="button" class="btn btn-sm btn-secondary" id="share_button" aria-label="share"><i class="fa fa-share-alt"></i></a></div>
        <div class="btn-group float-end" role="group" id="options_buttons" style="margin: 0 0 2px 5px"><a href="#" role="button" class="btn btn-sm btn-secondary" id="options_show_button" aria-label="options"><i class="fa fa-cog"></i></a></div>
        <div class="btn-group float-end d-none" style="margin: 0 0 2px 5px" id="chat_button_group"><a href="#" role="button" class="btn btn-sm btn-secondary" id="chat_show_button" aria-label="chat"><i class="fa fa fa-comments"></i> <span id="chat-btn-text">Chat</span></a></div>
      </div>
      <div style="padding-top:5px;" class="event-tool">
        <div id="full_progress_bar" class="progress" style="cursor: pointer">
          <div id="progress_bar" class="progress-bar progress-bar-info" role="progressbar" aria-label="time" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span id="progress_bar_text" style="padding:5px"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% with is_event_page=True %}
{% include "club/footer.html" %}
{% endwith %}
<div class="modal" tabindex="-1" role="dialog" id="eventLoadingModal" style="display: block; z-index: 10002">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" preserveAspectRatio="xMidYMid meet" x="955"  stroke="#999" width="100"><g fill="none" fill-rule="evenodd" stroke-width="2"><circle cx="22" cy="22" r="1"><animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/><animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/></circle><circle cx="22" cy="22" r="1"><animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"/><animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"/></circle></g></svg>
        <h1 id="loading-text">Loading...</h1>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventNotStartedModal" style="z-index: 10002">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center" style="text-align: center">
         <h2 class="modal-title" id="event-not-started-text">Event not yet started</h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <h4 id="event-start-date-text">Event start on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{event.start_date}} UTC</span></h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="colorModal" tabindex="-1" role="dialog"
     aria-labelledby="colorModalLabel" aria-hidden="true" style="z-index: 10002">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="color-picker" style="text-align:center"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-color">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_body %}
<script src="{% static '/scripts/load_variables.js' %}?_=2022031600"
        data-event-id="{{event.aid}}"
        data-event-url="{% host_url 'event_detail' event_id=event.aid host 'api' %}"
        data-wms-service-url="{% host_url 'wms_service' host 'api' %}"{% if event.allow_live_chat %}
        data-chat-stream-url="https://{{chat_server}}/sse/{{event.aid}}"
        data-chat-messages-endpoint = "{% host_url 'event_chat' event_id=event.aid host 'api' %}"{% endif %}
        data-server-clock-url="{% host_url 'time_api' host 'api' %}"
        data-club-name="{{ event.club.name }}"
        data-static-root="{% static '' %}"
        data-csrf-token="{{ csrf_token }}"
        data-no-delay={% if no_delay %}"true"
        data-gps-stream-url="https://{{gps_server}}/sse/{{event.aid}}"{% else %}"false"{% endif %}
></script>
{% compress js %}
<script src="{% static '/vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}"></script>
<script src="{% static '/js/server_clock.js' %}?2022012700"></script>
<script src="{% static '/vendor/banana-i18n-2.3.1/banana-i18n.js' %}"></script>
<script src="{% static '/vendor/qrious-4.0.2/qrious.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-1.7.1/leaflet.js' %}"></script>
<script src="{% static '/vendor/iro-5/iro.min.js' %}"></script>
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}?langs=en-es-fi-fr-nl-sv"></script>
<script src="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.js' %}" ></script>
<script src="{% static '/js/leaflet.lineUtils.js' %}"></script>
<script src="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.js' %}"></script>
<script src="{% static '/vendor/leaflet-rotate-0.1.3/leaflet-rotate.js' %}"></script>
<script src="{% static '/vendor/bn-5.2.0/bn.js' %}"></script>
<script src="{% static '/js/positioning-2021082902.js' %}"></script>
<script src="{% static '/vendor/jdbscan-20210913/jDBScan.js' %}"></script>
<script src="{% static '/js/hash-avatar-2021100701.js' %}?1"></script>
<script src="{% static '/js/event.js' %}"></script>
<script src="{% static '/scripts/club/event.js' %}"></script>
{% endcompress %}{% if event.allow_live_chat %}<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>{% endif %}
{% endblock %}
