{% extends "base.html" %}
{% load static %}
{% load hosts %}
{% load django_bootstrap5 %}

{%  block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static '/vendor/selectize-0.13.3/selectize.bootstrap5.css' %}" />
{%  endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Register for event {{ event.name }} by {{ event.club.name }}</h1>
        <p>Event {% if not event.hidden %}started {{event.start_date|timesince}} ago{% else %}starts on <span class="date-utc" data-date="{{event.start_date|date:'c'}}">{{ event.start_date }} UTC</span>{% endif %}.</p>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <p><i class="fa fa-warning"></i> You can stream your GPS data to only one competitor at a time. If you register now, your GPS data stream will be switched to this competitor {% if not event.hidden %}immediately{% else %}at latest on <span class="date-utc" data-date="{{event.start_date|date:'c'}}">{{ event.start_date }} UTC</span>{% endif %}.</p>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/moment-2.24.0/moment-with-locales.js' %}"></script>
<script src="{% static '/vendor/selectize-0.13.3/selectize.min.js' %}"></script>
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script>
$(function(){
    $('.date-utc').each(function(i, el){
        $el = $(el);
        $el.text(dayjs($el.data('date')).local().format('MMMM D, YYYY [at] HH:mm:ss'));
    });
})
</script>
<script>
function selectizeDeviceInput(){
    $("select[name$='device']").selectize({
        valueField: 'id',
        labelField: 'device_id',
        searchField: 'device_id',
        multiple: true,
        create: false,
        plugins: [ 'preserve_on_blur' ],
        load: function(query, callback) {
            if (!query.length || query.length < 2) return callback();
            $.ajax({
                url: '{% host_url "device_search_api" host "api" %}?q=' + encodeURIComponent(query),
                type: 'GET',
                error: function() {
                    callback();
                },
                success: function(res) {
                    callback(res.results);
                }
            });
        }
    });
}
$(function(){
    selectizeDeviceInput();
})
</script>
{% endblock %}
