{% extends "club/base.html" %}
{% load static %}
{% load hosts %}

{% block content %}
<div class="row">
  <div>
      <h1>Export <a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h1>
  </div>

  {% if event.map %}
  <div>
    <table class="table table-striped">
      <tr><th>Map</th><th>Export</th></tr>
      <tr>
        <td>{% if event.map_title %}{{ event.map_title }}{% else %}Main map{% endif %}</a></td>
        <td>
          {% if event.started %}
          <a href="{{event.club.nice_url}}{{event.slug}}/map/" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Image</a>
          <a href="{{event.club.nice_url}}{{event.slug}}/kmz/" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> KMZ</a>
          {% endif %}
        </td>
      </tr>
      {% for map in event.map_assignations.all %}
      <tr>
        <td>{{ map.title }}</a></td>
        <td>
          {% if event.started %}
          <a href="{{event.club.nice_url}}{{event.slug}}/map/{{forloop.counter}}" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Image</a>
          <a href="{{event.club.nice_url}}{{event.slug}}/kmz/{{forloop.counter}}" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> KMZ</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  <div>
    <table class="table table-striped">
      <tr><th>Competitor</th><th>Start time</th><th>Export</th></tr>
      {% for competitor in event.competitors.all %}
      <tr>
        <td>{{ competitor.name }}</a></td>
        <td><span class="date-utc" data-date="{{ competitor.start_time|date:'c' }}">{{ competitor.start_time|date:'Y-m-d H:i:s \U\T\C' }}</span></td>
        <td>{% if event.started %}<a href="{{ competitor.get_absolute_gpx_url }}" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> GPX</a>{% if event.map %} <a href="https://mapdump.com/new#title={{ event.name|urlencode }}%20-%20{{competitor.name|urlencode}}&kmz=https:{% host_url 'event_kmz_download' event_id=event.aid host 'api' %}&gpx=https:{% host_url 'competitor_gpx_download' competitor_id=competitor.aid host 'api' %}" class="btn btn-sm btn-primary" target="_blank" rel="noreferrer"><i class="fa fa-external-link"></i> Mapdump.com</a>{% endif %}{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script src="{% static '/scripts/club/event_export.js' %}?_=2021100100"></script>
{% endblock %}
