{% extends "club/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load compress %}

{% block head_title %}{{ event.name }} route upload | Powered by {{ site.name }}{% endblock %}
{% block head_description %}{{ event.name }} by {{ event.club.name }} route upload page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Upload a route on event {{ event.name }} by {{ event.club.name }}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Upload Route" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}?_=2022011800"></script>
<script src="{% static '/scripts/club/event_route_upload.js' %}?_=2022022600"></script>
{% endcompress %}
{% endblock %}
