{% extends "club/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Upload a route on event {{ event.name }} by {{ event.club.name }}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Upload Route" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script src="{% static '/vendor/jquery-1.12.4/jquery.min.js' %}?_=2022011800"></script>
<script src="{% static '/scripts/club/event_route_upload.js' %}?_=2022011800"></script>
{% endblock %}
