{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load hosts %}

{% block head_title %}{{ event.name }} | Powered by {{ site.name }}{% endblock %}

{% block extra_head %}
<meta name="description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }}"/>
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }}" />
<meta property="og:url" content="{{ event.get_absolute_url }}" />
<meta name="twitter:card" content="summary_large_image">
{% if event.started and event.map %}
<meta property="og:image" content="http:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% if request.is_secure %}<meta property="og:image:secure_url" content="https:{% host_url 'event_map_thumb_download' event_id=event.aid host 'api' %}" />{% endif %}
{% else %}
<meta property="og:image" content="{% static 'android-chrome-512x512.png' %}" />
{% if request.is_secure %}<meta property="og:image:secure_url" content="{% static 'android-chrome-512x512.png' %}" />{% endif %}
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
{% endif %}
<link rel="canonical" href="{{ event.get_absolute_url }}">
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.7.1/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.css' %}"/>
<style>
/* oswald-regular - latin_latin-ext */
@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold-102';
  font-style: normal;
  font-weight: 400;
  src: local('Atkinson Hyperlegible Bold 102'), local('Atkinson-Hyperlegible-Bold-102'),
       url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff2' %}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff' %}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 90px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.time_bar{
    position: absolute;
    padding-top: 15px;
    bottom: 0px;
    left: 0px;
    height: 90px;
    background-color: #e5e5e5;
}

@media only screen
and (max-device-width : 500px) {
  .time_bar{
    height: 120px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

 .main {
    position: fixed;
    top: 51px;
    bottom: 90px;
    right: 0px;
    left: 0px;
}
.main-alerts {
    position: fixed;
    top: 51px;
    right: 0px;
    left: 0px;
}
.main .page-header .main-alerts{
  margin-top: 0;
}

.runner-icon-dark{
    color: #000;
    text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

.runner-icon-light{
    color: #000;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.runner-icon span{
    font-family: 'Atkinson-Hyperlegible-Bold-102', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 15px;
    white-space: nowrap;
}
@media (max-device-width : 767px){
  .time_bar{
    height: 120px;
  }
  .main {
    bottom: 120px;
  }
  .sidebar {
    bottom: 120px;
  }
}

.close {
    margin-bottom: 3px;
}

/* REQUIRED */
.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}

#share_button {
  margin-left: 5px;
}

.modal-backdrop, #eventNotStartedModal, #eventLoadingModal {
  top: 50px;
}

.navbar {
  z-index: 1000000;
}

.leaflet-left.has-leaflet-pan-control .leaflet-control-rotate {
    position: relative;
    left: 24px;
}
</style>
{% endblock %}


{% block body %}
<!-- Fixed navbar -->
{% include "club/navbar.html" %}

<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="hidden-xs col-sm-3 col-lg-2 sidebar"></div>
    <div id="map" class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"></div>
    <div class="page-alerts col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main-alerts">
      <div class="alert alert-info page-alert" id="alert-2">
          <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong>Heads up!</strong> <span id="alert-text"></span>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-xs-12 time_bar">
      <div>
        <div class="btn-group hidden-sm hidden-md hidden-lg">
          <a href="#" role="button" class="btn btn-sm btn-default" id="runners_show_button"><i class="fa fa-users"></i></a>
        </div>
        
        <div class="btn-group" id="view_mods_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default" id="live_button">Live</a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="replay_button">Replay</a>
        </div>
        
        <div class="btn-group" id="replay_mode_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default active" id="real_time_button">Real Time</a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="mass_start_button">Mass start</a>
        </div>
        
        <div class="btn-group" id="replay_control_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default" id="prev_button"><i class="fa fa-backward"></i></a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="play_pause_button"><i class="fa fa-play"></i></a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="next_button"><i class="fa fa-forward"></i></a>
        </div>

        <div class="btn-group pull-right" id="share_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default" id="share_button"><i class="fa fa-share-alt"></i></a>
        </div>
        
      </div>
      <div style="padding-top:5px;">
        <div id="full_progress_bar" class="progress" style="cursor: pointer">
          <div id="progress_bar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span id="progress_bar_text" style="color:#666;padding:5px"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="eventLoadingModal" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block;" width="174px" height="174px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <circle cx="50" cy="50" r="0" fill="none" stroke="#000000" stroke-width="10">
            <animate attributeName="r" repeatCount="indefinite" dur="0.9900990099009901s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline" begin="0s"></animate>
            <animate attributeName="opacity" repeatCount="indefinite" dur="0.9900990099009901s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline" begin="0s"></animate>
          </circle><circle cx="50" cy="50" r="0" fill="none" stroke="#000000" stroke-width="10">
            <animate attributeName="r" repeatCount="indefinite" dur="0.9900990099009901s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline" begin="-0.49504950495049505s"></animate>
            <animate attributeName="opacity" repeatCount="indefinite" dur="0.9900990099009901s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline" begin="-0.49504950495049505s"></animate>
          </circle>
          </svg>
        <h1>Loading...</h1>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventNotStartedModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align: center">
      <div class="modal-header">
         <h2 class="modal-title">Event not yet started</h2>
      </div>
      <div class="modal-body">
        <h4>Event start on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{event.start_date}} UTC</span></h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="{% static '/vendor/qrcode-generator-1.4.4/qrcode.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/leaflet-1.7.1/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.js' %}" ></script>
<script type="text/javascript" src="{% static '/js/leaflet.imageTransform.js' %}"></script>
<script type="text/javascript" src="{% static '/js/leaflet.lineUtils.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/leaflet-rotate-0.1.2/leaflet-rotate.js' %}"></script>
<script type="text/javascript" src="{% static '/js/server_clock.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/bn-5.2.0/bn.js' %}"></script>
<script type="text/javascript" src="{% static '/js/positioning-2021082902.js' %}"></script>
<script type="text/javascript" src="{% static '/js/event-2021090602.js' %}"></script>
<script>
var eventId = '{{event.aid}}';
var eventUrl = "{% host_url 'event_detail' event_id=event.aid host 'api' %}";
var wmsService = "{% host_url 'wms_service' host 'api' %}";
var clock = ServerClock({url: "{% host_url 'time_api' host 'api' %}"});

if (!navigator.canShare) {
  $('#share_buttons').hide();
}

function shareUrl (e) {
  e.preventDefault();
  var shareData = {
    title: $('meta[property="og:title"]').attr('content'),
    text: $('meta[property="og:description"]').attr('content'),
    url: window.location
  }
  try {
    navigator.share(shareData).then(function () {}).catch(function () {});
  } catch(err) {
  }
};

$(function() {
  $('.page-alerts').hide();
  $('.page-alert .close').click(function(e) {
    e.preventDefault();
    $(this).closest('.page-alert').slideUp();
  });

  $("#before_race_modal").modal('show').on('hide.bs.modal', function(e){
      e.preventDefault();
  });

  $('#runners_show_button').on('click', function(e){
    e.preventDefault();
    if($('#sidebar').hasClass('hidden-xs')){
      $('#sidebar').removeClass('hidden-xs').addClass('col-xs-12');
      $('#map').addClass('hidden-xs').removeClass('col-xs-12');
    }else{
      $('#sidebar').addClass('hidden-xs').removeClass('col-xs-12');
      $('#map').removeClass('hidden-xs').addClass('col-xs-12');
      map.invalidateSize()
    }
  })

  $('#live_button').on('click', selectLiveMode);
  $('#replay_button').on('click', selectReplayMode);
  $('#play_pause_button').on('click', pressPlayPauseButton);
  $('#next_button').on('click', function(e){
    e.preventDefault();
    playbackRate = playbackRate*2;
  });
  $('#prev_button').on('click', function(e){
    e.preventDefault();
    playbackRate = Math.max(1, playbackRate/2);
  });
  $('#real_time_button').on('click', function(e){
    e.preventDefault();
    isRealTime=true;
    if (resetMassStartContextMenuItem) {
      map.contextmenu.removeItem(resetMassStartContextMenuItem);
      resetMassStartContextMenuItem = null;
    }
    $('#real_time_button').addClass('active');
    $('#mass_start_button').removeClass('active');
  });
  $('#mass_start_button').on('click', function(e){
    e.preventDefault();
    onPressResetMassStart()
  });

  $('#full_progress_bar').on('click', pressProgressBar)
  $('#share_button').on('click', shareUrl)

  var thumb = document.querySelector('#full_progress_bar');
  thumb.onmousedown = function(event) {
      event.preventDefault(); // prevent selection start (browser action)

      document.addEventListener('mousemove', pressProgressBar);
      document.addEventListener('mouseup', onMouseUp);

      function onMouseUp() {
        document.removeEventListener('mouseup', onMouseUp);
        document.removeEventListener('mousemove', pressProgressBar);
      }

  };
  thumb.ondragstart = function() {
      return false;
  };

  $('.date-utc').each(function(i, el){
    $el = $(el);
    $el.text(dayjs($el.data('date')).local().format('MMMM D, YYYY [at] HH:mm:ss'));
  });

  map = L.map('map', {
    center: [15, 0],
    maxZoom: 17,
    zoom: 3,
    zoomControl: false,
    scrollWheelZoom: true,
    zoomSnap: 0,
    rotate: true,
    touchRotate: true,
    rotateControl: false,
   	contextmenu: true,
    contextmenuWidth: 140,
	  contextmenuItems: [
    {
        text: 'Center map here',
        callback: centerMap
      }, '-', {
        text: 'Zoom in',
        callback: zoomIn
      }, {
        text: 'Zoom out',
        callback: zoomOut
      }
    ]
  });
  L.control.pan().addTo(map);
  L.control.zoom().addTo(map);
  L.control.rotate({closeOnZeroBearing: false}).addTo(map)
  map.doubleClickZoom.disable(); 
  map.on('dblclick', onPressCustomMassStart)
  map.on('move', function () { drawCompetitors() })

  $.ajax({
    url: eventUrl,
    xhrFields: {
      withCredentials: true
   },
   crossDomain: true,
  }).done(function(response){
    backdropMaps[response.event.backdrop].addTo(map);
    var now = new Date()
    var startEvent = new Date(response.event.start_date)
    var endEvent = new Date(response.event.end_date)
    if (startEvent > now) {
      $('#eventLoadingModal').remove()
      $('#eventNotStartedModal').modal({backdrop:'static', keyboard: false, });
      window.setInterval(function(){
        if(new Date() > startEvent) {
          location.reload();
        }
      }, 1e3);
    } else {
      if (endEvent > now) {
        isLiveEvent = true
      }
      qrUrl = response.event.shortcut;
      liveUrl = response.data

      if(response.maps.length) {
        var MapLayers = {};
        for (var i=0; i < response.maps.length; i++) {
          var m = response.maps[i];
          if (i == 0) {
            m.title = m.title ? $('<span/>').text(m.title).html() : '<i class="fa fa-star"></i> Main Map';
            mapHash = m.hash
            mapUrl = m.url + '?map_hash=' + mapHash
            var bounds = [
              [m.coordinates.topLeft.lat, m.coordinates.topLeft.lon],
              [m.coordinates.topRight.lat, m.coordinates.topRight.lon],
              [m.coordinates.bottomRight.lat, m.coordinates.bottomRight.lon],
              [m.coordinates.bottomLeft.lat, m.coordinates.bottomLeft.lon],
            ]
            addRasterMap(
              bounds,
              mapUrl,
              true
            )
            MapLayers[m.title] = rasterMap
          } else {
            var bounds = [
              [m.coordinates.topLeft.lat, m.coordinates.topLeft.lon],
              [m.coordinates.topRight.lat, m.coordinates.topRight.lon],
              [m.coordinates.bottomRight.lat, m.coordinates.bottomRight.lon],
              [m.coordinates.bottomLeft.lat, m.coordinates.bottomLeft.lon],
            ]
            MapLayers[m.title] = L.tileLayer.wms(wmsService+'?', {
                layers: eventId + '/' + i,
                bounds: bounds,
                tileSize: 512,
                noWrap: 'false',
            })
          }
        }
        if (response.maps.length > 1) {
            L.control.layers(MapLayers, null, {collapsed: false}).addTo(map);
            map.on('baselayerchange', function(e) {
                console.log(e)
                map.fitBounds(e.layer.options.bounds)
            })
        }
      }
      if (response.announcement) {
        prevNotice = response.announcement;
        $('#alert-text').text(prevNotice);
        $('.page-alert').slideUp(0);
        $('.page-alerts').show();
        $('.page-alert').slideDown();
      }
      if (!setFinishLineContextMenuItem) {
        setFinishLineContextMenuItem = map.contextmenu.insertItem({
          text: 'Draw finish line',
          callback: drawFinishLine
        }, 1);
      }
      onStart();
    }
  }).fail(function(){
    $('#eventLoadingModal').remove()
    swal({text: 'Something went wrong', title: 'error', type: 'error'})
  });
})
</script>
{% endblock %}

