{% load static hosts %}
{% if not is_event_page %}
    <footer id="myFooter">
        <div class="second-bar">
            <div class="container{% if is_event_page %}-fluid{% endif %}">
                <div class="logosmall site-name my-0 py-0">
                    <div class="px-0 py-1">
                        <a href="https://www.routechoices.com/"
                           style="line-height: 25px"
                           class="d-flex justify-content-end">
                            <div>Powered by</div>
                            <div class="ps-1">
                                <div>Routechoices.com</div>
                                <div style="font-size: 0.67em; line-height: 0px;">Live GPS Tracking Solution</div>
                            </div>
                            <div>
                                <img src="{% static 'img/logo.svg' %}"
                                     alt="Site logo"
                                     height="30"
                                     width="42"
                                     style="vertical-align: top">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}
