{% load static hosts %}
<footer id="myFooter"
        {% if is_event_page %}class="position-absolute w-100 bottom-0" style="z-index: 110002;"{% endif %}>
    <div class="second-bar">
        <div class="container{% if is_event_page %}-fluid{% endif %}">
            <div class="logosmall site-name my-0 py-0 text-end">
                <div class="d-flex flex-row justify-content-between">
                    <div class="px-0 py-1">
                        <a {% if is_event_page %}target="_blank"{% endif %}
                           href="{% host_url 'site:landing_page' host 'www' %}">
                            <img src="{% static 'img/logo.svg' %}"
                                 alt="Site logo"
                                 height="30"
                                 width="42"
                                 style="vertical-align: top">
                        </a>
                    </div>
                    <div class="px-0 py-1">
                        <a {% if is_event_page %}target="_blank"{% endif %}
                           href="{% host_url 'site:landing_page' host 'www' %}"
                           style="line-height: 25px"
                           class="d-flex">
                            <div>Powered by</div>
                            <div>
                                <div>{{ site.name }}</div>
                                <div style="font-size: 0.67em; line-height: 0px;">Live GPS Tracking Solution</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
