{% load static %}
{% load hosts %}
<header class="navbar navbar-expand-md navbar-light bg-light" style="z-index: 110001">
    <div class="container">
        {% if club.logo or event.club.logo %}<span style="display:inline-block;"><img src="{% if club %}{{club.nice_url}}{% else %}{{event.club.nice_url}}{% endif %}logo" alt="_" height="40px"></span>{% else %}<a class="navbar-brand site-name" href="{% host_url 'site:events_view' host 'www' %}"><span style="display:inline-block;"><img src="{% static 'img/logo.svg' %}" alt="_" height="25px"></span></a>{% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        {% if club or event.club %}
          <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <ul class="nav navbar-nav d-flex">
            <li class="nav-item">
              <a class="nav-link" href="{% if club %}{{ club.get_absolute_url }}{% else %}{{ event.club.get_absolute_url }}{% endif %}">Events by {% if club %}{{ club.name }}{% else %}{{ event.club.name }}{% endif %}</a>
            </li>
          </ul>
        </div>
        {% endif %}
    </div>
  </header>