<h4 class="title">Invite</h4>
<span class="alert alert-info">Please add an email below. The user will receive an email with instructions.</span>
<form id="invite-form"
      method="post"
      action="{% url 'invitations:send-invite' %}">
    {% csrf_token %}
    <div class="form-group">
        <input type="text"
               name="email"
               id="id_email"
               value="{{ form.email.value }}"
               class="form-control validate-email"
               placeholder="Email">
    </div>
    <div class="form-group">
        {% for error in form.email.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
        {{ success_message }}
    </div>
    <input type="submit"
           value="Submit"
           class="btn btn-primary generic-ajax-submit">
</form>
