{% load static %}{% load django_bootstrap5 %}{% load raven %}{% load hosts %}<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Routechoices">
    <meta name="application-name" content="Routechoices">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block head_title %}{{site.name}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap-5.1.1/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap_sweetalert-1.0.1/sweetalert.css' %}"/>
    <link rel="stylesheet" href="{%  static '/vendor/fontawesome-free-6.1.1-web/css/all.css' %}"/>
    <link rel="stylesheet" href="{%  static '/vendor/fontawesome-free-6.1.1-web/css/v4-shim.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/site.css' %}?v=2022012300" />
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}?_=2021111100" />
  </head>
  <body>
    {% block body %}
    <!-- Fixed navbar -->
    {% block navbar %}
    {% include "oauth2_provider/navbar.html" %}
    {% endblock %}
    <div class="container content">
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    <script
      src="https://browser.sentry-cdn.com/6.10.0/bundle.min.js"
      integrity="sha384-nsIkfmMh0uiqg+AwegHcT1SMiPNWnhZmjFDwTshLTxur6ZPNaGT8vwT+vHwI5Jag"
      crossorigin="anonymous">
    </script>
    <script
      src="https://browser.sentry-cdn.com/6.10.0/bundle.tracing.min.js"
      integrity="sha384-WPWd3xprDfTeciiueRO3yyPDiTpeh3M238axk2b+A0TuRmqebVE3hLm3ALEnnXtU"
      crossorigin="anonymous">
    </script>
    <script>
    Sentry.init({
      dsn: "https://90a1a7dd37134928b5a981eeb3a20293@o91052.ingest.sentry.io/198396",
      release: "master@{{version}}",
      integrations: [new Sentry.Integrations.BrowserTracing()],
      tracesSampleRate: 0.05,
    });
    </script>
    <script src="{% static '/vendor/bootstrap-5.1.1/bootstrap.bundle.min.js' %}"/></script>
    {% if enable_analytics %}
    <!-- Matomo -->
    <script src="{% static '/scripts/analytics.js' %}?_=2021100100"></script>
    <noscript><p><img src="https://stats.io.rphlo.com/revmatomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    {% endif %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
