{% load static %}{% load django_bootstrap5 %}{% load hosts %}{% load compress %}<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}?v=2023c">
    <link rel="icon" sizes="any" href="{% static 'favicon.ico' %}?v=2023c">
    <link rel="manifest" href="{% static 'manifest.json' %}?v=2023c">
    <meta name="apple-mobile-web-app-title" content="{{site.name}}">
    <meta name="application-name" content="{{site.name}}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block head_title %}{{site.name}}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{%  static '/vendor/fontawesome-free-6.4.0-web/css/all.css' %}"/>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap-5.2.3/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap_sweetalert-1.0.1/sweetalert.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/site.css' %}" />
    {% endcompress %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <!-- Fixed navbar -->
    {% block navbar %}
    {% include "oauth2_provider/navbar.html" %}
    {% endblock %}
    <div class="container content">
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    <script src='https://js.sentry-cdn.com/90a1a7dd37134928b5a981eeb3a20293.min.js' crossorigin="anonymous" data-lazy="no"></script>
    <script src="{% static '/vendor/bootstrap-5.2.3/bootstrap.bundle.min.js' %}"/></script>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
