{% load static hosts %}
<header class="navbar navbar-expand-md navbar-dark bg-primary"
        style="color: #fff;
               background-color: #111 !important">
    <div class="container">
        <a class="navbar-brand site-name"
           href="{% host_url 'site:events_view' host 'www' %}"><span class="d-inline-block">
            <img src="{% static 'img/logo.svg' %}"
                 alt="Site logo"
                 height="25"
                 width="34.66">
        </span> {{ site.name }}</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>
