version: 2
jobs:
  build-and-test:
    # to speed up Dockers builds turn on layer caching
    # which is a paid CircleCI feature
    # https://circleci.com/docs/2.0/docker-layer-caching/
    machine:
      image: ubuntu-2004:202104-01
      docker_layer_caching: false
    steps:
    - checkout
    - run: echo 127.0.0.1 www.localhost halden-sk.localhost | sudo tee -a /etc/hosts
    - run: mkdir -p media/routechoices-maps/maps/
    - run: ./dc build
    - run: ./dc up -d
    - run: ./da migrate
    - run: ./da collectstatic
    - run: ./da createcachetable
    - run: ./dc restart web 
    - run: timeout 300 bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' www.localhost:8080)" != "200" ]]; do sleep 5; done' || false
    - run: ./da test
    - run: ./da reset_db_for_tests
    - run: ./dc restart web
    - run: sudo apt update
    - run: sudo apt install -y libgbm-dev
    - run:
        name: Install Node.js 12 and run cypress
        # https://www.cloudesire.com/how-to-upgrade-node-on-circleci-machine-executor/
        command: |
          export NVM_DIR="/opt/circleci/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
          nvm install v12 && nvm use v12 && nvm alias default v12
          node -v
          curl -o- -L https://yarnpkg.com/install.sh | bash
          ~/.yarn/bin/yarn add cypress
          ~/.yarn/bin/yarn add cypress-file-upload
          ~/.yarn/bin/yarn cypress install
          ~/.yarn/bin/yarn cypress run
    - store_artifacts:
        path: cypress/videos
    - store_artifacts:
        path: cypress/screenshots

  deploy:
    machine:
        image: ubuntu-2004:202104-01
        docker_layer_caching: false
    steps:
    - run:
        name: Deploy
        command: |
          ssh root@routechoices.com 'sudo -u apps /apps/routechoices.com/bin/deploy'

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build-and-test
      - deploy:
          requires:
            - build-and-test
          filters:
            branches:
              only:
                - master
