{% extends "base.html" %}
{% load static %}

{% load django_bootstrap5 %}

{% block content %}
<h1>Contact</h1>
  <p>We are currently in open beta.<p>
  <p>Any questions?, drop an email at <a href="mailto:info@routechoices.com?Subject=Hello" target="_top">info@routechoices.com</a> or use the form below</p>
  <p>
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Send" class="btn btn-primary">
    </form>
  </p>
{% endblock %}