{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block head_title %}{{ site.name }} | {{ event.name }}{% endblock %}

{% block extra_head %}
<meta name="description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }} on {{ site.name }}"/>
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="Live GPS Tracking of {{ event.name }} by {{ event.club.name }} on {{ site.name }}" />
<meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{site.domain}}{{ event.get_absolute_url }}" />
{% if event.started and event.map %}
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{site.domain}}{% url 'api:event_map_download' aid=event.aid %}" />
{% else %}
<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{site.domain}}{% static 'android-chrome-512x512.png' %}" />
{% endif %}
<link rel="stylesheet" href="{% static '/vendor/leaflet-1.7.1/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.css' %}"/>
<link rel="stylesheet" href="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.css' %}"/>
<style>
/* oswald-regular - latin_latin-ext */
@font-face {
  font-family: 'Atkinson-Hyperlegible-Bold-102';
  font-style: normal;
  font-weight: 400;
  src: local('Atkinson Hyperlegible Bold 102'), local('Atkinson-Hyperlegible-Bold-102'),
       url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff2' %}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff' %}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 90px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.time_bar{
    position: absolute;
    padding-top: 15px;
    bottom: 0px;
    left: 0px;
    height: 90px;
    background-color: #e5e5e5;
}

@media only screen
and (max-device-width : 500px) {
  .time_bar{
    height: 120px;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

 .main {
    position: fixed;
    top: 51px;
    bottom: 90px;
    right: 0px;
    left: 0px;
}
.main-alerts {
    position: fixed;
    top: 51px;
    right: 0px;
    left: 0px;
}
.main .page-header .main-alerts{
  margin-top: 0;
}

.runner-icon{
    color: #000;
     /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: #000;
}

.runner-icon span{
    font-family: 'Atkinson-Hyperlegible-Bold-102', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 15px;
    white-space: nowrap;
}
@media (max-device-width : 767px){
  .time_bar{
    height: 120px;
  }
  .main {
    bottom: 120px;
  }
  .sidebar {
    bottom: 120px;
  }
}

.close {
    margin-bottom: 3px;
}

/* REQUIRED */
.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}
</style>
{% endblock %}


{% block body %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'site:home_view'%}"><span><img src="{% static 'img/logo.svg' %}" alt="_" height="20px"></span> {{site.name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'site:home_view'%}">Home</a></li>
            <li><a href="{% url 'site:events_view'%}">Events</a></li>
            <li><a href="{% url 'site:tracker_view'%}">Trackers</a></li>
            <li><a href="{% url 'site:contact_view'%}">Contact</a></li>
            <li>{% if user.is_authenticated %}<a href="{% url 'account_logout'%}">Logout</a>{% else %}<a href="{% url 'account_login'%}">Login</a>{% endif %}</li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <div id="sidebar" class="hidden-xs col-sm-3 col-lg-2 sidebar"></div>
    <div id="map" class="col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"></div>
    <div class="page-alerts col-xs-12 col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main-alerts">
      <div class="alert alert-info page-alert" id="alert-2">
          <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <strong>Heads up!</strong> <span id="alert-text"></span>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-xs-12 time_bar">
      <div>
        <div class="btn-group hidden-sm hidden-md hidden-lg">
          <a href="#" role="button" class="btn btn-sm btn-default" id="runners_show_button"><i class="fa fa-users"></i></a>
        </div>
        
        <div class="btn-group" id="view_mods_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default" id="live_button">Live</a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="replay_button">Replay</a>
        </div>
        
        <div class="btn-group" id="replay_mode_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default active" id="real_time_button">Real Time</a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="mass_start_button">Mass start</a>
        </div>
        
        <div class="btn-group" id="replay_control_buttons">
          <a href="#" role="button" class="btn btn-sm btn-default" id="prev_button"><i class="fa fa-backward"></i></a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="play_pause_button"><i class="fa fa-play"></i></a>
          <a href="#" role="button" class="btn btn-sm btn-default" id="next_button"><i class="fa fa-forward"></i></a>
        </div>
        
      </div>
      <div style="padding-top:5px;">
        <div id="full_progress_bar" class="progress" style="cursor: pointer">
          <div id="progress_bar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span id="progress_bar_text" style="color:#666;padding:5px"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventNotStartedModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <h2 class="modal-title">Event not yet started</h2>
      </div>
      <div class="modal-body">
        <h4>Event start on <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{event.start_date}} UTC</span></h4>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

{% endblock %}
{% block extra_body %}
<script src="{% static '/vendor/leaflet-1.7.1/leaflet.js' %}"></script>
<script src="{% static '/vendor/moment-2.24.0/moment.js' %}"></script>
<script src="{% static '/vendor/leaflet-smoothwheelzoom-2020.07.03/SmoothWheelZoom.js' %}"></script>
<script src="{% static '/vendor/leaflet-pancontrol-1.0.0/L.Control.Pan.js' %}" ></script>
<script type="text/javascript" src="{% static '/js/leaflet.imageTransform.js' %}"></script>
<script type="text/javascript" src="{% static '/vendor/leaflet-contextmenu-1.5.1/leaflet.contextmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/server_clock.js' %}"></script>
<script type="text/javascript" src="{% static '/js/positioning-2019052200.js' %}"></script>
<script type="text/javascript" src="{% static '/js/event-2021012301.js' %}"></script>
<script>
$(function() {
  $('.page-alerts').hide();

  $('.page-alert .close').click(function(e) {
    e.preventDefault();
    $(this).closest('.page-alert').slideUp();
  });

  $("#before_race_modal").modal('show').on('hide.bs.modal', function(e){
      e.preventDefault();
  });
  map = L.map('map', {
    center: [15, 0],
    zoom: 3,
    zoomControl: false,
    scrollWheelZoom: false, // disable original zoom function
    smoothWheelZoom: true,  // enable smooth zoom
    zoomSnap: 0,
   	contextmenu: true,
    contextmenuWidth: 140,
	  contextmenuItems: [
      {
        text: 'Center map here',
        callback: centerMap
      }, '-', {
        text: 'Zoom in',
        callback: zoomIn
      }, {
        text: 'Zoom out',
        callback: zoomOut
      }
    ]
  });
  L.control.pan().addTo(map);
  L.control.zoom().addTo(map);
  openStreetMap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
  });
  openStreetMap.addTo(map);

  $('#runners_show_button').on('click', function(e){
    e.preventDefault();
    if($('#sidebar').hasClass('hidden-xs')){
      $('#sidebar').removeClass('hidden-xs').addClass('col-xs-12');
      $('#map').addClass('hidden-xs').removeClass('col-xs-12');
    }else{
      $('#sidebar').addClass('hidden-xs').removeClass('col-xs-12');
      $('#map').removeClass('hidden-xs').addClass('col-xs-12');
      map.invalidateSize()
    }
  })

  $('#live_button').on('click', selectLiveMode);
  $('#replay_button').on('click', selectReplayMode);
  $('#play_pause_button').on('click', pressPlayPauseButton);
  $('#next_button').on('click', function(e){
    e.preventDefault();
    playbackRate = playbackRate*2;
  });
  $('#prev_button').on('click', function(e){
    e.preventDefault();
    playbackRate = Math.max(1, playbackRate/2);
  });
  $('#real_time_button').on('click', function(e){
    e.preventDefault();
    isRealTime=true;
    if (resetMassStartContextMenuItem) {
      map.contextmenu.removeItem(resetMassStartContextMenuItem);
      resetMassStartContextMenuItem = null;
    }
    $('#real_time_button').addClass('active');
    $('#mass_start_button').removeClass('active');
  });
  $('#mass_start_button').on('click', function(e){
    e.preventDefault();
    onPressResetMassStart()
  });
  map.doubleClickZoom.disable(); 

  map.on('dblclick', onPressCustomMassStart)

  $('#full_progress_bar').on('click', pressProgressBar)

  var thumb = document.querySelector('#full_progress_bar');
  thumb.onmousedown = function(event) {
      event.preventDefault(); // prevent selection start (browser action)

      document.addEventListener('mousemove', pressProgressBar);
      document.addEventListener('mouseup', onMouseUp);

      function onMouseUp() {
        document.removeEventListener('mouseup', onMouseUp);
        document.removeEventListener('mousemove', pressProgressBar);
      }

  };
  thumb.ondragstart = function() {
      return false;
  };

  {% if event.hidden %}
  $('#eventNotStartedModal').modal({backdrop:'static', keyboard: false, });
  var startDate = new Date('{{event.start_date|date:'c'}}');
  $('.date-utc').each(function(i, el){
    $el = $(el);
    $el.text(moment.utc($el.data('date')).local().format('MMMM Do, YYYY, HH:mm:ss'));
  });
  window.setInterval(function(){
    if(new Date() > startDate) {
      location.reload();
    }
  }, 1e3);
  {% else %}
  isLiveEvent = {% if event.is_live %}true{% else %}false{% endif %};
  liveUrl = '{% url 'api:event_data' aid=event.aid %}';
  mapDetailsUrl = '{% url 'api:event_map_details' aid=event.aid %}';
  mapHash = '{% if event.map %}{{ event.map.hash }}{% endif %}';
  mapUrl = '{% url 'api:event_map_download' aid=event.aid %}{% if event.map %}?map_hash={{ event.map.hash }}{% endif %}';
  noticeUrl = '{% url 'api:event_notice' aid=event.aid %}';
  {% if event.map %}
  var stemp = '{{ event.map.corners_coordinates }}'.split(',');
  addRasterMap([1*stemp[0],1*stemp[1]],[1*stemp[2],1*stemp[3]],[1*stemp[4],1*stemp[5]],[1*stemp[6],1*stemp[7]], mapUrl, true);
  {% endif %}
  var extraMaps = [];
  {% if event.map_assignations.count %}
    {% for e_map in event.map_assignations.all %}
      extraMaps.push({
        title:'{{e_map.title|escapejs}}',
        hash: '{{e_map.map.hash}}',
        url: '{% url 'api:event_extra_map_download' aid=event.aid index=forloop.counter %}?map_hash={{e_map.map.hash}}',
        stemp: '{{ e_map.map.corners_coordinates }}'.split(','),
      })
    {% endfor %}
    var extraMapLayer = {'<i class="fa fa-star"></i> Main Map': rasterMap};
    for (var i=0; i < extraMaps.length; i++) {
      var m = extraMaps[i];
      extraMapLayer[m.title] = new L.ImageTransform(
        m.url, 
        [[1*m.stemp[0],1*m.stemp[1]],[1*m.stemp[2],1*m.stemp[3]],[1*m.stemp[4],1*m.stemp[5]],[1*m.stemp[6],1*m.stemp[7]]]
      );
    }
    L.control.layers(extraMapLayer, null, {collapsed: false}).addTo(map);
  {% endif %}
  onStart();
  {% endif %}
})

</script>
{% endblock %}

