{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="{{club.name}} Event Feed" href="{% url 'site:club_feed' club.slug %}" />
{% endblock %}

{% block content %}
<div class="row">
  <div>
      <h1>Events by {{ club.name }} <a href="{% url 'site:club_feed' club.slug %}"><i class="fa fa-rss"></i></a></h1>
  </div>

  <div>
    <table class="table table-striped">
      <tr><th>Event</th><th>Date</th><th>Export</th></tr>
      {% for event in events %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
        <td>{% if event.is_live %}<span class="label label-default">LIVE</span>{% else %}<span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i' }}</span>{% endif %}</td>
        <td>
            {% if not event.hidden %}<a href="{{ event.get_absolute_export_url }}" class="btn btn-xs btn-primary" style="margin-bottom: 3px"><i class="fa fa-save"></i> GPX</a>{% endif %}
            {% if event.map and not event.hidden %}&nbsp;<a class="btn btn-xs btn-primary" href="{% url 'api:event_map_download' event.aid %}" style="margin-bottom: 3px"><i class="fa fa-globe"></i> Map</a>{% endif %}
            {% if not event.ended and event.open_registration %}&nbsp;<a href="{% url 'site:event_registration_view' club_slug=event.club.slug slug=event.slug %}" class="btn btn-xs btn-primary" style="margin-bottom: 3px"><i class="fa fa-plus-circle"></i> Register</a>{% endif %}
            {% if event.started and event.allow_route_upload %}&nbsp;<a href="{% url 'site:event_route_upload_view' club_slug=event.club.slug slug=event.slug %}" class="btn btn-xs btn-primary" style="margin-bottom: 3px"><i class="fa fa-upload"></i> Upload Route</a>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% bootstrap_pagination events extra=request.GET.urlencode %}
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/moment-2.24.0/moment.js' %}"></script>
<script>
$(function(){
    $('.date-utc').each(function(i, el){
        $el = $(el);
        $el.text(moment.utc($el.data('date')).local().format('YYYY-MM-DD HH:mm'));
    });
})
</script>
{% endblock %}
