{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load markdownify %}
{% load index %}
{% load compress %}

{% block favicon %}{% if club.logo %}<link rel="icon" type="image/png" href="{{club.logo_url}}">{% else %}<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}?v=20220828">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}?v=20220828">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}?v=20220828">
<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}?v=20220828" color="#5bbad5">
<link rel="manifest" href="{% static 'manifest.json' %}?v=20220828">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=20220828">{% endif %}{% endblock %}

{% block head_title %}GPS Tracking of Events{% if club %} by {{club.name}} | Powered by {{site.name}}{% else %} on {{site.name}}{% endif %}{% endblock %}
{% block head_description %}List of public events{% if club %} by {{club.name}}{% else %} on {{site.name}}, a free and open source live GPS tracking solution for orienteering events.{% endif %}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="{% if club %}{{club.name}} {% else %}{% endif%}GPS Tracking Event Feed" href="{% if club %}{{event.club.nice_url}}feed{% else %}{% url 'site:events_feed' %}{% endif%}" />
<meta property="og:title" content="GPS Tracking of Events{% if club %} by {{club.name}} | Powered by {{site.name}}{% else %} on {{site.name}}{% endif %}" />
<meta property="og:description" content="List of public events{% if club %} by {{club.name}}{% else %} on {{site.name}}, a free and open source live GPS tracking solution for orienteering events.{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{% static '/img/og.jpg'%}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% endblock %}

{% block content %}
{% if club %}
<div class="row">
  {{club.description|markdownify }}
</div>
<hr/>
{% endif %}
<div class="row">
  {% if live_events %}
  <div><h2>Live Events</h2></div>
  <div>
  {% for event in live_events %}
    <div class="card" style="margin-bottom: 15px;">
      <div class="card-body">
          <div class="d-flex flex-row bd-highlight justify-content-between">
              <div class="p-2 bd-highlight">
                  <div>
                    <a class="link-primary" href="{{ event.get_absolute_url }}"><b style="font-size: 1.3em;">{{ event.name }}</b></a>{% if event.is_live %}<span style="margin-left: 5px" class="badge bg-danger float-end">LIVE</span>{% endif %}
                  </div>
                  <div>
                    Starts <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i' }}</span>
                  </div>
                  {% if not club %}<div>By <a class="link-primary" href="{{ event.club.get_absolute_url }}">{{ event.club.name }}</a></div>{% endif%}
              </div>
              <div class="p-2 bd-highlight" style="border-left: 1px solid rgba(0,0,0,.125); width:320px">
                {% if not event.hidden %}<a href="{{event.club.nice_url}}{{event.slug}}/export" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-save"></i> Export</a>{% endif %}
                {% if event.ended and event.map_id %}<a href="http://3drerun.worldofo.com/2d/?server={{ site.domain }}/api/woo&eventid={{event.aid}}&liveid=-" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-external-link" aria-hidden="true"></i> 2DRerun</a>{% endif %}
                {% if event.started and event.allow_route_upload or event.open_registration and not event.ended  %}
                    <a href="{{event.club.nice_url}}{{event.slug}}/contribute" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-circle-plus"></i> Competitor{% if event.open_registration and not event.ended %} registration{% endif %}{% if event.open_registration and event.allow_route_upload and event.started and not event.ended %} or{% endif %}{% if event.started and event.allow_route_upload %} route upload{% endif %}</a>
                {% endif %}
              </div>
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% endif%}
  {% if events %}
  <div style="margin-bottom: 15px;">
    <h2>Archived Events</h2>
    {% if years %}
      {% if club %}
        {% if years %}
          <div>{% if year %}<a href="{{club.nice_url}}">All</a>{% else %}All{% endif%} {% for y in years %} {% if year == y %}{{ y }}{% else %}<a href="{{club.nice_url}}?year={{ y }}">{{ y }}</a>{% endif %}{% endfor%}</div>
          {% if year %}<div>{% if month %}<a href="{{club.nice_url}}?year={{year}}">All</a>{% else %}All{% endif%} {% for m in months %} {% if month == m %}{{ month_names|index:m }}{% else %}<a href="{{club.nice_url}}?year={{ year }}&month={{m}}">{{ month_names|index:m }}</a>{% endif %}{% endfor%}</div>{% endif %}
        {% endif %}
      {% else %}
        {% if years %}
          <div>{% if year %}<a href="{% url 'site:events_view' %}">All</a>{% else %}All{% endif%} {% for y in years %} {% if year == y %}{{ y }}{% else %}<a href="{% url 'site:events_view' %}?year={{ y }}">{{ y }}</a>{% endif %}{% endfor%}</div>
          {% if year %}<div>{% if month %}<a href="{% url 'site:events_view' %}?year={{year}}">All</a>{% else %}All{% endif%} {% for m in months %} {% if month == m %}{{ month_names|index:m }}{% else %}<a href="{% url 'site:events_view' %}?year={{ year }}&month={{m}}">{{ month_names|index:m }}</a>{% endif %}{% endfor%}</div>{% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
  <div>
  {% if events.paginator.num_pages > 1 %}{% bootstrap_pagination events extra=request.GET.urlencode %}{% endif %}
  {% for event in events %}
    <div class="card" style="margin-bottom: 15px;">
        <div class="card-body">
            <div class="d-flex flex-row bd-highlight justify-content-between">
                <div class="p-2 bd-highlight">
                    <div>
                      <a class="link-primary" href="{{ event.get_absolute_url }}"><b style="font-size: 1.3em;">{{ event.name }}</b></a>{% if event.is_live %}<span style="margin-left: 5px" class="badge bg-danger float-end">LIVE</span>{% endif %}
                    </div>
                    <div>
                      Starts <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i' }}</span>
                    </div>
                    {% if not club %}<div>By <a class="link-primary" href="{{ event.club.get_absolute_url }}">{{ event.club.name }}</a></div>{% endif%}
                </div>
                <div class="p-2 bd-highlight" style="border-left: 1px solid rgba(0,0,0,.125); width:320px">
                  {% if not event.hidden %}<a href="{{event.club.nice_url}}{{event.slug}}/export" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-save"></i> Export</a>{% endif %}
                  {% if event.started and event.allow_route_upload or event.open_registration and not event.ended  %}
                      <a href="{{event.club.nice_url}}{{event.slug}}/contribute" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-circle-plus"></i> Competitor{% if event.open_registration and not event.ended %} registration{% endif %}{% if event.open_registration and event.allow_route_upload and event.started and not event.ended %} or{% endif %}{% if event.started and event.allow_route_upload %} route upload{% endif %}</a>
                  {% endif %}
                {% if event.ended and event.map_id %}<a href="http://3drerun.worldofo.com/2d/?server={{ site.domain }}/api/woo&eventid={{event.aid}}&liveid=-" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-secondary" style="margin-bottom: 3px"><i class="fa fa-external-link" aria-hidden="true"></i> 2DRerun</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
  {% if events.paginator.num_pages > 1 %}{% bootstrap_pagination events extra=request.GET.urlencode %}{% endif %}
  </div>
  {% if not live_events and not events %}
    <div class="card">
      <div class="card-body">
        <h2 style="color: #888">No public events yet...</h2>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block extra_body %}
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script src="{% static '/scripts/site/event_list.js' %}"></script>
{% endcompress %}
{% endblock %}
