{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div>
      <h1>Events for {{ club.name }}</h1>
  </div>

  <div>
    <table class="table table-striped">
      <tr><th>Event</th><th>Date</th><th>Export</th></tr>
      {% for event in events %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
        <td>{% if event.is_live %}<span class="label label-default">LIVE</span>{% else %}<span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i' }}</span>{% endif %}</td>
        <td>{% if not event.hidden %}<a href="{{ event.get_absolute_export_url }}" class="btn btn-xs btn-primary"><i class="fa fa-save"></i> GPX</a>{% endif %} {% if event.map and not event.hidden %}<a class="btn btn-xs btn-primary" href="{% url 'api:event_map_download' event.aid %}"><i class="fa fa-globe"></i> Map</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% bootstrap_pagination events extra=request.GET.urlencode %}
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static '/vendor/moment-2.24.0/moment.js' %}"></script>
<script>
$(function(){
    $('.date-utc').each(function(i, el){
        $el = $(el);
        $el.text(moment.utc($el.data('date')).local().format('YYYY-MM-DD HH:mm'));
    });
})
</script>
{% endblock %}
