{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load hosts %}
{% load markdownify %}
{% load index %}
{% load compress %}
{% load define_action %}

{% block favicon %}{% if club.logo %}<link rel="icon" type="image/png" href="{{club.logo_url}}">{% else %}<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}?v=20220828">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}?v=20220828">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}?v=20220828">
<link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}?v=20220828" color="#5bbad5">
<link rel="manifest" href="{% static 'manifest.json' %}?v=20220828">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=20220828">{% endif %}{% endblock %}

{% block head_title %}GPS Tracking of Events{% if club %} by {{club.name}} | Powered by {{site.name}}{% else %} on {{site.name}}{% endif %}{% endblock %}
{% block head_description %}List of public events{% if club %} by {{club.name}}{% else %} on {{site.name}}, a free and open source live GPS tracking solution for orienteering events.{% endif %}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="{% if club %}{{club.name}} {% else %}{% endif%}GPS Tracking Event Feed" href="{% if club %}{{event.club.nice_url}}feed{% else %}{% url 'site:events_feed' %}{% endif%}" />
<meta property="og:title" content="GPS Tracking of Events{% if club %} by {{club.name}} | Powered by {{site.name}}{% else %} on {{site.name}}{% endif %}" />
<meta property="og:description" content="List of public events{% if club %} by {{club.name}}{% else %} on {{site.name}}, a free and open source live GPS tracking solution for orienteering events.{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta name="twitter:card" content="summary_large_image">{% if not club %}
<meta property="og:image" content="{% static '/img/og.jpg'%}?t=2022091500" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />{% endif %}
<style>
  .event-set-card:hover{box-shadow: rgb(0 0 0 / 15%) 0px 8px 16px 0px;}
</style>
{% endblock %}

{% block contentup %}
{% if club %}
  {% define club.nice_url as home_url %}
{% else %}
  {% url 'site:events_view' as home_url %}
{% endif %}
{% if club %}
<div class="container-fluid d-none d-sm-block" style="padding: 0">
  <div class="row" style="margin: 0px;">
    <div style="background-color: #fff; width: 100%;">
      <div class="container content">
        <div class="row">
          {{club.description|markdownify }}
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" width="100%" height="2em" preserveAspectRatio="none" fill="#f8f9fa" style="margin-top: -2em;padding:0"><path d="M0 1 L1 1 L0 0 Z"/></svg>
  </div>
</div>
<div class="container content">
{% else %}
<div class="container-fluid d-none d-sm-block" style="padding: 0">
<div class="row" style="margin: 0px;">
  <div style="background-color: #000; width: 100%;text-align: center">
    <img src="{% static 'img/banner.jpg'%}?v=20230113" alt="banner" style="width: 100%; max-width: 1024px"></img>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" width="100%" height="2em" preserveAspectRatio="none" fill="#f8f9fa" style="margin-top: -2em;padding:0"><path d="M0 1 L1 1 L0 0 Z"/></svg>
  <div style="text-align: right;padding-right: 26px; font-size:8px;">Photo: Juuso-Valtteri Kivimäki</div>
</div>
</div>
<div class="container content">
{% endif %}
<div class="row">
  {% if live_events %}
  <div><h2>Live Events</h2></div>
  <div>
  {% for event_set in live_events %}
    <div class="row">
      <h4 class="padded-multiline"><span>{% if not event_set.fake %}{{event_set.name}}{%else%}Event{% endif%}</span></h4>
      {% if not club %}<div style="font-size: 0.8em; margin-left: 25px;margin-bottom: 5px">By <a class="link-primary" href="{{ event_set.events.0.club.get_absolute_url }}">{% if event_set.events.0.club.logo %}<img src="{{event_set.events.0.club.logo_url}}" width="25px" height="25px" alt="logo" style="vertical-align: bottom"/> {% endif %}{{ event_set.events.0.club.name }}</a></div>{% endif%}
    </div>
    {% for event in event_set.events %}
      <div class="card event-set-card" style="margin-bottom: 15px;">
        <div class="card-body">
          <div class="d-flex flex-row bd-highlight justify-content-between">
            <div class="p-2 bd-highlight">
              <div>
                <a class="link-primary stretched-link" href="{{ event.get_absolute_url }}" style="text-decoration:none"><b style="font-size: 1.5em;">{{ event.name }}</b></a> <span style="background-color:red;color:#fff;margin-left: 5px;padding: 2px 7px;border-radius: 5px;"><b><i>LIVE</i></b></span>
              </div>
            </div>
            <div class="p-2 bd-highlight justify-end">
              <div class="dropdown" style="z-index: 1">
                <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink-{{event.aid}}" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-{{event.aid}}">
                  {% if event.started and event.allow_route_upload or event.open_registration and not event.ended  %}
                  <li><a href="{{event.club.nice_url}}{{event.slug}}/contribute" class="dropdown-item"><i class="fa fa-circle-plus"></i> Competitor{% if event.open_registration and not event.ended %} registration{% endif %}{% if event.open_registration and event.allow_route_upload and event.started and not event.ended %} or{% endif %}{% if event.started and event.allow_route_upload %} route upload{% endif %}</a></li>
                  {% endif %}
                  <li><a href="{{event.club.nice_url}}{{event.slug}}/export" class="dropdown-item"><i class="fa fa-save"></i> Export</a></li>
                  {% if event.ended and event.map_id %}
                  <li><a href="http://3drerun.worldofo.com/2d/?server={{ site.domain }}/api/woo&eventid={{event.aid}}&liveid=-" target="_blank" rel="noopener noreferrer" class="dropdown-item"><i class="fa fa-external-link" aria-hidden="true"></i> 2DRerun</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
  </div>
  {% endif%}
  {% if years %}
  <div style="margin-bottom: 15px;">
    <h2>Archived Events</h2>
      {% if home_url %}
          <div>{% if year %}<a href="{{home_url}}">All</a>{% else %}All{% endif%}{% for y in years %}&nbsp;{% if year == y %}{{ y }}{% else %}<a href="{{home_url}}?year={{ y }}">{{ y }}</a>{% endif %}{% endfor%}</div>
          {% if year %}
          <div>{% if month %}<a href="{{home_url}}?year={{year}}">All</a>{% else %}All{% endif%}{% for m in months %}&nbsp;{% if month == m %}{{ month_names|index:m }}{% else %}<a href="{{home_url}}?year={{ year }}&month={{m}}">{{ month_names|index:m }}</a>{% endif %}{% endfor%}</div>
          {% endif %}
      {% else %}
          <div>nope</div>
      {% endif %}
  </div>
  {% endif %}
  <div>
  {% if events_page.paginator.num_pages > 1 %}{% bootstrap_pagination events_page extra=request.GET.urlencode %}{% endif %}
  {% for event_set in events %}
    <div class="row">
      <h4 class="padded-multiline"><span>{% if not event_set.fake %}{{event_set.name}}{%else%}Event{% endif%}</span></h4>
      {% if not club %}<div style="font-size: 0.8em; margin-left: 25px;margin-bottom: 5px">By <a class="link-primary" href="{{ event_set.events.0.club.get_absolute_url }}">{% if event_set.events.0.club.logo %}<img src="{{event_set.events.0.club.logo_url}}" width="25px" height="25px" alt="logo" style="vertical-align: bottom"/> {% endif %}{{ event_set.events.0.club.name }}</a></div>{% endif%}
    </div>
    {% for event in event_set.events %}
    <div class="card event-set-card" style="margin-bottom: 15px;">
      <div class="card-body">
        <div class="d-flex flex-row bd-highlight justify-content-between">
          <div class="p-2 bd-highlight">
            <div>
              <a class="link-primary stretched-link" href="{{ event.get_absolute_url }}" style="text-decoration:none"><b style="font-size: 1.5em;">{{ event.name }}</b></a>
            </div>
            <div>
              <span class="date-utc" data-date="{{ event.start_date|date:'c' }}">{{ event.start_date|date:'Y-m-d H:i' }}</span>
            </div>
          </div>
          <div class="p-2 bd-highlight justify-end">
            <div class="dropdown" style="z-index: 1">
              <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink-{{event.aid}}" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-{{event.aid}}">
                {% if event.started and event.allow_route_upload or event.open_registration and not event.ended  %}
                <li><a href="{{event.club.nice_url}}{{event.slug}}/contribute" class="dropdown-item"><i class="fa fa-circle-plus"></i> Competitor{% if event.open_registration and not event.ended %} registration{% endif %}{% if event.open_registration and event.allow_route_upload and event.started and not event.ended %} or{% endif %}{% if event.started and event.allow_route_upload %} route upload{% endif %}</a></li>
                {% endif %}
                <li><a href="{{event.club.nice_url}}{{event.slug}}/export" class="dropdown-item"><i class="fa fa-save"></i> Export</a></li>
                {% if event.ended and event.map_id %}
                <li><a href="http://3drerun.worldofo.com/2d/?server={{ site.domain }}/api/woo&eventid={{event.aid}}&liveid=-" target="_blank" rel="noopener noreferrer" class="dropdown-item"><i class="fa fa-external-link" aria-hidden="true"></i> 2DRerun</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  {% if events_page.paginator.num_pages > 1 %}{% bootstrap_pagination events_page extra=request.GET.urlencode %}{% endif %}
  </div>
  {% if not live_events and not events %}
    <div class="card">
      <div class="card-body">
        <h2 style="color: #888">No public events yet...</h2>
      </div>
    </div>
  {% endif %}
</div>
</div>
{% endblock %}

{% block extra_body %}
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.0/umbrella.min.js' %}"></script>
<script src="{% static '/vendor/dayjs-1.10.6/dayjs.min.js' %}"></script>
<script src="{% static '/scripts/site/event_list.js' %}"></script>
{% endcompress %}
{% endblock %}
