{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div>
      <h1>Export <a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h1>
  </div>

  <div>
    <table class="table table-striped">
      <tr><th>Competitor</th><th>Start time</th><th>Export</th></tr>
      {% for competitor in event.competitors.all %}
      <tr>
        <td>{{ competitor.name }}</a></td>
        <td>{{ competitor.start_time|date:'Y-m-d H:i:s \U\T\C' }}</td>
        <td>{% if not event.started %}<a href="{{ competitor.get_absolute_gpx_url }}" class="btn btn-xs btn-primary"><i class="fa fa-save"></i> GPX</a>{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}