{% extends "base.html" %}
{% load static %}

{% load django_bootstrap5 %}

{% block content %}
<center><h1>Features</h1></center>
<hr/>
<h3>Instant replay</h3>
<p>Instant replay, straight from your browser on your phone, laptop, or desktop. No app required.</p>
<hr/>
<h3>Intiutive dashboard</h3>
<p>Manage your maps and events from intiutive dashboard.</p><hr/>
<h3>Stream from any device</h3>
<p>Stream your position from your smartphone with our app or from dedicated GPS tracker.</p><hr/>
<h3>Exports &amp; Integrations</h3>
<p>Export file in your favourite format after the events. 2D Rerun integration for advanced analysis.</p>
{% endblock %}
