{% extends "base.html" %}
{% load static %}{% load hosts %}

{% block content %}
<video poster="{% static 'background.jpg'%}" class="bg_video" playsinline autoplay muted loop>
  <source src="{% static 'background.av1.mp4'%}" type="video/mp4; codecs=av01.0.05M.08"/>
  <source src="{% static 'background.mp4'%}" type="video/mp4">
  <source src="{% static 'background.webm'%}" type="video/webm">
</video>
<div class="video_cover"></div>
<div class="row" style="text-align: center">
    <h1 class="video_text_overlay" style="margin-top: 40px">Routechoices.com</h1>
    <h1 class="video_text_overlay" style="margin-bottom: -20px">Live GPS tracking solution for orienteering events</h1>
    <p><img src="{% static 'img/iphone.png'%}" style="max-width:100%;max-height:600px;width: auto;height: auto;" alt="app on phone"/></p>
    <h3 style="margin-bottom:1em"><a style="font-size: 1em;padding: 0.2em .5em;text-decoration: none;background: rgb(0,0,0,0.2);border-radius: 5px;" href="{% url 'site:events_view' %}"><i class="fa-solid fa-person-running"></i> Event List</a></h3>
    <hr style="color:#fff"/>
    <h3 style="margin-bottom:1em; color:#fff">Once you join, a simple user interface let you setup a club and immediately prepare live GPS tracking web pages of your orienteering trainings or competitions.</h3>
    <h3 style="margin-bottom:1em"><a style="font-size: 1em;padding: 0.2em .5em;text-decoration: none;background: rgb(0,0,0,0.2);border-radius: 5px;" href="{% host_url 'root_account_signup' host 'www'%}"><i class="fa-solid fa-compass"></i> Join now</a></h3>
  </div>
{% endblock %}
