{% extends "base.html" %}
{% load static %}

{% block content %}
<video poster="{% static 'background.jpg'%}" class="bg_video" playsinline autoplay muted loop>
  <source src="{% static 'background.av1.mp4'%}" type="video/mp4; codecs=av01.0.05M.08"/>
  <source src="{% static 'background.mp4'%}" type="video/mp4">
  <source src="{% static 'background.webm'%}" type="video/webm">
</video>
<div class="video_cover"></div>
<div class="row" style="text-align: center">
    <h1 class="video_text_overlay">Live GPS tracking solution for orienteering events.</h1>
    <p><img src="{% static 'img/iphone.png'%}" style="max-width:100%;max-height:600px;width: auto;height: auto;" alt="app on phone"/></p>
</div>
{% endblock %}
