{% extends "base.html" %}
{% load static django_bootstrap5 %}
{% block content %}
    {% if not target_user %}
        <h3>Invite is targeted to a different email address than yours</h3>
        <p>
            You were invited to manage club {{ invitation.club }}, however the email provided for the invite is not listed in your account's email addresses.
        </p>
        <p>
            To continue you can either add that email address to your account <a href={% url 'dashboard:account_emails' %}>here</a>, or create a new account in which case you need to <a href={% url 'site:account_logout' %}>logout</a> first.
        </p>
    {% elif not invitation %}
        <h3>Invite cannot be found</h3>
        <p>No invite with such key exists in the database.</p>
        <p>Please verify the link in the address bar match the one the content of the invite email.</p>
    {% elif invitation.accepted %}
        <h3>Invite already accepted</h3>
        <p>You were invited to manage club {{ invitation.club }}, however you already accepted the invitation.</p>
        <p>You should now be club administrator unless you were dismissed of your role since then.</p>
    {% elif invitation.key_expired %}
        <h3>Key expired</h3>
        <p>You were invited to manage club {{ invitation.club }}, however the invitation has expired.</p>
        <p>Please ask for a new invite by an existing club administrator.</p>
    {% else %}
        <h3>Reply to invitation</h3>
        <p>You have been invited to manage club {{ invitation.club }}, please confirm to continue</p>
        <p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-primary">
            </form>
        </p>
    {% endif %}
{% endblock content %}
