{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div>
    <h2>{{ event.name }}{% if event.is_live %} <span class="label label-danger">Live</span>{% else %} <span class="label label-default">Replay</span>{% endif %}</h2>
    <h4>https://{{ site.domain }}/<a href="{% url 'site:club_view' event.club.slug %}">{{ event.club.slug }}</a>/<a href="{% url 'site:event_view' event.club.slug event.slug %}">{{ event.slug }}</a></h4>
  </div>

  <div>
        {% if event.hidden %}
        <div class="col" style="margin-top:30px">
          <p>
            <span class="alert alert-danger">Event will be visible in <span id="hidden-countdown">{{ event.start_date|date:'Y-m-d\TH:i:s\Z' }}</span>.
          </p>
        </div>
        {% else %}
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="rg" src="{{ event.rg_url }}">Your browser doesn't support iframes</iframe>
        </div>
        <p>
          <a href="{{ event.rg_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary" role="button">View FullSreen Map</a>
        </p>
        {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_body %}
{% if event.hidden %}
<script src="{% static '/vendor/moment-2.24.0/moment.js'%}"></script>
<script>
    $(function(){
        $('#hidden-countdown').each(function(i, el){
            var ts = $(el).text();
            var date = moment(new Date(ts));

            (function displayCoutdown(){
              $(el).text(moment.duration(date.diff(moment())).humanize());
              if(date > moment()) {
                  setTimeout(displayCoutdown, 1e3)
              } else {
                  window.location.reload()
              }
            })()
        })
    });
</script>
{% endif %}
{% endblock %}
