{% extends "base.html" %}
{% load static django_bootstrap5 compress hosts %}
{% block head_title %}
    Pricing | {{ site.name }} | Live GPS tracking for orienteering
{% endblock head_title %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/site/pricing.css' %}?_=2021100200" />
    {% endcompress %}
{% endblock extra_head %}
{% block contentup %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="w-100"
                 style="background-image: linear-gradient(0, var(--rc-gradient-filter), var(--rc-gradient-filter)), linear-gradient(120deg, #98cdd6 0%, #98d6a6 100%)">
                <div class="container content" style="min-height: 100px">
                    <div class="row text-center font-weight-bold">
                        <h2 style="font-family: Atkinson Hyperlegible, sans-serif;
                                   font-weight: 700">Pricing</h2>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1 1"
                 width="100%"
                 height="2em"
                 preserveAspectRatio="none"
                 fill="var(--bs-body-bg)"
                 style="margin-top: -2em"
                 class="p-0">
                <path d="M0 0 V1 H1" />
            </svg>
        </div>
    </div>
    <div class="container content">
        <div class="row text-center">
            <div class="col-12 mx-auto">
                <div class="card border-0 shadow rounded-3 my-3">
                    <div class="card-body p-4 p-sm-5 mb-5">
                        <div id="generic_price_table" class="mb-5">
                            <!--BLOCK ROW START-->
                            <div class="row d-grid justify-content-center">
                                <div style="width: 320px;">
                                    <!--PRICE CONTENT START-->
                                    <div class="generic_content active clearfix rounded-5">
                                        <!--HEAD PRICE DETAIL START-->
                                        <div class="generic_head_price clearfix">
                                            <!--HEAD CONTENT START-->
                                            <div class="generic_head_content clearfix">
                                                <!--HEAD START-->
                                                <div class="head_bg"></div>
                                                <div class="head">
                                                    <span>Commercial Use / Non Orienteering</span>
                                                </div>
                                                <!--//HEAD END-->
                                            </div>
                                            <!--//HEAD CONTENT END-->
                                            <!--PRICE START-->
                                            <div class="generic_price_tag clearfix">
                                                <span class="price">
                                                    <span class="currency">4</span>
                                                    <span class="cent">.99</span>
                                                    <span class="sign">€</span>
                                                    <span class="cent">/Mo<small class="text-muted" style="font-size: 0.7rem">+ VAT</small></span>
                                                </span>
                                            </div>
                                            <!--//PRICE END-->
                                        </div>
                                        <!--//HEAD PRICE DETAIL END-->
                                        <!--FEATURE LIST START-->
                                        <div class="generic_feature_list">
                                            <ul>
                                                <li>
                                                    <span>Unlimited Events</span>
                                                </li>
                                                <li>
                                                    <span>Public, Secret and Private Events</span>
                                                </li>
                                                <li>
                                                    <span>Own Maps</span>
                                                </li>
                                                <li>
                                                    <span>Custom Domains</span>
                                                </li>
                                                <li>
                                                    <span>Unlimited Team Members</span>
                                                </li>
                                                <li>
                                                    <span>Ads Free Experience</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--//FEATURE LIST END-->
                                        <!--BUTTON START-->
                                        <div class="generic_price_btn clearfix">
                                            <a href="{% url 'site:account_signup' %}">Sign up</a>
                                        </div>
                                        <!--//BUTTON END-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5 mb-1">
                            <h1 class="text-center fw-bold">Frequently asked questions</h1>
                        </div>
                        <div class="col-lg-6 offset-3">
                            <p class="text-muted text-center mb-5">about {{ site.name }} subscriptions and billing</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do I need a credit card to sign up?</h3>
                                    <p class="context-text">No. We won't ask for any payment information until you decide to subscribe to a plan.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Will I get a trial period to test the features?</h3>
                                    <p class="context-text">
                                        Yes. It's enabled automatically when you create your first club. It does not require a credit card and lasts for 10 days. When the Free Trial is over, you can continue with a paid plan.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do Orienteering Clubs have to pay something?</h3>
                                    <p>
                                        No, {{ site.name }} main goal is to promote orienteering. Hence if you qualify as a non commercial orienteering organisation, you can use {{ site.name }} completely for free. Just create a club and fill the Orienteering Club Request in the settings to get started.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do each club member need a subscription?</h3>
                                    <p class="context-text">No. The members you assign to your club have their contributions included your club plan.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do I need to pay something to watch events?</h3>
                                    <p>
                                        No, The organisers are the only one required to pay something. All the spectators have the same access to the events.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">What happen when I stop my subscription?</h3>
                                    <p>Once you stop your subscription, you will not be able to create new events, all your past events stay online.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="contributeModal"
         tabindex="-1"
         aria-labelledby="contributeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contributeModalLabel">Become an individual partner</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form method="post" action="{% host_url 'site:pay_view' host 'www' %}">
                    <div class="modal-body">
                        <h6>Please enter how much you want to contribute per month.</h6>
                        <div class="input-group mb-3">
                            <span class="input-group-text">€</span>
                            <input type="text"
                                   min="4.99"
                                   value="4.99"
                                   name="price-per-month"
                                   id="price-per-month"
                                   class="form-control"
                                   aria-label="Amount (with dot and two decimal places)" />
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="per-year"
                                   name="per-year">
                            <label class="form-check-label" for="per-year">
                                One payment per year <span id="price-per-year"></span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed to payment</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock contentup %}
{% block extra_body %}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/site/pricing.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
