{% extends "base.html" %}
{% block head_title %}
    {{ site.name }} Terms of Service
{% endblock head_title %}
{% block content %}
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card border-0 shadow rounded-3 my-3">
                <div class="card-body p-4 p-sm-5">
                    <h2>{{ site.name }} Terms of Service</h2>
                    <h3>1. Terms</h3>
                    <p>
                        By accessing the website at <a href="https://{{ site.domain }}">https://{{ site.domain }}</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
                    </p>
                    <h3>2. Using our Services</h3>
                    <p>You must follow any policies made available to you within the service.</p>
                    <p>
                        Don't misuse our service. For example, don't interfere with our service or try to access it using a method other than the interface and the instructions that we provide. You may use our service only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our service to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.
                    </p>
                    <p>
                        Using our service does not give you ownership of any intellectual property rights in our service or the content you access. You may not use content from our service unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our service. Don't remove, obscure, or alter any legal notices displayed in or along with our service.
                    </p>
                    <p>
                        Our service display some content that is not {{ site.name }}'s. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please don't assume that we do.
                    </p>
                    <p>
                        In connection with your use of the service, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.
                    </p>
                    <h3>3. Media</h3>
                    <p>
                        By uploading any type of media or other content (including but not limited to images, video, and audio) to {{ site.name }}, you are agreeing that (i) doing so does not violate or infringe anyone else's rights, and (ii) you have the rights to use whatever content you are uploading or requesting, and that you have the rights to modify that content in whichever ways you decide to modify it while using {{ site.name }}.
                    </p>
                    <h3>4. Pornography</h3>
                    <p>{{ site.name }} is not a pornographic website. Any pornographic images that are uploaded are subject to removal.</p>
                    <h3>5. Privacy and Copyright Protection</h3>
                    <p>
                        {{ site.name }}'s privacy policies explain how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that {{ site.name }} can use such data in accordance with our privacy policies.
                    </p>
                    <p>
                        We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.
                    </p>
                    <p>
                        If you think somebody is violating your copyrights and want to notify us, you can contact info@routechoices.com with details of the infringement.
                    </p>
                    <h3>6. Disclaimer</h3>
                    <ol type="a">
                        <li>
                            The materials on {{ site.name }}'s website are provided on an 'as is' basis. {{ site.name }} makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
                        </li>
                        <li>
                            Further, {{ site.name }} does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
                        </li>
                    </ol>
                    <h3>7. Limitations</h3>
                    <p>
                        In no event shall {{ site.name }} or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on {{ site.name }}'s website, even if {{ site.name }} or a {{ site.name }} authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
                    </p>
                    <h3>8. Accuracy of materials</h3>
                    <p>
                        The materials appearing on {{ site.name }}'s website could include technical, typographical, or photographic errors. {{ site.name }} does not warrant that any of the materials on its website are accurate, complete or current. {{ site.name }} may make changes to the materials contained on its website at any time without notice. However {{ site.name }} does not make any commitment to update the materials.
                    </p>
                    <h3>9. Links</h3>
                    <p>
                        {{ site.name }} has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by {{ site.name }} of the site. Use of any such linked website is at the user's own risk.
                    </p>
                    <h3>10. Modifications</h3>
                    <p>
                        {{ site.name }} may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
                    </p>
                    <h3>11. Governing Law</h3>
                    <p>
                        These terms and conditions are governed by and construed in accordance with the laws of Finland and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
