{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <style>
    /* roboto-mono-regular - latin */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'),
           url("{% static '/fonts/roboto-mono-v5-latin-regular.woff2' %}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
           url("{% static '/fonts/roboto-mono-v5-latin-regular.woff' %}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }

    .roboto {
        font-family: 'Roboto Mono', monospace;
    }
    </style>
{% endblock %}

{% block content %}
      <div class="container">
        <div class="row">
          <h1>GPS Tracker</h1>
          <p>You can upload your location to provide live GPS tracking in two way. For best accuracy we recommend the Garmin watch app or a Teltonika tracker, otherwise use the smartphone app.</p>
          <p>Each method will generate a unique Device ID that you can communicate to the organizer.</p>
          <p style="margin-top:2em">
            <a role="button" class="btn btn-success" id="garmin-btn" data-toggle="modal" data-target="#garmin-modal" style="margin-bottom: 5px"><i class="fa fa-clock-o"></i> Tracking with a Garmin watch</a>
            <a role="button" class="btn btn-danger" id="tmt250-btn" data-toggle="modal" data-target="#tmt250-modal" style="margin-bottom: 5px"><i class="fa fa-globe"></i> Tracking with a Teltonika GPS tracker</a>
            <a role="button" class="btn btn-primary" id="traccar-btn" data-toggle="modal" data-target="#traccar-modal" style="margin-bottom: 5px"><i class="fa fa-mobile-phone"></i> Tracking with a smartphone</a>
            
          </p>
        </div>
      </div>
      <div class="modal fade" id="garmin-modal" tabindex="-1" role="dialog" aria-labelledby="garmin-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="garmin-modal-label">Garmin Tracking App</h4>
            </div>
            <div class="modal-body">
              <p>
                Download the {{ site.name }} Live Tracker app from the Connect IQ store.
              </p>
              <p>
                 <a href="https://apps.garmin.com/en-US/apps/50396179-a687-4720-a0d9-c5f1e9b2485b" target="_blank"><i class="fa fa-external-link"></i> Connect IQ store</a>
              </p>
              <p>
                Once installed, run the app on your watch to start streaming your location, a new device ID will be displayed on the main screen.
             </p>
             <p>
               Note that if your watch does not support 4G LTE network, you have to carry a phone with the Garmin connect app connected to the watch via Bluetooth in order to provide an internet connection.
             </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="traccar-modal" tabindex="-1" role="dialog" aria-labelledby="traccar-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="traccar-modal-label">Tracking App</h4>
            </div>
            <div class="modal-body">
              <p>On your phone enable high accuracy location then,</p>
              <p>
                Download the Traccar Client for Android or IPhone.
              </p>
              <p>
                <a href="https://play.google.com/store/apps/details?id=org.traccar.client">Traccar Client for Android</a> - <a href="https://itunes.apple.com/us/app/traccar-client/id843156974">Traccar Client for IOS</a>
              </p>
              <p>
                Open the app and enter the following settings:
                <ul class="well">
                    <li>Device identifier: <code class="devId roboto"></code> <i class="fa fa-warning"></i> Uniquely generated for you</li>
                    <li>Server URL: <code>https://www.routechoices.com/api/traccar</code></li>
                    <li>Location Accuracy: <code>High</code></li>
                    <li>Frequency: <code>1</code></li>
                    <li>Distance: <code>0</code></li>
                    <li>Angle: <code>0</code></li>
                </ul>
            </p>
             <p>Before you start running, start the service. That's it...</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="tmt250-modal" tabindex="-1" role="dialog" aria-labelledby="tmt250-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="tmt250-modal-label">Teltonika Trackers (TMT250)</h4>
            </div>
            <div class="modal-body">
              <p>
                Use the configuration tool from teltonika to setup the tracker with the following configuration file
                <ul class="well">
                    <li><a href="{% static 'tmt250.cfg' %}"><i class="fa fa-save"></i> Configuration File for TMT250</a></li>
                </ul>
              </p>
              <p>Once you obtained a device id for your tracker you can turn on your tracker and its positions will be saved to the server.</p>
              <h3>Get a device Id for your Tracker</h3>
              <form id="imeiForm">
                <div class="form-group" id=IMEIDiv>
                  <label for="IMEI">IMEI</label>
                  <input type="text" class="form-control" id="IMEI" aria-describedby="IMEIHelp" placeholder="Enter IMEI" required>
                  <small id="IMEIHelp" class="form-text text-muted">This is used to link your physical device with or system.</small>
                  <div id="imeiErrorMsg" class="invalid-feedback hidden">
                    <i class="fa fa-warning"></i> Invalid IMEI
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <br/>
              <ul id="imeiDevId" class="well hidden" >
                <li>IMEI <code id="imeiRes"></code></li>
                <li>Device identifier: <code class="imeiDevId roboto"></code> <i class="fa fa-warning"></i> Uniquely generated for you</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <h4 class="modal-title" id="error-modal-label">Error</h4>
                  </div>
                  <div class="modal-body">
                      <div id="error-modal-msg"></div>
                  </div>
              </div>
          </div>
      </div>
{% endblock %}

{% block extra_body %}
    <script>
var devId = null;

var getServerUrl = function() {
  return '/';
};

var getDeviceId = function() {
    try {
        return localStorage.getItem('devIdv2');
    } catch(e) {
        console.log('No localStorage')
    }
}

var setDeviceId = function(devId) {
    try {
        localStorage.setItem('devIdv2', devId);
    } catch(e) {
        console.log('No localStorage')
    }
    devId = devId;
    $(".devId").text(devId);
}

$(function() {
  $('.error-message').hide();
  $('#traccar-btn')
  .on('click', function(e){
    e.preventDefault();
    devId = getDeviceId();
    if (!devId) {
      $.ajax({
        type: 'POST',
        url: getServerUrl() + 'api/device_id/',
        dataType: 'json',
      }).done(function(response) {
        setDeviceId(response.device_id)
      }).fail(function() {
        $('#error-modal-msg').text("Couldn't connect to API server");
        $('#error-modal').modal('show');
      })
    } else {
      $(".devId").text(devId);
    }
  });
  $('#imeiForm').on('submit', function(e) {
    e.preventDefault();
    $('#imeiRes').text($('#IMEI').val())
    $.ajax({
      type: 'POST',
      url: getServerUrl() + 'api/imei/',
      dataType: 'json',
      data: {imei: $('#IMEI').val()}
    }).done(function(response) {
      $('#IMEIDiv').removeClass('has-error')
      $('#imeiDevId').removeClass('hidden')
      $('.imeiDevId').text(response.device_id);
      $('#imeiErrorMsg').addClass('hidden');
    }).fail(function() {
      $('#imeiErrorMsg').removeClass('hidden');
      $('#IMEIDiv').addClass('has-error')
      $('#imeiDevId').addClass('hidden')
    })
  })
});

    </script>
{% endblock %}
