{% extends "base.html" %}
{% load i18n django_bootstrap5 %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
    {{ block.super }}
    <h1>{% trans "Set Password" %}</h1>
    <form method="post"
          action="{% url 'account_set_password' %}"
          class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"
               class="btn btn-primary"
               name="action"
               value="{% trans "Set Password" %}" />
    </form>
{% endblock content %}
