{% extends "base.html" %}
{% load django_bootstrap5 i18n %}
{% block head_title %}
    {% translate "Set Password" %}
{% endblock head_title %}

{% block content %}
    {{ block.super }}
    <h1>{% translate "Set Password" %}</h1>
    <form method="post"
          action="{% url 'account_set_password' %}"
          class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"
               class="btn btn-primary"
               name="action"
               value="{% translate "Set Password" %}" />
    </form>
{% endblock content %}
