{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten password? We'll send an e-mail to a known address to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset Password' %}" />
    </form>

    <p>{% blocktrans %}Have any trouble resetting a password. Please contact us{% endblocktrans %}</p>
{% endblock %}
