{% extends "dashboard/home.html" %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block sub_content %}
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
