{% extends "dashboard/account_edit.html" %}
{% load i18n django_bootstrap5 static compress %}
{% block sub_sub_content %}
    <form method="post"
          action="{% url 'dashboard:account_password_change' %}"
          class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mb-1" name="action">{% trans "Change Password" %}</button>
    </form>
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/password-toggle.js' %}"></script>
    {% endcompress %}
{% endblock sub_sub_content %}
