{% extends "base.html" %}
{% load i18n account django_bootstrap5 %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center mb-5">{% trans "Password Reset" %}</h3>
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p>{% trans "Forgotten password? We'll send an e-mail to a known address to reset it." %}</p>
                        <form method="post"
                              action="{% url 'account_reset_password' %}"
                              class="password_reset mb-3">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="d-grid">
                                <input type="submit"
                                       class="primaryAction btn btn-primary"
                                       value="{% trans "Reset Password" %}" />
                            </div>
                        </form>
                        <p>{% blocktrans %}Have any trouble resetting a password. Please contact us{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
