{% extends "base.html" %}

{% load i18n %}
{% load django_bootstrap5 %}
{% load compress %}
{% load static %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h3 class="card-title text-center mb-5">{% trans "Sign Up" %}</h3>
          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
          <form class="signup" id="signup_form" method="post" action="{% url 'site:account_signup' %}">
            {% csrf_token %}
            {%  bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid">
              <button type="submit" class="primaryAction btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% compress js %}
<script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
<script src="{% static '/scripts/password-toggle.js' %}"></script>
{% endcompress %}
{% endblock %}
