{% extends "base.html" %}
{% load i18n django_bootstrap5 compress static %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center mb-5">
                            <i class="fa-solid fa-user-plus"></i> {% trans "Sign Up" %}
                        </h3>
                        <p>
                            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
                        </p>
                        <form class="signup"
                              id="signup_form"
                              method="post"
                              action="{% url 'site:account_signup' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="d-grid">
                                <button type="submit" class="primaryAction btn btn-primary" id="submit-btn">
                                    <i class="fa-solid fa-user-plus"></i> {% trans "Sign Up" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/password-toggle.js' %}"></script>
        <script src="{% static '/scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
