{% extends "kagi/base.html" %}
{% load static django_bootstrap5 compress %}
{% block sub_sub_content %}
    <h3>Add WebAuthn Key</h3>
    <p>
        To add a security key to your account, insert it, tap the button below, and accept the browser prompt to add the key.
    </p>
    <form id="webauthn-provision-form" name="register" method="get">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="webauthn-provision-begin"
                name="submit"
                class="btn btn-primary"
                type="submit">Add WebAuthn Key</button>
    </form>
{% endblock sub_sub_content %}
{% block extra_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static '/scripts/webauthn.js' %}?v=2"></script>
    {% endcompress %}
{% endblock extra_body %}
