{% extends "dashboard/account_edit.html" %}
{% load static compress %}
{% block extra_body %}
    <script src="{% static '/scripts/load-local-variables.js' %}?_=2023112700"
            data-begin-activate="{% url 'kagi:begin-activate' %}"
            data-begin-assertion="{% url 'kagi:begin-assertion' %}"
            data-verify-credential-info="{% url 'kagi:verify-credential-info' %}"
            data-verify-assertion="{% url 'kagi:verify-assertion' %}"
            data-keys-list="{% url 'kagi:webauthn-keys' %}"></script>
    {% compress js %}
        <script src="{% static '/kagi/base64js.min.js' %}"></script>
        <script src="{% static '/scripts/kagi.js' %}"></script>
    {% endcompress %}
    {{ block.super }}
    <div id="webauthn-undefined-error" style="display: none">
        This browser is not among the <a href="https://caniuse.com/webauthn" target="_blank">list of browsers that support WebAuthn security keys.</a>
    </div>
{% endblock extra_body %}
