{% extends "kagi/base.html" %}
{% load static compress %}
{% block sub_sub_content %}
    <h1>TOTP (Authenticator) Devices</h1>
    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Added on</th>
                    <th>Last used on</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for device in object_list %}
                    <tr>
                        <td>{{ device.created_at }}</td>
                        <td>
                            {% if device.last_used_at %}
                                <span class="date-utc" data-date="{{ device.last_used_at|date:'c' }}">{{ device.last_used_at }} UTC</span>
                            {% else %}
                                Never
                            {% endif %}
                        </td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input name="device_id" type="hidden" value="{{ device.pk }}">
                                <button class="btn btn-danger" type="submit" name="delete">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <i class="fa-solid fa-triangle-exclamation	"></i> You do not have any TOTP (Authenticator) device!
        </p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'kagi:add-totp' %}">Add a TOTP (Authenticator) Device</a>
{% endblock sub_sub_content %}
{% block extra_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static '/scripts/dashboard/date_to_local.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
