{% extends "kagi/base.html" %}
{% load django_bootstrap5 %}
{% block sub_sub_content %}
    <h3>Add a TOTP (Authenticator) device</h3>
    <p>Scan this in your authenticator app:</p>
    <a href="{{ otpauth }}">{{ qr_svg|safe }}</a>
    <p>
        Or, if you can't scan a QR Code, enter this key as a time-based account:
        <br />
        <a href="{{ otpauth }}"><tt>{{ base32_key }}</tt></a>
    </p>
    <p>Then, enter the token it gives you.</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="base32_key" value="{{ base32_key }}">
        <button class="btn btn-primary" value="backup" name="type" type="submit">Submit</button>
    </form>
{% endblock sub_sub_content %}
