{% extends "kagi/base.html" %}
{% load static django_bootstrap5 compress %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h3 class="card-title text-center mb-5">2FA Verification</h3>
                        <p>Please verify one of the authentication methods below.</p>
                        {% if forms.webauthn %}
                            <form id="webauthn-auth-form">
                                {% csrf_token %}
                                <div id="webauthn-error" style="color: red"></div>
                                <div id="webauthn-feature" class="d-grid">
                                    <button class="btn btn-primary submit-btn"
                                            id="webauthn-auth-begin"
                                            name="submit"
                                            type="submit">Tap here to log in with your WebAuthn key</button>
                                </div>
                            </form>
                        {% endif %}
                        {% if forms.totp %}
                            {% if forms.webauthn %}<hr />{% endif %}
                            <div class="method totp">
                                <p>Enter an Authenticator (TOTP) Token:</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form forms.totp %}
                                    <div class="d-grid">
                                        <button class="btn btn-primary submit-btn"
                                                value="totp"
                                                name="type"
                                                type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        {% if forms.backup %}
                            {% if forms.webauthn or forms.totp %}<hr />{% endif %}
                            <div class="method backup">
                                <p>Use a backup code:</p>
                                <form method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form forms.backup %}
                                    <div class="d-grid">
                                        <button class="btn btn-primary submit-btn"
                                                value="backup"
                                                name="type"
                                                type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static '/vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static '/scripts/webauthn.js' %}?v=2"></script>
        <script src="{% static '/scripts/account/verify_second_factor.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
