{% extends "account/email/base_message.html" %}
{% block main %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        You're receiving this email because you requested your user account at {{ current_site.name }} to be deleted.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Please go to the following page to confirm your wish:</p>
    {% block reset_link %}
        <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
            <a style="color: #0d47a1" href="{{ account_deletion_url }}">{{ account_deletion_url }}</a>
        </p>
    {% endblock reset_link %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Sad to see you go!</p>
{% endblock main %}
{% block greeting %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">The {{ current_site.name }} team</p>
{% endblock greeting %}
