{% extends "account/email/base_message.html" %}
{% block main %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        You are receiving this email because you or someone else tried to signup for an
        account using email address:
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">{{ email }}</p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        However, an account using that email address already exists.  In case you have
        forgotten about this, please use the password forgotten procedure to recover
        your account:
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        <a style="color: #0d47a1" href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    </p>
{% endblock main %}
