{% extends "account/email/base_message.html" %}
{% block main %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        You're receiving this e-mail because you or someone else has given yours as an e-mail address to connect their account.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">To confirm this is correct, click the link below:</p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        <a style="color: #0d47a1" href="{{ activate_url }}">{{ activate_url }}</a>
    </p>
{% endblock main %}
{% block greeting %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Welcome to {{ current_site.name }}!</p>
{% endblock greeting %}
