{% extends "account/email/base_message.html" %}
{% block main %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        You're receiving this email because you or someone else has requested a password reset for your user account.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        It can be safely ignored if you did not request a password reset.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Click the link below to reset your password.</p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        <a style="color: #0d47a1" href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    </p>
    {% if username %}
        <p style="margin: 1.5rem 0;overflow-wrap: break-word;">In case you forgot, your username is {{ username }}.</p>
    {% endif %}
{% endblock main %}
