{% extends "account/email/base_message.html" %}
{% block main %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Hi!</p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        You're receiving this e-mail because you or someone else has requested a password reset for an account on {{ current_site.name }}.
        <br />
        However, your e-mail address "{{ email }}" is not in our database of registered users and therefore the attempted password reset has failed.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        If you are one of our users and were expecting this e-mail, please try again with an e-mail address you registered with our service, or you can sign up for an account using the link below.
    </p>
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">
        <a style="color: #0d47a1" href="{{ signup_url }}">{{ signup_url }}</a>
    </p>
{% endblock main %}
{% block greeting %}
    <p style="margin: 1.5rem 0;overflow-wrap: break-word;">Kind regards from {{ current_site.name }}</p>
{% endblock greeting %}
