{% load hijack hosts %}
{% if request.user|can_hijack:another_user %}
    <button type="button"
            class="button"
            style="padding: 2px 5px;
                   font-weight: bold"
            data-hijack-user="{{ another_user.pk }}"
            data-hijack-next="{{ next }}"
            data-hijack-url="{% host_url 'hijack:acquire' host 'admin' %}">
        {% if is_user_admin %}
            HIJACK
        {% else %}
            Hijack {{ username }}
        {% endif %}
    </button>
{% endif %}
