{% load static %}{% load django_bootstrap5 %}{% load raven %}{% load hosts %}<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    {% block favicon %}<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">{% endblock %}
    <meta name="apple-mobile-web-app-title" content="Routechoices">
    <meta name="application-name" content="Routechoices">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{% block head_description %}{{site.name}} is a free and open source live GPS tracking solution for orienteering events. View the competitors locations in the forest on your computer or phone screen.{% endblock %}">
    <title>{% block head_title %}{{site.name}} | Live GPS tracking for orienteering{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap-5.1.1/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap_sweetalert-1.0.1/sweetalert.css' %}"/>
    <link rel="stylesheet" href="{%  static '/vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/site.css' %}?_=2022012300" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}?_=2021111100" />
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <!-- Fixed navbar -->
    {% block navbar %}
    {% if request.club_slug %}
    {% include "club/navbar.html" %}
    {% else %}
    {% include "navbar.html" %}
    {% endif %}
    {% endblock %}
    {% bootstrap_messages %}
    <div class='notifications top-right'></div>
    <div class="container content">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
        {% if request.club_slug %}
        {% include "club/footer.html" %}
        {% else %}
        {% include "footer.html" %}
        {% endif %}
        {% endblock %}
    {% endblock %}
    <script
      src="https://browser.sentry-cdn.com/6.10.0/bundle.min.js"
      integrity="sha384-nsIkfmMh0uiqg+AwegHcT1SMiPNWnhZmjFDwTshLTxur6ZPNaGT8vwT+vHwI5Jag"
      crossorigin="anonymous">
    </script>
    <script
      src="https://browser.sentry-cdn.com/6.10.0/bundle.tracing.min.js"
      integrity="sha384-WPWd3xprDfTeciiueRO3yyPDiTpeh3M238axk2b+A0TuRmqebVE3hLm3ALEnnXtU"
      crossorigin="anonymous">
    </script>
    <script src="{% static '/vendor/bootstrap-5.1.1/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap_sweetalert-1.0.1/sweetalert.min.js' %}"></script>
    {% if enable_analytics %}
    <!-- Matomo -->
    <script src="{% static '/scripts/analytics.js' %}?_=2021100100"></script>
    <noscript><p><img src="https://stats.io.rphlo.com/revmatomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    {% endif %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
