{% load static %}{% load bootstrap3 %}{% load raven %}{% load hosts %}<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Routechoices">
    <meta name="application-name" content="Routechoices">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block head_title %}{{site.name}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/vendor/bootstrap-3.4.0/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{%  static '/vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />
    {% block extra_head %}
    {% endblock %}
    <style>
      /* oswald-regular - latin_latin-ext */
      @font-face {
        font-family: 'Atkinson-Hyperlegible-Bold-102';
        font-style: normal;
        font-weight: 400;
        src: local('Atkinson Hyperlegible Bold 102'), local('Atkinson-Hyperlegible-Bold-102'),
             url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff2' %}") format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
             url("{% static '/fonts/Atkinson-Hyperlegible-Bold-102.woff' %}") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      .site-name{
          font-family: 'Atkinson-Hyperlegible-Bold-102', sans-serif;
          white-space: nowrap;
      }
    </style>
  </head>
  <body>
    {% bootstrap_messages %}
    {% block body %}
    <div class='notifications top-right'></div>
    <!-- Fixed navbar -->
    {% include "navbar.html" %}
    <div class="container content">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="{% host_url 'site:home_view' host 'www'%}">Home</a></li>
                        <li><a href="{% host_url 'site:events_view' host 'www'%}">Events</a></li>
                        <li><a href="{% host_url 'site:tracker_view' host 'www'%}">Trackers</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="{% host_url 'site:pricing_view' host 'www'%}">Pricing</a></li>
                        <li><a href="{% host_url 'site:tos_view' host 'www'%}">Term of service</a></li>
                        <li><a href="{% host_url 'site:privacy_policy_view' host 'www'%}">Privacy policy</a></li>
                        <li><a href="{% host_url 'site:contact_view' host 'www'%}">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <!--<h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul> -->
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p>{{site.name}} is a live GPS tracking solution for orienteering events.</p>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo site-name"><a href="{% host_url 'site:home_view' host 'www'%}"><img src="{% static 'img/logo.svg' %}" alt="_" height="35px"> {{site.name}}</a></h2>
                <!--<div class="social-icons">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>-->
            </div>
        </div>
    </footer>
    <!-- Footer -->
    {% endblock %}
    {% endblock %}
    <script
      src="https://browser.sentry-cdn.com/5.27.4/bundle.min.js"
      integrity="sha384-yUnxX3o5D7+yEEIKDXlpygg+0Q2LdyklXwZVWUjc6fohGisYvhpyQbRvNYaDGtvU"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://browser.sentry-cdn.com/5.27.4/bundle.tracing.min.js"
      integrity="sha384-C4FnDB434rh858hdUT1O7fV7zJMZAUKKtHMBPeJjZZrlnf0lmZkWDMV+rAHEq+6b"
      crossorigin="anonymous"
    ></script>
    <script>
    Sentry.init({
      dsn: "https://90a1a7dd37134928b5a981eeb3a20293@o91052.ingest.sentry.io/198396",
      integrations: [new Sentry.Integrations.BrowserTracing()],
      tracesSampleRate: 0.05,
    });
    </script>
    <script src="{% static '/vendor/jquery-1.11.1/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap-3.4.0/js/bootstrap.min.js' %}"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <!-- Panelbear Analytics - We respect your privacy -->
    <script async src="https://cdn.panelbear.com/analytics.js?site=JsBR7lF0TQD"></script>
    <script>
        window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
        panelbear('config', { site: 'JsBR7lF0TQD' });
    </script>
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
