{% load static hosts %}
<footer id="myFooter">
    <div class="container">
        <div class="row mb-0">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li>
                        <a href="{% host_url 'site:home_view' host 'www' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:events_view' host 'www' %}">Events</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:trackers_view' host 'www' %}">Trackers</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:pricing_view' host 'www' %}">Pricing</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:tos_view' host 'www' %}">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Useful links</h5>
                <ul>
                    <li>
                        <a href="https://github.com/routechoices">Source Code</a>
                    </li>
                    <li>
                        <a href="https://routechoices.statuspage.io">Services Status</a>
                    </li>
                    <li>
                        <a href="https://routechoices.eo.page/newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:contact_view' host 'www' %}">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:privacy_policy_view' host 'www' %}">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 info">
                <h5>Information</h5>
                <p>{{ site.name }} is a free and open source live GPS tracking solution for orienteering events.</p>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <div class="container">
            <h2 class="logo site-name">
                <a href="{% host_url 'site:home_view' host 'www' %}">
                    <img src="{% static 'img/logo.svg' %}"
                         alt="Site logo"
                         height="35"
                         width="48.52"
                         style="vertical-align: text-bottom">
                {{ site.name }}</a>
            </h2>
            <div class="social-icons">
                <a href="https://github.com/routechoices"
                   class="github"
                   aria-label="Github"><i class="fa-brands fa-github"></i></a>
                <a href="https://instagram.com/routechoiceslivegps"
                   class="instagram"
                   aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
