
{% load static %}
{% load hosts %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand site-name" href="{% host_url 'site:events_view' host 'www' %}"><span style="display:inline-block;"><img src="{% static 'img/logo.svg' %}" alt="_" height="25px"></span> {{site.name}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}<li><a href="{% host_url 'site:home_view'%}">Dashboard</a></li>{% endif %}
          <li><a href="{% host_url 'site:events_view' host 'www'%}">Events</a></li>
          <li><a href="{% host_url 'site:tracker_view' host 'www'%}">Trackers</a></li>
          <li><a href="{% host_url 'site:pricing_view' host 'www'%}">Pricing</a></li>
          <li><a href="{% host_url 'site:contact_view' host 'www'%}">Contact us</a></li>
          <li>{% if user.is_authenticated %}<a href="{% host_url 'account_logout' host 'www'%}" style="margin-left: 0px;padding: 8px 0 0 0;"><button type="button" class="btn btn-danger navbar-btn" style="margin-top: 0">Logout</button></a>{% else %}<a href="{% host_url 'account_login' host 'www' %}" style="margin-left: 0px;padding: 8px 0 0 0;"><button type="button" class="btn btn-primary navbar-btn" style="margin-top: 0;margin-right:5px">Login</button></a>{% endif %}</li>
          {% if not user.is_authenticated %}<li><a href="{% host_url 'account_signup' host 'www'%}" style="margin-left: 0px;padding: 8px 0 0 0;"><button type="button" class="btn btn-success navbar-btn" style="margin-top: 0">Sign up for free</button></a></li>{% endif %}
        </ul>
      </div>
    </div>
</nav>
{% endblock %}