/* atkinson-hyperlegible-regular - latin-ext_latin */
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}
/* atkinson-hyperlegible-700 - latin-ext_latin */
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}
/* atkinson-hyperlegible-italic - latin-ext_latin */
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}
/* atkinson-hyperlegible-700italic - latin-ext_latin */
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

.site-name {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  white-space: nowrap;
}
