@font-face {
  font-family: "Atkinson-Hyperlegible-Bold-102";
  font-style: normal;
  font-weight: 400;
  src: local("Atkinson Hyperlegible Bold 102"),
    local("Atkinson-Hyperlegible-Bold-102"),
    url("../fonts/Atkinson-Hyperlegible-Bold-102.woff2") format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-Bold-102.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Atkinson-Hyperlegible-Regular-102";
  font-style: normal;
  font-weight: 400;
  src: local("Atkinson Hyperlegible Regular 102"),
    local("Atkinson-Hyperlegible-Regular-102"),
    url("../fonts/Atkinson-Hyperlegible-Regular-102.woff2") format("woff2"),
    url("../fonts/Atkinson-Hyperlegible-Regular-102.woff") format("woff");
  font-display: swap;
}

.site-name {
  font-family: "Atkinson-Hyperlegible-Bold-102", sans-serif;
  white-space: nowrap;
}
