/* oswald-regular - latin_latin-ext */
@font-face {
    font-family: 'Atkinson-Hyperlegible-Bold-102';
    font-style: normal;
    font-weight: 400;
    src: local('Atkinson Hyperlegible Bold 102'), local('Atkinson-Hyperlegible-Bold-102'),
         url('../fonts/Atkinson-Hyperlegible-Bold-102.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.site-name{
    font-family: 'Atkinson-Hyperlegible-Bold-102', sans-serif;
    white-space: nowrap;
}
