@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Twemoji Country Flags";
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067,
    U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url("../fonts/twemoji-country-flags.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

html {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  padding-top: 0px;
}

.flags-polyfill {
  font-family: "Twemoji Country Flags", var(--bs-body-font-family);
}

.site-name {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
  padding-bottom: 30px;
  padding-top: 15px;
}

#myFooter {
  background-color: #3a3f46;
  color: white;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .info {
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 1.7rem;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float: right;
}

#myFooter .github:hover {
  color: #ffffff;
}

#myFooter .instagram:hover {
  color: #c226cd;
}

#myFooter .twitter:hover {
  color: #00aced;
}

.loginBtn {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  #myFooter .info {
    text-align: center;
  }
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#myFooter .logo {
  margin-top: 10px;
}

#myFooter .second-bar .logo a {
  color: white;
  font-size: 1.7rem;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter .logosmall {
  margin-top: 5px;
}

#myFooter .second-bar .logosmall a {
  color: white;
  font-size: 1.15rem;
  float: left;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 3px 0;
  padding: 0;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand.navbarchimey {
  color: #18bc98;
}

.navbar-brand.navbarchimey:hover {
  color: #13967d;
}

.padded-multiline {
  line-height: 1.4;
  padding: 2px 0;
  margin: 0 0 0.5em 10px;
  max-width: calc(100% - 20px);
}

.padded-multiline span {
  background-color: #000;
  color: #fff;
  display: inline;
  padding: 0.45rem 20px;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.dark-link {
  color: var(--bs-body-color);
}

.dark-link:hover {
  color: var(--bs-secondary-color);
}

.if-navbar-toggled {
  display: block;
}

.if-navbar-not-toggled {
  display: none;
}

.navbar-expand-lg .dashboard-navbar-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.theme-selector {
  margin: 6px 0px;
  padding: 0;
  border: 0;
  height: 1.5rem;
  width: 1rem;
  background: #111 !important;
}

.theme-selector > svg {
  width: 1rem;
  height: 1rem;
  fill: #fff;
  padding: 0;
  margin: 0;
}
.base-svgs {
  display: none;
}
.navbarTooltip {
  z-index: 110001 !important;
  --bs-tooltip-bg: #fff;
  --bs-tooltip-color: #000;
  pointer-events: none;
}

@media (min-width: 576px) {
  .navbar-expand-sm .if-navbar-toggled {
    display: none;
  }

  .navbar-expand-sm .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .if-navbar-toggled {
    display: none;
  }

  .navbar-expand-md .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 992px) {
  .theme-selector {
    margin-left: 7px;
    width: 1.5rem;
  }
  .navbar-expand-lg .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-lg .if-navbar-not-toggled {
    display: block;
  }
  .navbar-expand-lg .dashboard-navbar-link {
    margin-bottom: 0;
    margin-top: 0;
  }

  .navbar-expand-lg .loginBtn {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-xl .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 1400px) {
  .navbar-expand-xxl .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-xxl .if-navbar-not-toggled {
    display: block;
  }
}

#django-messages .alert {
  border-radius: 0;
  margin-bottom: 0;
}

[data-bs-theme="light"] {
  color-scheme: light;
  --rc-color-from-trans: rgba(255, 255, 255, 1);
  --rc-color-to-trans: rgba(255, 255, 255, 0.3);
  --rc-color-to-trans2: rgba(255, 255, 255, 0.75);
  --rc-gradient-filter: rgba(0, 0, 0, 0);
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --rc-color-from-trans: rgba(0, 0, 0, 1);
  --rc-color-to-trans: rgba(0, 0, 0, 0.3);
  --rc-color-to-trans2: rgba(0, 0, 0, 0.75);
  --rc-gradient-filter: rgba(0, 0, 0, 0.3);
}

.sweet-alert {
  background-color: var(--bs-body-bg);
}

.tempus-dominus-widget {
  background-color: var(--bs-secondary-bg) !important;
}
.tempus-dominus-widget .arrow::before {
  background-color: var(--bs-secondary-bg) !important;
}
.tempus-dominus-widget .toolbar div:hover {
  background: var(--bs-dark-bg-subtle) !important;
}
.tempus-dominus-widget .date-container-decades div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-years div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-months div:not(.no-highlight):hover,
.tempus-dominus-widget .date-container-days div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-clock div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-hour div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-minute div:not(.no-highlight):hover,
.tempus-dominus-widget .time-container-second div:not(.no-highlight):hover {
  background: var(--bs-dark-bg-subtle) !important;
}
