@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-regular.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/atkinson-hyperlegible-v10-latin-ext_latin-700italic.svg#AtkinsonHyperlegible")
      format("svg"); /* Legacy iOS */
}

html {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  padding-top: 0px;
  background-color: #f8f9fa;
}

.site-name {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  white-space: nowrap;
}

.content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.bg_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: 1s opacity;
  object-fit: contain;
  vertical-align: baseline;
  background: transparent url("../background.jpg") 50% 50% / cover no-repeat;
}

.video_cover {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: rgb(20, 30, 50, 0.5);
}

.video_text_overlay {
  color: #eee;
}

.frontpage_text {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.frontpage_text_bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
}

#myFooter {
  background-color: #3a3f46;
  color: white;
}

#myFooter .row {
  margin-bottom: 60px;
}

#myFooter .info {
  color: #afb0b1;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .second-bar {
  text-align: center;
  background-color: #33373e;
  text-align: center;
}

#myFooter .second-bar a {
  font-size: 22px;
  color: #9fa3a9;
  padding: 10px;
  transition: 0.2s;
  line-height: 68px;
}

#myFooter .second-bar a:hover {
  text-decoration: none;
}

#myFooter .social-icons {
  float: right;
}

#myFooter .github:hover {
  color: #ffffff;
}

#myFooter .instagram:hover {
  color: #c226cd;
}

#myFooter .twitter:hover {
  color: #00aced;
}

.loginBtn {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  #myFooter .info {
    text-align: center;
  }

  .loginBtn {
    margin-bottom: 5px;
  }
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#myFooter .logo {
  margin-top: 10px;
}

#myFooter .second-bar .logo a {
  color: white;
  font-size: 28px;
  float: left;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}

#myFooter .logosmall {
  margin-top: 5px;
}

#myFooter .second-bar .logosmall a {
  color: white;
  font-size: 17px;
  float: left;
  font-weight: bold;
  line-height: 35px;
  margin: 0 0 3px 0;
  padding: 0;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand.navbarchimey {
  color: #18bc98;
}

.navbar-brand.navbarchimey:hover {
  color: #13967d;
}

.wms256 .leaflet-tile-container img {
  width: 256.5px !important;
  height: 256.5px !important;
}

.wms512 .leaflet-tile-container img {
  width: 512.5px !important;
  height: 512.5px !important;
}

.padded-multiline {
  line-height: 1.4;
  padding: 2px 0;
  margin: 20px auto 0.5em 15px;
  max-width: calc(100% - 35px);
}

.padded-multiline span {
  background-color: #000;
  color: #fff;
  display: inline;
  padding: 0.45rem 20px;

  /* Needs prefixing */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.image-banner2 {
  background-image: url("../img/banner2.jpg"); /* fallback for non image-set browser */
  background-image: -webkit-image-set(
    url("../img/banner2.avif") 1x /* type("image/avif") */,
    url("../img/banner2.webp") 1x /* type("image/webp") */,
    url("../img/banner2.jpg") 1x /* type("image/png") */
  );
  background-image: image-set(
    url("../img/banner2.avif") 1x,
    url("../img/banner2.webp") 1x,
    url("../img/banner2.jpg") 1x
  );
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark-link {
  color: var(--bs-gray-900);
}

.dark-link:hover {
  color: var(--bs-gray-700);
}

.if-navbar-toggled {
  display: block;
}
.if-navbar-not-toggled {
  display: none;
}

@media (min-width: 576px) {
  .navbar-expand-sm .if-navbar-toggled {
    display: none;
  }

  .navbar-expand-sm .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .if-navbar-toggled {
    display: none;
  }

  .navbar-expand-md .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-lg .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-xl .if-navbar-not-toggled {
    display: block;
  }
}

@media (min-width: 1400px) {
  .navbar-expand-xxl .if-navbar-toggled {
    display: none;
  }
  .navbar-expand-xxl .if-navbar-not-toggled {
    display: block;
  }
}
